[2019-01-10 22:45] PeterCaldwell commented on #2680
Dave told me this weird definition is an ancient practice from nonhydrostatic modeling which was supposed to be more computationally efficient...

[2019-01-11 13:41] mrnorman opened #2684 "Make pcols respond to machine and compiler in CAM bld"
For ECP, we need a large value for PCOLS to have large kernels for the MMF. The default is 16, and we've now set 256 as default for the ECP repo. It would be good to have this respond to the CIME compiler and machine if desired.

[2019-01-11 18:12] AaronDonahue commented on #2680
I did a little digging and it looks like the surface coupling value `thbot` that is used with this definition of exner is used to determine the stability of the solution in the ATM->OCN coupling.  Since it is over the ocean there is probably not too much deviation in PS from P0 so this might be why the strange definition isn't too much of a problem.

That being said, I grabbed a 10 year ne30 clima

[2019-01-14 03:13] minxu74 opened #2687 "Minor bugs in WaterBudgetMod.F90"
Tried to build latest E3SM with PGI, GNU and IBM compilers on Summit and found minor bugs in WaterBudgetMod.F90 as follows:

- Line 464, 474, and 482, there is an extra comma right following the "write" statement.
[code]
- Line 506-507, there are two signs "+-" before "budg_stateG(s_w_errh2o ,ip)"
[code]
PGIand GNU compilers will NOT generate errors but IBM compiler will treat them as server error

[2019-01-15 18:11] jgfouca commented on #2540
This was fixed a while ago.

[2019-01-15 18:11] #2540 closed

[2019-01-15 18:12] jgfouca commented on #2562
This was fixed a while ago by a CIME merge last fall.

[2019-01-15 18:12] #2562 closed

[2019-01-15 18:27] ndkeen opened #2692 "Various tests failing unless we set finidat='' (that were not failing before)"
For example, the following tests fail on cori-knl (I doubt it is machine dependent), but will run if I add finidat='' to user_nl_clm

`SMS_PT_Ld2.ne120_ne120.FC5AV1C-H01A`
`SMS_Ld5.ne11_ne11.FC5AV1C-L`
`SMS_PT.ne30_oECv3_ICG.A_WCYCL1950S_CMIP6_LRtunedHR`

The actual error is:
[code]
Note these tests are using a repo with some updated modules on cori, but I've also seen the same behavior with defau

[2019-01-15 22:00] #2635 closed

[2019-01-16 22:45] AaronDonahue commented on #2680
**UPDATE**
I did some more searching around and took a look at the other dycores and how they handle the "Exner" expression.  The short summary is, they all handle it in basically the same way.  The longer explanation:

The Eulerian (EUL), Semi-Lagrangian (SLD) and Spectral Element (SE) dycores all use the exact same expression for the definition of exner as Peter noted in the original issue state

[2019-01-18 20:00] #2648 closed

[2019-01-21 18:33] #2565 closed

[2019-01-21 21:20] mt5555 opened #2697 "integer array overflows with 3km and higher resolutions in HOMME"
Recent attempts to generate template files using the standalone HOMME fortran utility have identified several failures due to integer overflow.

These experiments are with the test/template/makegrid.job utility, which uses 20L.  Any HOMME native grid output will have the same issues.

NE=512:    everything works
NE=1024:   crashes due to violating netcdf formats.  This can be fixed by adopting net

[2019-01-21 21:34] rljacob commented on #2697
@jayeshkrishna see above re: PIO

[2019-01-21 21:42] rljacob commented on #2697
Recall from our discussion of NetCDF/Pnetcdf, If your netcdf utility is built with netCDF >= 4.6.1, it can read CDF5 (64BIT_DATA).

[2019-01-21 21:47] mt5555 commented on #2697
I'm still testing some fixes - but so far it looks like PIO is ready for these large files and the issues are in the standalone HOMME interface.  I'll bet EAM will have the same issues.

[2019-01-21 22:09] mt5555 commented on #2697
confirmed: EAM has the same problem as standalone HOMME, in that the "dof" array used to initialize PIO will need to be upgraded to integer*8.

In EAM, this will crash for NE=1024, and nlev>21.  That's when the number of grid points will be larger than 2^31.

[2019-01-21 23:17] mt5555 opened #2698 "integer array overflows with 3km and higher resolutions in EAM"
EAM has the same problem as standalone HOMME, issue #2697
For 3km at larger grids (NE=1024), the following fixes will be necessary (but may not be sufficient, as EAM may have other issues as well at these resolutions)

1) For all calls to pio_initdecomp(), the "dof" array needs to be integer\*8 (PIO_OFFSET_KIND)
The computations for dof() need to be done as integer\*8, although the individual vari

[2019-01-22 17:25] darincomeau opened #2702 "Compsets with ISMF failing ERS tests"
The following compsets with ice shelf melt fluxes on (ISMF) are failing ERS tests:

A_WCYCL1850-DIB-ISMF_CMIP6
GMPAS-DIB-IAF-ISMF

@mark-petersen has confirmed that in MPAS-Ocean standalone, configurations with ice shelf melt fluxes on do pass exact restart tests (for the oEC60to30v3wLI grid).

[2019-01-22 19:11] mark-petersen commented on #2702
I tested MPAS-Ocean stand-alone, using ice shelf cavities and melt fluxes on, but for the QU240 resolution.  I get exact match between 12 hour restart files, after a single 12 hour run compared with two sequential 6-hour runs.

Do you know if the E3SM ERS tests pass when melt fluxes are off, i.e. with the flag
`config_land_ice_flux_mode = 'pressure_only'`

[2019-01-22 19:12] jonbob commented on #2702
@mark-petersen - I'll test that

[2019-01-22 19:37] jonbob commented on #2702
@mark-petersen - it does pass in E3SM when melt fluxes are off

[2019-01-22 21:00] mark-petersen commented on #2702
Could you point me to the directories for those tests so I can poke around?

[2019-01-22 21:22] jonbob commented on #2702
Sure. On anvil there's a test at /lcrc/group/acme/jwolfe/acme_scratch/anvil/ERS.T62_oEC60to30v3wLI.GMPAS-IAF-ISMF.anvil_intel.20190122_114959_txleb6 that has both salinity restoring and the melt fluxes off. I had used this same test with melt fluxes on previously

[2019-01-22 22:22] golaz opened #2704 "Conservation problems for non-water species"
From Peter Lauritzen via @PeterCaldwell:

[2019-01-22 22:46] susburrows commented on #2704
This is a critical bug for longer prognostic CO2 simulations.  We will need it fixed for v2.  Flagging @kvcalvin .

[2019-01-25 00:00] mt5555 commented on #2697
two additional issues found with further testing:

1. on KNL, I/O would hang, traced to a flow control issue.  code changes will be needed to turn on flow control.

2. non-scalable array in SetElemOffset() during initialization.  3 integer arrays, each of size nelem.  simple code change reduced this to 2 arrays.  for NE=3072, these requires 0.75GB per MPI task, on on Cori (64 MPI tasks per node),

[2019-01-25 04:19] mark-petersen commented on #2702
@xylar I looked through every variable that is used when melt fluxes are on in MPAS-O:
`src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F`

I'm trying to find a variable that:
1. should be added to coupler restart.
2. is passed through the coupler but with a delay.
3. should be in MPAS-O restart
4. is uninitialized.

We can then retest the exact restart test with the suspicious variables in

[2019-01-25 11:18] xylar commented on #2702
@jonbob, it looks like something went weird with permissions.  Could you chmod the NetCDF files in:
[code]
so I can take a look at them?

[2019-01-25 11:38] xylar commented on #2702
@mark-petersen asked:

No, it appears that melt fluxes are on:
[code]

It would be useful to do a test with `config_land_ice_flux_mode = 'pressure_only'` to try to isolate the restart issue to the melt fluxes themselves.

Could someone point me to instructions on how to run one of these test cases myself?

[2019-01-25 12:01] xylar commented on #2702
@rljacob wrote:

No, for now the melt fluxes are computed internally in MPAS-O and the coupler isn't involved so that shouldn't the the issue here.

[2019-01-25 13:32] xylar commented on #2702
Could someone help me with running the test myself.  I'm getting a bunch of errors:
<details>
<summary> Error log </summary> <p>

[code]
</p>
</details>

[2019-01-25 15:58] darincomeau commented on #2702
@xylar the default settings for this test use a PE layout that doesn't have a sea ice graph partition file, so you'll need to change it in the case directory to one that exists, then rebuild and resubmit. If you're testing the G-case, you'll also want to turn off salinity restoring, since that will currently cause the test to fail.

You may also want to test the B-case, which should run out of the

[2019-01-28 21:46] mark-petersen commented on #2702
Hmm..  I get a bfb restart match in MPAS-Ocean stand-alone. Started with the same file as E3SM test, `oEC60to30v3wLI60lev.171031.nc` in MPAS-O, with melt fluxes on.

I have reproduced the E3SM ERS test on edison (both intel and gnu).  I can test further from there.

[2019-01-29 14:04] mark-petersen commented on #2702
FYI, I am able to reproduce the restart mismatch in the ERS test, then setting these variables to zero within each loop in `mpas_ocn_surface_land_ice_fluxes.F`, it passes the ERS test.  I'll know which are causing the mismatch later today.
[code]

[2019-01-29 15:31] oksanaguba opened #2711 "Propagate vertical remap bugfix to hommexx"
The same bug as in #2709 is in hommexx. Someone needs to fix it eventually, not urgent.

[2019-01-30 13:47] mark-petersen commented on #2702
@jonbob I'm getting the following:
[code]
Could you confirm I did it right?  My directory is here:
[code]
and I can see the flag in mpaso_in.

That is really confusing, because I lost my ability to find the bug.  I'll continue debugging with the B case, as I did confirm an ERS PASS on that one.

[2019-01-30 15:32] jonbob commented on #2702
@mark-petersen - that looks right, but you'll have to change permissions on that directory for me to check more carefully

[2019-01-30 16:35] jonbob commented on #2606
I can get this to run by simply removing the seaice disk initial condition -- my test successfully ran 20 days last night. With the default seaice IC, I was seeing a negative cell thickness after about 9 hours of simulation time -- so I'm guessing there's one or two cells that maintain stability just from having some inflow from the melt fluxes.

[2019-01-30 16:40] darincomeau commented on #2702
@mark-petersen are you running this test with a current version of master, since other bug fixes affecting this compset (DIB restarts, salinity restoring) have been merged in the last few days?

[2019-01-30 16:50] mark-petersen commented on #2702
Good point.  I'm on Monday's commit.  Will try again with HEAD.

[2019-01-30 17:18] mt5555 commented on #2632
fixed via PR #2673

[2019-01-30 17:18] #2632 closed

[2019-01-30 17:56] mrnorman commented on #2698
The physics will also overflow, and I believe I've fixed it with:

[code]

[2019-01-30 20:37] darincomeau commented on #2606
Following @jonbob 's lead, I've got two runs out two months so far on Theta, with and without melt fluxes (GMPAS-IAF and GMPAS-IAF-ISMF). The only change I made was to reduce the sea ice initial condition boundary from +/- 75&deg; to +/-85&deg;:
`` config_initial_latitude_north = 85.0``
``config_initial_latitude_south = -85.0``
I'll try to run this out for a year to see if the instability arises.

[2019-01-31 04:24] sarats opened #2713 "mesh_mod.F90: Missing explict typing of constants"
On Summit using IBM compilers, I encountered the following build problem. This is similar to a previously encountered issue of explicit typing of constants (like 1.0d0): https://github.com/E3SM-Project/E3SM/issues/2365

As discussed previously, we need to catch these sooner when new code is added. An automated tool or compiling with stricter adherence to standards is preferred.

Generally speaking

[2019-01-31 15:53] mrnorman opened #2714 "HOMME not b4b over multiple PE layouts with cubed_sphere_map=2"
The theta-l dycore in HOMME is not b4b when you run multiple PE layouts. If I run on Summit with 42 tasks per node, it is b4b from run to run. However, that configuration is not b4b with 18 MPI tasks per node with 2 threads per task. I'm happy to help identify the offending code, but I wanted to have this documented on github at least. Namelist for this experiment is below:

[code]

[2019-01-31 16:02] rljacob commented on #2714
Do you mean 2 runs at 18 aren't bfb?  Or 18 and 42 are not bfb with each other?

[2019-01-31 16:05] mrnorman commented on #2714
(18 tasks, 2 threads per task) is not b4b with (42 tasks, 1 thread per task). Each is b4b with itself across multiple runs of the same config, but this would fail ERS when integrated into E3SM, I think.

[2019-01-31 16:05] mrnorman commented on #2714
Well, not ERS, but the one where we change the PE layout, I mean

[2019-01-31 16:28] #2713 closed, assigned to nobody

[2019-01-31 16:44] mt5555 commented on #2714
@oksanaguba has seen this also with PREQX, with some combinations of MPI tasks. For intel compilers, I think it turned out to be  sensitive to the -fp-model option.  IBM might have a similar issue.

And of course it's possible the theta-l model has introduced a non-reproducible MPI issue.

[2019-01-31 16:51] worleyph commented on #2714
@mrnorman , is the 42 task job built with FORCE_BUILD_SMP=TRUE? Might be worthwhile comparing two MPI-only experiments or two experiments both with threading (or setting FORCE_BUILD_SMP to true and trying again).

[2019-01-31 16:52] mrnorman commented on #2714
This is with standalone HOMME, and both instances are built with the -mp flag if that's what you mean.

[2019-01-31 16:53] worleyph commented on #2714
Yes. Thanks.

[2019-01-31 17:41] oksanaguba commented on #2714
Can you tell from the output which cubed_sphere_map is used? I think it was on about that. With preqx, the default map is 0 and you may have namelists with map 2. Map 2 won't be b4b but map 0 should be. You can also change it in the namelist and see whether with map 0 it goes away (or I will do this at some point, it does not have to be summit).

[2019-01-31 17:43] oksanaguba commented on #2714
By the way with preqx map 2 has this behavior, too. It is not about threads, this comes up from different mpg layouts.

[2019-01-31 17:48] mrnorman commented on #2714
My namelist doesn't specify cubed_sphere_map. Do I add this to the ctl_nl?

[2019-01-31 17:49] oksanaguba commented on #2714
Yes, I just looked and theta-l by default uses map 2. Change it in ctr_nl with  cubed_sphere_map=0 .

[2019-01-31 18:08] mt5555 commented on #2680
Assigning this to @AaronDonahue since I cant tell if this is a bug or just a poor naming convention.  At the very least we should rename it rexner_appox  (reciprocal approximation) so that it is not accidently used as exner pressure in the future.

[2019-01-31 18:19] mt5555 commented on #2698
adding link to Matt's PR for the physics restart fix in the ECP fork:

https://github.com/E3SM-Project/ACME-ECP/pull/77

[2019-01-31 18:35] mt5555 commented on #2714
Lets reopen this issue, since we are transitioning to cubed_sphere_map=2 for all future simulations ( when we transition to TempestRemap mapping files).  So this needs to be fixed at some point before v2.

[2019-01-31 18:37] mrnorman commented on #2714
Cool. Is it OK if I go ahead with map=0 for my GPU porting? Will it affect anything substantial?

[2019-01-31 18:43] mt5555 commented on #2714
Yes, cubed_sphere_map=0 is fine for standalone HOMME simulations.

[2019-01-31 19:56] rljacob commented on #2692
@thorntonpe and @bishtgautam ,  2 of our high-res test cases are failing because of the finidat change.  I don't think those are cases where we want to do a cold start so can you, Gautum, please remake the finidat files.

ne120_ne120.FC5AV1C-H01A
ne120_oRRS18v3_ICG.A_WCYCL2000_H01AS

[2019-01-31 20:15] jinyun1tang opened #2716 "Incorrect summary of this%hr_col(c) in computing soil heterotrophic respiration"
Currently in CNCarbonFluxType.F90, when doing the summary of this%hr_col(c) from adding respiration from litter and som decomposition, the sum is taken before each component is added up. This should be corrected to ensure this%hr_col(c) takes value from current time step.

[2019-01-31 20:16] #2716 closed

[2019-01-31 20:17] jinyuntang opened #2717 "Inconsistent summary this%hr_col(c) in land carbon fluxes"
Currently in CNCarbonFluxType.F90, when doing the summary of this%hr_col(c) from adding respiration from litter and som decomposition, the sum is taken before each component is added up. This should be corrected to ensure this%hr_col(c) takes value from current time step

[2019-01-31 20:59] oksanaguba commented on #2714
Found an old issue #2535 , but search by issues is not good, it did not come up, I had to scan the list of issues.

[2019-01-31 21:33] #2606 closed

[2019-01-31 21:33] #2654 closed

[2019-01-31 21:46] AaronDonahue commented on #2680
At the very least it seems like a poor naming convention, but it would be nice to hear from anyone in the Ocean group about whether or not it is also a bug since what we are calling the potential temperature `thbot` is really basically the temperature.

[2019-01-31 21:50] whannah1 opened #2719 "data ocean component in cam source directory is obsolete"
While working to resurrect the correct aquaplanet functionality (see issue #2383) I realized that the data ocean component in CIME:
`    cime/src/components/data_comps/docn/docn_comp_mod.F90`
is being used to set the SST, which was moved from the cam version
`    components/cam/src/utils/cam_dom/`
that can only be used in a "standalone cam" configuration, which I doubt anyone using E3SM would have

[2019-01-31 21:51] maltrud commented on #2680
at the ocean surface, potential temperature and in-situ temperature are the same.  our prognostic field is potential temp.  does this help?

[2019-02-04 16:44] mark-petersen commented on #2702
I ran a bunch of tests.  The bfb restart mismatch is caused by this line:
[code]
topDrag is computed here:
[code]
and it ended up that there is some restart mismatch in the kineticEnergyCell calculation here:
[code]
where we mix 5/8 cell + 3/8 vertex KE values.   Commenting this line out, or using _only_  `kineticEnergyVertexOnCells` lets us pass the B case bfb restart.  I don't see the root cause

[2019-02-04 16:56] xylar commented on #2702
@mark-petersen, wow, again nice detective work!  Could there be halo issues with `kineticEnergyVertexOnCells`?  Or perhaps isn't not being computed on init/restart?

[2019-02-04 22:06] xylar commented on #2702
Looking at the code, I would at least try doing a halo update on `kineticEnergyCell` and see if that solves the issue.  That may not be the long-term solution but it could at least verify that it's likely a halo issue.

[2019-02-05 16:13] bishtgautam commented on #2692
Hi @cameronsmith1, I'm generated new land initial condition files for few failing tests and compsets. I noticed that for the `A_WCYCL1950S_CMIP6_LRtunedHR`, I had generated the land IC file (`clmi.A_WCYCL1950S_CMIP6_LRtunedHR.ne30_oECv3_ICG_simyr1950_c20180316.nc`) by remapping a restart file that you had provided via:
[code]
Where can I find `20171208.beta3rc10_H1.ne30_oECv3_ICG.edison.clm2.r.195

[2019-02-05 16:20] PeterCaldwell commented on #2692
We used the beta3rc10 restart because the CMIP DECK wasn't available yet. I think for this new version we should use the restart for 1950 from a DECK historical run: https://acme-climate.atlassian.net/wiki/spaces/SIM/pages/537985236/DECKv1+historical+simulations . I'll try to figure out where exactly the needed file sits.

[2019-02-05 16:39] darincomeau commented on #2702
@xylar do you have a chance to test what you've proposed?

[2019-02-05 18:19] PeterCaldwell commented on #2692
Hi @bishtgautam - I extracted the clm2.r file for 1950 from the CMIP DECK historical simulation ensemble member 5 (the one started after the most PI spinup) and stuck it here for you to grab:
/global/cscratch1/sd/petercal/junk/ForGautam/archive/rest/1950-01-01-00000/20180307.DECKv1b_H5.ne30_oEC.edison.clm2.r.1950-01-01-00000.nc

Note that chmod and chgrp -R commands are still processing, so you ma

[2019-02-05 21:40] minxu74 opened #2725 "Gnu CPP will treat "vector" as a macro on the PowerPC64 architecture (Summit)"
The MPAS component uses the C pre-processor  (CPP) defined in the  "Makefile.in.$ESM" to process its source codes. The CPP is defined as "cpp -P -traditional" so generally the command cpp will be the Gnu C preprocessor located in /usr/bin/cpp.  On the PowerPC64 architecture like the Summit machine, the Gnu CPP will treat "vector" as a macro and cause the error as follows:
[code]
There are several

[2019-02-05 21:41] jonbob commented on #2702
@mark-petersen - in the second set of fixes, is that line 382 instead of 282?

[2019-02-05 22:21] jonbob commented on #2702
With the second set, the following passed:
* ERS.T62_oEC60to30v3wLI.GMPAS-IAF-ISMF.anvil_intel

I'm trying the B-case as well right now

[2019-02-05 22:46] mark-petersen commented on #2702
Yes, line 382 on the second set. I'll edit above.

[2019-02-06 01:02] PeterCaldwell commented on #2692
@bishtgautam - it took all day, but you should now have permissions to grab that file. ;-) Let me know if you have any trouble.

[2019-02-06 01:33] rljacob commented on #2725
I vote for letting the Fortran compiler handle the preprocessing.   The CIME Makefile should do that too.

[2019-02-06 04:16] mark-petersen commented on #2702
@jonbob could you give me the full `./create_test` command that you use on anvil?  How do you specify the core count - with `--pesfile`?

[2019-02-06 15:30] jonbob commented on #2702
@mark-petersen - you can use something like:
./create_test ERS_P480.T62_oEC60to30v3wLI.GMPAS-IAF-ISMF.anvil_intel

At least that works for a set number of processors, which is appropriate for the G-case. I'll have to test the B-case

[2019-02-06 15:33] jonbob commented on #2702
For B-cases, I'm testing the one-line create test that looks like this:
./create_test ERS.ne30_oECv3wLI.A_WCYCL1850-DIB-ISMF_CMIP6.anvil_intel --pesfile /lcrc/group/acme/jwolfe/acme_scratch/anvil/ERS.ne30_oECv3wLI.A_WCYCL1850-DIB-ISMF_CMIP6.anvil_intel.20190205_162126_suqqpp/env_mach_pes.xml

[2019-02-06 16:52] golaz opened #2727 "maint-1.0 cannot restart from DECKv1 restart files"
This problem was first discovered by @zshaheen and I have independently confirmed it.

While the `maint-1.0` branch does BFB reproduce piControl when starting from year 0001, it **cannot restart** from restart files archived from the **original simulation**. I was trying to rerun the model starting at year 0210 from restart files that were retrieved from HPSS. The model fails during initialization

[2019-02-06 17:05] rljacob commented on #2725
@jonbob also see above.

[2019-02-06 17:11] thorntonpe commented on #2727
In master as of mid-November, this variable was being written/read on restarts, but was not being used elsewhere in the code. There are at least two other examples of variables like this on master:
qflx_liq_dynbal_dribbler
qflx_ice_dynbal_dribbler

I would expect these to give you the same problems. A simple fix would be to add a "move on" check if readvar comes back .false. for any of these varia

[2019-02-06 17:47] bishtgautam commented on #2727
@thorntonpe, Since all three dribblers (`eflx_dynbal_dribbler`, `qflx_liq_dynbal_dribbler`, `qflx_ice_dynbal_dribbler`) are **not** used in the code, I propose we simply comment out their restart calls in a branch starting from maint-1.0. What do you say?

(Though, I wonder how the dribbler code got added to maint-1.0 in the first place).

[2019-02-06 18:00] mark-petersen commented on #2702
Here is my pass/fail list using master with a Feb 2 commit 71f4e1927 and mpas-source alterations at https://github.com/MPAS-Dev/MPAS-Model/pull/147, same as second set above: https://github.com/E3SM-Project/E3SM/issues/2702#issuecomment-460770082

Fail on all these means it ran, but in `TestStatus` I see `FAIL ... COMPARE_base_modpes`

**Exact Restart: B-Case Pass, G-Case Fail**
[code]

**PEM: All

[2019-02-06 18:02] golaz commented on #2727
@thorntonpe and @bishtgautam : thanks for the quick feedback. I'll try the code modifications suggested by @bishtgautam and report on them later.

[2019-02-06 18:08] #2523 closed

[2019-02-06 18:09] thorntonpe commented on #2727
@bishtgautam , I agree removing the restart calls is better.

[2019-02-06 18:18] rljacob commented on #2727
@thorntonpe what PR put added that?  It was Nov, 2018?

[2019-02-06 18:24] thorntonpe commented on #2727
@rljacob I don't know how/when that came on, or who added it. It is on master as of Nov 14, 2018. I can track it down later, if you'd like.

[2019-02-06 18:26] jonbob commented on #2702
@mark-petersen - can you please open the permissions on the PEM test directories? I'd like to look at them and see if I understand

[2019-02-06 19:18] bishtgautam commented on #2727
- The DECK experiments were run using master at 2e145ac from Jan 29, 2018.
- PR-#2024 added f618db1 (code related to three dribblers) to master on Feb 26, 2018.
- v1.0.0 was made on Apr 20, 2018.
This explains why the dribbler code is on maint-1.0.

[2019-02-06 19:21] rljacob commented on #2727
Our production test on the maint-1.0 branch uses this restart set:
https://web.lcrc.anl.gov/public/e3sm/inputdata/e3sm_init/20171228.beta3rc13_1850.ne30_oECv3_ICG.edison/0331-01-01/

Why does it work but other restarts from the DECK run do not?

[2019-02-06 19:27] golaz commented on #2727
I tried @bishtgautam's branch. The land model now initializes but then fails during the first time step with a segmentation fault:

[code]

[2019-02-06 19:38] bishtgautam commented on #2727
@golaz, Can you provide steps on how to reproduce your workflow?

[2019-02-06 19:41] bishtgautam commented on #2727
@rljacob, Maybe because @golaz is using a different restart file (20180129.DECKv1b_piControl.ne30_oEC.edison.clm2.r.0210-01-01-00000.nc) as compared to the test (20171228.beta3rc13_1850.ne30_oECv3_ICG.edison.clm2.r.0331-01-01-00000.nc)

[2019-02-06 19:49] rljacob commented on #2727
Yes but my understanding is both restart files come from runs with code bases prior to PR #2024 .  Could it be because the production test is a hybrid run?   It also sets check_finidat_year_consistency = .false.

[2019-02-06 20:10] golaz commented on #2727
@bishtgautam, here is the path to the run e3sm script on Edison:

`/global/homes/g/golaz/E3SM/scripts/run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh`

Output is under

`/global/cscratch1/sd/golaz/E3SM/simulations/piControl/0210/20180129.DECKv1b_piControl.ne30_oEC.edison`

[2019-02-06 20:29] jonbob commented on #2702
On anvil, the PEM tests also fail until I turn off the ismf features with config_land_ice_flux_mode. I'm testing now with the first approach for haloing to see if that fixes the issue

[2019-02-06 20:51] jonbob commented on #2702
The PEM test still fails under ismf configurations, even with the first halo approach

[2019-02-06 22:34] bishtgautam commented on #2727
@golaz, Can you open permissions for the /global/cscratch1/sd/golaz/E3SM/simulations/piControl/0210/20180129.DECKv1b_piControl.ne30_oEC.edison?

[2019-02-06 22:54] bishtgautam commented on #2727
@golaz, Using `run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh`, I got a different error than  [the one you mentioned](https://github.com/E3SM-Project/E3SM/issues/2727#issuecomment-461154447). My error was:

[code]

I suspect the error is because the case that I created is not named the same as the restart case and `CONTINUE_RUN=.true.`.  Should I simply change the case_name in the run script

[2019-02-06 23:37] kaizhangpnl opened #2731 "l_ieflx_fix defined but unused"
One F90 file was missing when https://github.com/E3SM-Project/E3SM/pull/1498 was merged to master. l_ieflx_fix is defined but unused in components/cam/src/physics/cam/phys_control.F90. This caused some confusion and the namelist definition for l_ieflx_fix was brought back in https://github.com/E3SM-Project/E3SM/pull/1790. This problem was found during the pull request process for https://github.co

[2019-02-07 15:14] golaz commented on #2727
@bishtgautam : I believe I fixed the permission problems. I think your other problem was related to not having the proper restart file in you run directory. In the run script, I create a link to them. They are under

/global/cscratch1/sd/golaz/E3SM/simulations/piControl/0210/20180129.DECKv1b_piControl.ne30_oEC.edison/restart

[2019-02-07 15:21] golaz commented on #2727
@rljacob : as you pointed out, we use a hybrid restart when starting from beta3rc13 files, and a continuation run when restarting from actual model files. I don't know how that would relate to the dribbler code, but that seems to be the most likely hypothesis.

[2019-02-07 15:41] mark-petersen commented on #2702
On master 71f4e19 + KE halo update at [MPAS-Dev/MPAS-Model#147](https://github.com/MPAS-Dev/MPAS-Model/pull/147), I add the `user_nl_mpaso` line
`config_land_ice_flux_mode = 'pressure_only'`
I still get fail on:
```PEM_Ln9.T62_oEC60to30v3wLI.GMPAS-DIB-IAF-ISMF.cori-knl_gnu```
@jonbob you get a pass on that test, right?  I also maxed out ALL halos in the ocean diagnostics routines, and it still fai

[2019-02-07 20:10] mt5555 commented on #2704
@wlin7 : here is the issue w.r.t. tracer conservation in the atmosphere.

[2019-02-07 23:13] jinyuntang opened #2733 "floating invalid in CNCarbonStateType.F90, CNNitrogenStateType.F90 and PhosphorusStateType.F90 when debug in on"
When debug is on, a floating invalid error is triggered when doing p2c for cropseedc_deficit_patch, cropseedn_deficit_patch and cropseedp_deficit_patch.

[2019-02-08 03:25] bishtgautam opened #2734 "I1850CNPECACNTBC run with `debug=.true.` crashes"
@jinyuntang found that I1850CNPECACNTBC run with `debug=.true.` crashes because `dyn_nbal_adjustments_col` and `dyn_pbal_adjustments_col` are not set to zero. The fix includes uncommenting the following lines :

- [PhosphorusStateType.F90#L2270](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeochem/PhosphorusStateType.F90#L2270)
- [CNNitrogenStateType.F90#L2261](https://gi

[2019-02-08 03:39] bishtgautam commented on #2733
Need to add `if (crop_prog)` at:
- [CNCarbonStateType.F90#L3109](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeochem/CNCarbonStateType.F90#L3109
)
- [CNNitrogenStateType.F90#L1632](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeochem/CNNitrogenStateType.F90#L1632)
- [PhosphorusStateType.F90#L1639](https://github.com/E3SM-Project/E3SM/blob/master

[2019-02-08 16:28] darincomeau commented on #2702
@mark-petersen with those two line changes in ``src/core_ocean/shared/mpas_ocn_diagnostics.F`` that you reference above, I get:

PEM_P512.T62_oEC60to30v3wLI.GMPAS-DIB-IAF.edison_intel PASS
PEM_P512.T62_oEC60to30v3wLI.GMPAS-DIB-IAF-ISMF.edison_intel FAIL

So I think this is only one issue related to ISMF, and there isn't a second issue with DIB.

[2019-02-08 21:48] jinyuntang commented on #2734
@bishtgautam, related to this, I further found that [](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeochem/CNNitrogenFluxType.F90#L2602) should be lifted into do loop right above to avoid another floating error.

[2019-02-08 22:17] worleyph opened #2735 "innocuous but confusing logic error in create_chunks"
In the routine create_chunks in the file

     components/cam/src/physics/cam/phys_grd.F90

is logic to determine the number of columns assigned to each virtual
SMP during the dynamics. As part of this a mapping from each column to
the owner SMP is computed using the physics (lon-lat) ordering of the
columns. To count the number of columns per SMP, this mapping array is
then accessed as if the ent

[2019-02-09 19:12] bishtgautam commented on #2734
@jinyuntang, To make sure I understand you correctly. The `this%livestemn_to_litter_patch` and `this%livestemp_to_litter_patch` shouldn't be within the `if (crop_prog)`-loop. Correct?

[2019-02-09 19:34] jinyuntang commented on #2734
Yes.

Sent from my iPhone

[2019-02-11 13:00] mark-petersen opened #2739 "Compsets with ISMF failing PEM tests"
This fails:
`PEM_Ln3.T62_oEC60to30v3wLI.GMPAS-IAF-ISMF`
On master [71f4e19](https://github.com/E3SM-Project/E3SM/commit/71f4e19270286b74d8bdac89204f9413a467fb92) + KE halo update at [MPAS-Dev/MPAS-Model#147](https://github.com/MPAS-Dev/MPAS-Model/pull/147)
Behavior is seen on cori-knl with gnu, and anvil.

[2019-02-11 13:02] mark-petersen commented on #2702
The ERS bug has been solved with the above fix in mpas-source alterations at [MPAS-Dev/MPAS-Model#147](https://github.com/MPAS-Dev/MPAS-Model/pull/147), same as second set above: [#2702 (comment)](https://github.com/E3SM-Project/E3SM/issues/2702#issuecomment-460770082).

I'm opening a new issue for the PEM bug at #2739.

[2019-02-11 13:43] mark-petersen commented on #2739
I had test jobs running all weekend. We are passing restart tests, but bfb across partitions fails.  Note data ice bergs are off, and this is a G case that fails:
[code]
Note All tests discussed here are on master [71f4e19](https://github.com/E3SM-Project/E3SM/commit/71f4e19270286b74d8bdac89204f9413a467fb92) + KE halo update at [MPAS-Dev/MPAS-Model#147](https://github.com/MPAS-Dev/MPAS-Model/pull/

[2019-02-11 16:55] golaz commented on #2727
@rljacob and @bishtgautam : do you have suggestions on how to move forward if this is not easily fixed?

We need to rerun a portion of the Water Cycle DECKv1 simulations before Edison is decommissioned and the end of March, so we really don't have much time.

@rljacob : is undoing the bad PR an option?

[2019-02-11 17:53] bishtgautam commented on #2727
@golaz, Since using `run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh`, I'm was not able to reproduce your error, I tried an I-compset. The I-compset ran successfully using `bishtgautam/lnd/dribbler-restart-fix` branch and had following settings in `user_nl_clm`

[code]

Can you make necessary modifications to `run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh` or provide another run script f

[2019-02-11 17:57] golaz commented on #2727
What modifications do you need me to make in the run script?

[2019-02-11 18:00] bishtgautam commented on #2727
I had to set `set old_executable = false`. But, this was not enough to reproduce your error.

Now, I have additional modification `set case_name = 20171228.beta3rc13_1850.ne30_oECv3_ICG.edison` and compiling a new case.

[2019-02-11 18:29] rljacob commented on #2727
@bishtgautam would doing a restart vs. hybrid run affect if the dribbler code is invoked?

I think its fine to undo the bad PR on the maint-1.0 branch so you can get running but still don't think we understand what is happening here.

[2019-02-11 18:36] bishtgautam commented on #2727
@golaz, Here is an update. The model successfully ran a 5-day simulation using `bishtgautam/lnd/dribbler-restart-fix` and with following modifitions to `run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh`:
- `set old_executable = false`
- `set case_name = 20171228.beta3rc13_1850.ne30_oECv3_ICG.edison`

[2019-02-11 19:01] minxu74 opened #2740 "High-res G case failed with 'ERROR: lon lat cosz sizes disagree' on Summit"
When I ran a high-res G-case on Summit using 48600 cores, the model failed at the first time step with the error:
"ERROR: lon lat cosz sizes disagree" in the cime/src/share/streams/shr_tInterp_mod.F90.

But it ran successfully with the same configuration but use 16000 cores.

Compset: GMPAS-IAF, res: T62_oRRS18to6v3

[2019-02-11 19:03] rljacob commented on #2740
I think that is from one of the data models.  Which log files was that error in?

[2019-02-11 19:05] worleyph commented on #2740
Now I remember ... you are overdecomposing the T62-based components. You need to fix the decompostion to something like 9600 and only increase OCN, ICE, and CPL for the G case.

[2019-02-11 19:13] golaz commented on #2727
@bishtgautam : but did it restart from DECKv1 restart files at year 210 or the older beta3rc13 files?

[2019-02-11 19:35] minxu74 commented on #2740
Thanks.
@rljacob  the error is logged in the e3sm.log.
and @worleyph  I will follow your instruction and update the results here asap.

[2019-02-11 21:01] bishtgautam commented on #2727
The simulation used `20171228.beta3rc13_1850.ne30_oECv3_ICG.edison.clm2.r.0331-01-01-00000.nc`

[2019-02-11 21:06] zshaheen commented on #2727
@bishtgautam, as @golaz, we need the simulation to use the DECKv1 restart files starting from year 210. Even if these files were in the `run` directory, the `rpointer*` files are changed to use the ones you've mentioned above. The fix for this was to manually recopy the `rpointer*` files that use the 210 years right before the job to run the model is submitted to the run queue.

[2019-02-11 21:11] mark-petersen commented on #2739
I saved every field imaginable after one timestep and used ncdiff between the two PEM runs, then take max(abs()).  This is still using master [71f4e19](https://github.com/E3SM-Project/E3SM/commit/71f4e19270286b74d8bdac89204f9413a467fb92) + KE halo update at [MPAS-Dev/MPAS-Model#147](https://github.com/MPAS-Dev/MPAS-Model/pull/147), but no flags.
<details>
<summary> netcdf commands</summary> <p>

[

[2019-02-11 22:19] minxu74 commented on #2740
@worleyph Yes. After reducing the PES from 48000 to 16000 for all components except for OCN, ICE, and CPL, the model was run successfully.  Before I close the issue, I wonder if you have an estimation of maximum MPI tasks for each component in the usual grid settings.

@rljacob Is it possible to give more useful information about this kind of over-decomposition?
Thanks.

[2019-02-11 22:42] mark-petersen commented on #2739
The above variables can be put in order by cause and effect:
1. `vertDiffTopOfCell, vertViscTopOfEdge`
are first. Then all vertical mixing tendencies will differ:
2. `salinityVertMixTendency, temperatureVertMixTendency`
making prognostic variables differ:
3. `salinity, temperature, normalVelocity`
then diagnostics is run at the end of the timestep, and anything dependent on prognostic variables di

[2019-02-11 22:46] bishtgautam commented on #2727
@zshaheen, I manually copied the `/global/cscratch1/sd/golaz/E3SM/simulations/piControl/0210/20180129.DECKv1b_piControl.ne30_oEC.edison/restart/rpointer.*` into the `/global/cscratch1/sd/gbisht/E3SM/simulations/piControl/0210/20171228.beta3rc13_1850.ne30_oECv3_ICG.edison/run`. But the rpointer files that I copied get overwritten during the run. See the run log

[code]

[2019-02-11 23:43] zshaheen commented on #2727
@bishtgautam, in the run script we used, under the section:
    `else if ( $model_start_type == 'continue' ) then`
and after the calls to `$xmlchange_exe`, we added the code to `cp` the restart files we needed.

You can try that.

[2019-02-11 23:46] golaz commented on #2727
@bishtgautam : this is the result of CIME trying to do too much magic here. CIME will always copy the restartart files and corresponding rpointer files to start from year 1. The trick is to copy the rpointer file **after** CIME. I added code for that near line 1184 in my run e3sm script (`/global/homes/g/golaz/E3SM/scripts/run_e3sm.DECKv1b_piControl_0210.ne30_oEC.edison.csh`)

[code]

[2019-02-11 23:49] golaz commented on #2727
@rljacob: if it's easy for you to create a branch of maint-1.0 than undoes the PR, I'm happy to test it out.

[2019-02-11 23:52] bishtgautam commented on #2727
@golaz, You are correct that CIME is trying to do too much. But, the CIME is overwritting the rpointer files when the job begins after I do `./case.submit`. What should the be the value of `RUN_TYPE`?

[2019-02-12 00:08] golaz commented on #2727
That's frustrating. Try `RUN_TYPE` set to "startup" and `CONTINUE_RUN` set to "true".

[2019-02-12 00:15] klindsay28 commented on #2727
Does setting `GET_REFCASE=FALSE` stop CIME from overwriting the rpointer files?

[2019-02-12 00:28] bishtgautam commented on #2727
`RUN_TYPE=startup` and `CONTINUE_RUN=false` failed because the `case_name` and rpointer filenames don't match. I have submitted a new run to test out @klindsay28's suggestion.

[2019-02-12 00:34] golaz commented on #2727
Could be another example of CIME trying to prevent users from doing stupid things!?! You may have to use the same `case_name` as the original run... at least that's what I had to do.

[2019-02-12 00:37] bishtgautam commented on #2727
@klindsay28's suggestion definitely stops CIME from overwriting the rpointer files.

@golaz, Yes I do need to create a case with the same name as that used in the rpointer files. Thus, I'm creating a new case named `20180129.DECKv1b_piControl.ne30_oEC.edison`.

[2019-02-12 01:08] rljacob commented on #2727
I made this point somewhere but now can't find it (email?  github?).

On the maint-1.0 branch, the block of code starting here:  https://github.com/E3SM-Project/E3SM/blob/maint-1.0/cime/config/e3sm/allactive/config_compsets.xml#L289

and through line 311 is the CIME "magic" that forces any case using the low res water cycle config to be a hybrid restart with a start from 0331-01-01 of beta3rc13.

[2019-02-12 01:15] rljacob commented on #2727
@golaz the branch off of maint-1.0 that undoes the dribbling is the one @bishtgautam already has a PR for:  bishtgautam/lnd/dribbler-restart-fix

[2019-02-12 04:28] vanroekel commented on #2739
@mark-petersen did you try increasing nCellsSolve -> nCells in this routine of the land ice flux computation?

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F#L357

From how I read this routine, it looks like landIceHeatFlux and landIceFreshwaterFlux is computed to nCellsSolve, but then at the top of the routine it is added to surf

[2019-02-12 04:30] rljacob commented on #2740
There is an issue open for this.  https://github.com/ESMCI/cime/issues/2949

[2019-02-12 04:35] xylar commented on #2739
@vanroekel, I think you're probably on to something.  We probably need to be doing all those computations over `nCells` or at least a bigger halo than `nCellsSolve`.  @mark-petersen, this may have gone unnoticed because `nCellsSolve` is passed into 2 different routines but is called `nCells` within the routines.

[2019-02-12 04:52] mark-petersen commented on #2739
I saw that last week and thought the same thing, but when I  changed from `nCellsSolve` to `nCells` it still didn't pass PEM.  Of course, there could be multiple bugs that are causing this confusion.  I did try tests where I put all halo expansions together, including this one, as well as some extra halo exchanges, but the tests always failed.

Tonight I started from the beginning again, adding sm

[2019-02-12 05:26] vanroekel commented on #2739
@mark-petersen the failure for fixed boundary layer implies this is a problem in the surfaceBuoyancyForcing and/or surfaceFrictionVelocity.  Hopefully a halo update on those variables will fix this.  There seem to be a whole lot of variables computed in the land-ice fluxes to nCellsSolve and the halo update on those two variables may be the quickest fix.  I'll keep my fingers crossed.

[2019-02-12 14:46] #2687 closed

[2019-02-12 15:22] mark-petersen commented on #2739
Got it.  The minimal change required to pass PEM is:
[code]
This halo exchange is within a block loop.  If this is the final solution, will need to put halo exchange after block loop.  Also looking at variables that go into surfaceFrictionVelocity to see if we can avoid halo exchange.

[2019-02-12 15:48] mark-petersen commented on #2739
`surfaceFrictionVelocity` can be traced back to `surfaceStress`
[code]

We add topDrag to surfaceStress for ice shelves:
[code]

and topDrag is computed here:
[code]

There are no obvious halos to expand in these. One of the RHS variables must have a bad halo.

[2019-02-12 16:16] golaz commented on #2727
@rljacob : I tried `bishtgautam/lnd/dribbler-restart-fix` and it didn't work for me (see above https://github.com/E3SM-Project/E3SM/issues/2727#issuecomment-461154447). I'm happy to try again if there is a reason to believe I did something wrong.

Note that `bishtgautam/lnd/dribbler-restart-fix` only comments out reading new variables from restart files. It doesn't actually revert the PR that brou

[2019-02-12 16:24] bishtgautam commented on #2727
@golaz, Finally, I'm able to reproduce the same error as you reported. Now, I'm debugging what is causing the error.

[2019-02-12 18:12] bishtgautam commented on #2727
Update: The error is in the land code is where values are accumulated in the history buffers. If the call to update history buffers is commented out, the code runs fine, but all land output would be garbage. The debugging is slow on Edison because jobs at times sit in the queue with the following `Nodes required for job are DOWN, DRAINED or reserved for jobs in higher priority partitions`

@golaz

[2019-02-12 18:26] bishtgautam commented on #2692
@ndkeen, @PeterCaldwell, When you get a chance, could you test out PR-#2741? Thanks.

[2019-02-12 19:13] golaz commented on #2727
@bishtgautam : my understanding is that the original hash will no longer compile on Edison because of environment changes that have happened since.

[2019-02-12 19:40] mark-petersen commented on #2739
Strange.  If I add a halo exchange to topDrag just after it is computed, rather than the later halo exchange to `surfaceFrictionVelocity` here https://github.com/E3SM-Project/E3SM/issues/2739#issuecomment-462801452, it fails.

Specifically, this does not get PEM to match:
[code]

[2019-02-12 20:38] thorntonpe opened #2743 "Integer type should be real, phosphorus state on exit_spinup"
In the routine biogeochem/PhosphorusStateType.F90, variables a,b,d defined as integer, line 921,  and used in quadratic at lines 1350-1355. This is expected to cause truncation errors in the setting of solution P and labile P upon exit from model spinup mode, relevant to CNP simulations. The severity of this issue will depend on the size of the real values for these parameters. If the values are l

[2019-02-12 20:49] thorntonpe opened #2744 "C13 states not handled consistently on exit/enter spinup"
The tests for either exit_spinup or enter_spinup, implemented within the restart code for carbon state variables (lines 2779-2853, biogeochem/CNCarbonStateType.F90) are not checking for the C13 data type, and so C13 data structure will pass through this part of the code without changes. C13 and C14 isotopes are not handled consistently in this code block.

[2019-02-12 21:01] thorntonpe opened #2745 "C14 soil carbon pools initialized with wrong ratio on restart"
In biogeochem/CNCarbonStateType.F90, at line 2671, an incorrect parameter is being used to initialize C14 soil carbon variables, if starting a simulation from restart that does not include C14 variables. The parameter used is "c3_r2", but it should be "c14ratio". The c3_r2 variable is calculated for typical C13 ratios. The c14ratio is a parameer defined in main/clmvarcon.F90.

[2019-02-12 21:51] mark-petersen commented on #2739
Scratch that last comment.  I forgot to make the `nCellsSolve->nCells` change mentioned last night here https://github.com/E3SM-Project/E3SM/issues/2739#issuecomment-462611157.  Turns out that _is_ required in addition to the others.  When that is added, then:

 I can get a PEM pass with halo exchange `topDrag` after the call
[code]
OR I get a PEM pass with a halo exchange on `kineticEnergyCell` b

[2019-02-12 22:27] mark-petersen commented on #2739
This still fails PEM. So I still don't understand the problem with `kineticEnergyCell` that is solved by a halo exchange in the previous post.
<details>

[code]

[2019-02-13 16:25] golaz commented on #2727
@bishtgautam and @rljacob : I was talking to @tangq yesterday and he made a few suggestions to get around the problem of the broken restarts in maint-1.0. Since we did archive the original build and case_scripts sub-directories to HPSS, Qi suggested that it might be possible to simply reuse them instead of trying to build a new executable based on maint-1.0.

I worked on this yesterday and this mo

[2019-02-13 16:46] bishtgautam commented on #2727
@golaz, Great that you found a workaround for now. I too have an alternate workaround that I'm testing at the moment. My workaround starts with the original hash (2e145ac) and incorporates machine updates for Edison (bishtgautam/scripts/edison-updates-for-DECKv1-sims branch). I'm testing out the new branch now and will post on how things go.

Regarding debugging the error, I first tried write-stat

[2019-02-13 16:53] rljacob commented on #2727
If Chris has a solution then we need to focus on getting maint-1.0 to work.  That is the released code and anyone should be able to use it with any v1.0 restart set.

[2019-02-13 17:09] bishtgautam commented on #2727
My job is successfully running on Edison now. So, bishtgautam/scripts/edison-updates-for-DECKv1-sims in another alternate. I will now focus on maint-1.0.

[2019-02-13 18:06] mark-petersen commented on #2739
A halo exchange on `kineticEnergyCell` just before the call to `ocn_compute_land_ice_flux_input_fields` solves the problem.  So I tried halo exchanges on all variables used by `kineticEnergyCell`, just before the kinetic energy calculation. It passes PEM, but only when `config_include_KE_vertex=.false.`.
[code]
A halo exchange here on `normalVelocity` alone does not pass PEM.  It appears that a ha

[2019-02-13 18:09] mark-petersen commented on #2739
Sorry for all the lengthy detail.  In the end I was not able to fix it in a more basic fashion.  The most robust solution at this point appears to be a halo update on `surfaceFrictionVelocity`.
[code]

See https://github.com/MPAS-Dev/MPAS-Model/pull/147 where I've added the required changes.

[2019-02-13 18:59] susburrows commented on #2113
@rljacob , since the bug fix was merged last year, I am going to close this issue.

[2019-02-13 18:59] #2113 closed

[2019-02-13 19:03] susburrows commented on #2195
@singhbalwinder , can you help me locate the PR associated with fixing this bug?

[2019-02-13 19:30] jinyun1tang commented on #2538
@susburrows , according to @kvcalvin , I will present the results of my exploration next CBGC call.  In short, I found it marginally affects CTC, and moderately affect ECA because of some unique feature differences in the vegetation dynamics. From there, we can make a decision on how to proceed in the short and long term.

[2019-02-13 19:37] susburrows commented on #2538
OK, thanks for the update!

[2019-02-13 19:49] singhbalwinder commented on #2195
@susburrows : I think it is PR #2202

[2019-02-14 04:09] rljacob commented on #2727
Turns out a hybrid initial run does not read the land or atmosphere restarts.  That's why the old restart set seemed to work with maint-1.0 and our maint-1.0 test, which just does the hybrid initial run, never triggered anything.  Hybrid reads the ocean restarts and does plain initial starts with atm and lnd.

If you do a hybrid initial run and then keep running with the restarts produced, there's

[2019-02-14 04:18] #2469 closed

[2019-02-14 04:38] minxu74 opened #2748 "Change the env variable of NetCDF library path in MPAS"
MPAS uses the NETCDF_PATH env variable to find NetCDF libraries, while other model components have used two env variables NETCDF_C_PATH and NETCDF_FORTRAN_PATH to find C and FORTRAN libraries respectively.  It would be better to change the NETCDF_PATH to either NETCDF_C_PATH or NETCDF_FORTRAN_PATH in MPAS makefiles for consistency and long-term needs.

[2019-02-14 15:47] #2702 closed

[2019-02-14 15:47] #2739 closed

[2019-02-14 18:41] philipwjones commented on #2748
Sorry for not catching this earlier, but the MPAS makefile does look for a NETCDFF environment variable, so defining the NETCDFF environment variable as the NETCDF_FORTRAN_PATH should work. Just tried in a standalone MPAS-O and summit and it worked fine. Again, apologize for not catching this for the previous PR.

[2019-02-14 19:09] golaz commented on #2727
Hmm... That would bad news if our initial hybrid restart did not read the land initial conditions. The motivation of reusing initial conditions from previous simulations was to have better spun-up land and ocean models.

Was something not configured right, or is this a general feature of hybrid simulations?

[2019-02-14 19:15] rljacob commented on #2727
Its a feature of hybrid runs.  I was wrong though.  While the "run type" is "initial", it does read the provided restart file
  initial data   =
 20171228.beta3rc13_1850.ne30_oECv3_ICG.edison.clm2.r.0331-01-01-00000.nc

And there are even some non-fatal messages about dribble data not being found.
[code]

[2019-02-14 19:21] golaz commented on #2727
I checked the lnd log file of the original simulation, and there is clear evidence that the land model did read restart files from the previous simulations:

[code]

[code]

I don't know how to reconcile this with your statement that atm and lnd initial conditions are not read in hybrid restarts.

[2019-02-14 19:22] minxu74 commented on #2748
@philipwjones Thanks. I see. In the mpas-source/Makefile, the NETCDF and NETCDFF are used for NETCDF C and FORTRAN lib paths respectively.  The NETCDF is defined in mpas-source/src/Makefile.in.ACME as NETCDF_PATH, but NETCDFF is not. I will submit a PR to fix it.

[2019-02-14 19:33] rljacob commented on #2727
See comment right before yours.  I was wrong but the lnd.log is misleading.

[2019-02-14 20:04] golaz commented on #2727
I did see your comment before mine but I don't understand it.

Looking at the lnd.log file of the **original DECKv1 simulation**, I'm virtually certain that the that the land restart files from the preceding spin-up simulation were read and used. So I don't know how to reconcile that with your general statement that land restarts are not used for hybrid restarts.

[2019-02-14 23:04] rljacob commented on #2727
I retracted that statement.   The land model does read the restart in a hybrid run.

[2019-02-15 00:41] ndkeen commented on #2692
Using the branch noted above, I tried the following two tests and verified they completed.

[code]
Should I expect that the other 2 tests noted will also work now?

[code]

[2019-02-15 00:44] PeterCaldwell commented on #2692
Thanks Noel! Yeah, I think the other two tests should work now too, but I don't know anything about those compsets so I was ignoring them. It would be good if you could test them too...

[2019-02-15 18:07] singhbalwinder opened #2750 "Possible race condition in restart runs"
One of my restart run (where `resubmit` in `env_run.xml` was > 0) crashed twice with the following error:
[code]

It looks like a race condition where scripts modified env_run.xml before they should.

[2019-02-15 20:12] ndkeen commented on #2692
I ran the following 2 tests which both completed (not looking at any other metrics)

[code]

[2019-02-15 21:13] bishtgautam commented on #2692
Thanks, @ndkeen for testing the PR.

[2019-02-17 06:23] chengdang commented on #2727
I'm running maint-1.0 and had similar errors, while I am not sure if this is related.
I'm able to run a fully coupled E3SM for 2 months from initial files:

Then I got errors for continue run:

I modified the atm_in to produce monthly cam.h0 files instead of the default daily output. Could this be the reason? If so, may I know why and how to properly output monthly files? Thanks.

[2019-02-17 06:29] chengdang commented on #2727
I'm running maint-1.0 and had similar errors, while I am not sure if this is related.
I'm able to run a fully coupled E3SM for 2 months from initial files:

Then I got errors for the continue run:

I modified the atm_in to produce monthly cam.h0 files instead of the default daily output. Could this be the reason? If so, may I know why and how to properly output monthly files? Thanks.

[2019-02-18 18:18] bishtgautam commented on #2727
@chengdang, I believe you cannot change the output frequency of any component in for a `CONTINUE_RUN=TRUE`.

[2019-02-22 22:29] #2409 closed

[2019-02-25 22:58] AaronDonahue opened #2765 "Energy Conservation Errors in CLUBB and GW"
There are a number of energy conservation violations in the model due to both CLUBB and Gravity Wave Drag.

When using `print_energy_errors = .true.` in the user_nl_cam file there are a surprising number of energy conservation errors reported for both gravity wave drag (gwdrag) and for CLUBB.  I have observed these when running a standard F-case with ne30 (FC4AV1C-L) and in one of the SCM cases, T

[2019-02-26 00:07] AaronDonahue commented on #2765
update, I checked this on the maint-1.0 branch and also saw energy conservation errors.

[2019-02-26 00:13] swrneale commented on #2765
Aaron, could you expound on this a bit? As I am worried for CESM also of course :). Cheers
Rich

[2019-02-26 00:47] AaronDonahue commented on #2765
@swrneale , absolutely.

A colleague and I are working on porting a parameterization and were using the energy checker to make sure we didn't make any mistakes with the new code.  We noticed that gwdrag was a frequent offender of energy conservation checks and occasionally CLUBB would also throw an error.

The errors show up quickly, a 1 day run on ne30 is enough to see them if you want to check f

[2019-02-26 04:30] rljacob commented on #2765
Is "the energy checker" the one in cam/src/physics/cam/check_energy.F90?

[2019-02-26 13:49] worleyph opened #2766 "ATM physics load balancing is not sufficient for SP and elevation classes"
The atmospheric physics load balancing attempts to assign columns to chunks in such a way that each chunk has approximately the same computational cost. This way, all that is then needed is to assign the same number of chunks to each computational thread. The current scheme has an option to assign columns to chunks in pairs, where each pair matches day/night, northern/southern hemisphere "twins" (

[2019-02-26 13:50] worleyph commented on #2766
I have a branch with this enhancement, and wanted a github issue to refer to for the PR that I am planning to submit.

[2019-02-26 15:46] worleyph opened #2767 "Summit PE layout being ignored for E3SM driver"
I tried a single node F case run on Summit, specifying 32 MPI processes for each component (stacked) with

      <entry id="MAX_TASKS_PER_NODE" value="84">
      <entry id="MAX_MPITASKS_PER_NODE" value="42">

The e3sm timing summary file verified that this is what I requested:

      cpl = cpl        64          0        32     x 1       1      (1     )
      atm = cam        64          0

[2019-02-26 16:19] rljacob commented on #2767
What does ./pelayout say?

[2019-02-26 16:31] AaronDonahue commented on #2765
@rljacob , yes, that is the energy checker I am using.

[2019-02-26 16:43] bishtgautam commented on #2727
FYI, I have been able to reproduce the failure in an I-compset run. Thus, I'm debugging this issue in a land-only run and will provide an update as I go along.

[2019-02-26 16:44] AaronDonahue commented on #2680
@maltrud , yes, thank you.  I think that answers the question about whether or not this definition is problematic.

I suppose the next question for the atmosphere folks is whether or not having something defined as "Exner" in the model could potentially cause bugs in the future if someone takes that to mean the true Exner formula when in fact it is not.  For example, I only noticed this when I att

[2019-02-26 18:13] mrnorman commented on #2767
Currently, we do require that the number of MPI tasks be an integer multiple of "tasks per node" in the mpirun.summit script.

[2019-02-26 18:13] mrnorman commented on #2767
Where can we add documentation regarding this in the CIME / E3SM code?

[2019-02-26 18:14] mrnorman commented on #2767
Also, does it make sense to have a different value for MAX_TASKS_PER_NODE and MAX_MPITASKS_PER_NODE

It's not clear to me what the difference between those are.

[2019-02-26 19:01] jonbob opened #2768 "MPAS-O analysis bug leads to testing failures"
A recently commit introduced a bug in the mpas-ocean analysis member coding that causes failures in the automated testing of SMS_D_Ld1.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.allactive-v1cmip6, on sandiatoss3 and anvil using intel compilers

[2019-02-26 19:15] milenaveneziani commented on #2768
Hi Jon, any idea what the bug is? Could you please open an issue on the MPAS-A side? Thanks.

[2019-02-26 19:15] xylar commented on #2768
@jonbob, you're referring to an analysis member (online analysis), not MPAS-Analysis, correct?

[2019-02-26 19:20] jonbob commented on #2768
Sorry if that wasn't clear. The bug appears in one of the online mpas-ocean analysis member calculations, though my suspicion is that the error itself is in calculating a new array to be time-averaged

[2019-02-26 20:37] xylar commented on #2768
Yep, that's what I thought.  Thanks for clarifying.

[2019-02-26 20:40] mark-petersen commented on #2768
I was able to reproduce this with
[code]

It only occurs in debug mode.  I’m getting an overflow on this line
[code]
and only when this new variable is in the time monthly output
`activeTracerVerticalAdvectionTopFlux`

[2019-02-26 20:41] mark-petersen commented on #2768
Fix here.  Thanks @jonbob for the help. https://github.com/MPAS-Dev/MPAS-Model/pull/165

[2019-02-26 20:43] jonbob commented on #2768
Great - and thanks for the quick fix @mark-petersen. Just let me know when the new submodule is accessible by e3sm

[2019-02-26 23:08] bishtgautam commented on #2727
@golaz, @zshaheen, I have updated PR #2728, tested it on Edison, and it ready to be merged into maint-1.0. When either one of you get a chance, could you test it out?

cc: @rljacob

[2019-02-26 23:22] swrneale commented on #2765
Thanks! I vaguely remember changes we made to GWD because of some energy non-conservation issues. Let me check.

[2019-02-27 00:55] golaz commented on #2727
Thanks, @bishtgautam. @zshaheen is trying your new branch now. I will try it myself as well once I can run on NERSC again (quota issue).

[2019-02-27 01:19] worleyph commented on #2767
So, this seems to be working okay. The CPL component still seems to be restricted to the requested 32 MPI tasks, for the most part. MPI_COMM_WORLD however is 42 processes, and there are some CPL processes that are run on all 42 processes:

       "CPL:INIT"                       -       1    -       3.515197     3.515197     3.515197         0.000000
         "CPL:cime_pre_init1"           -

[2019-02-27 01:24] worleyph commented on #2767
@mrnorman , we would use different  MAX_TASKS_PER_NODE and MAX_MPITASKS_PER_NODE to, for example, use SMT2 or SMT4 for OpenMP threads but only have one MPI task per core, e.g.

MAX_MPITASKS_PER_NODE  = 42
MAX_TASKS_PER_NODE = 84

for SMT2 and OMP_NUM_THREADS = 2.

I tried this, and the F case hung in timestep 3. Is if known that threading does not work? Or is it just an issue with some components?

[2019-02-27 04:08] rljacob commented on #2767
I'd like to reopen this because the size in the ./pelayout is supposed to be the communicator size.  I don't know why it would not be.

[2019-02-27 06:15] mrnorman commented on #2767
I don't generally handle E3SM side of things, and the ECP's CRM code is hopelessly thread unsafe, so we don't really bother with OpenMP. Is there someone who works on Summit for E3SM? I know Sarat has done some of this in the past.

[2019-02-27 14:39] worleyph commented on #2767
@rljacob , @mrnorman , if I set

     MAX_MPITASKS_PER_NODE = 32
     MAX_TASKS_PER_NODE = 32

I get MPI_COMM_WORLD to be 32. (Only experiment I tried - I assume that MAX_MPITASKS_PER_NODE is the important one.)

[2019-02-27 20:05] zshaheen commented on #2727
@bishtgautam I tested [the branch](https://github.com/E3SM-Project/E3SM/pull/2728) and it all seems good. I'm going to be doing more runs with this and will get more data points. If @golaz can test this as well, we'll have a more definite answer. Thanks yaar 👍

[2019-02-28 19:19] #2768 closed

[2019-02-28 19:50] zshaheen commented on #2727
@bishtgautam, Chris and I have one request. Can you keep your branch until after Edison goes down? The reason being is that this seems to work, and maybe merging it into the `maint-1.0` branch might cause issues down the line. We have about 1 month to finish this.

We still need to rerun some of the [corrupted data here](https://acme-climate.atlassian.net/wiki/spaces/SIM/pages/668959422/v1+DECK+ou

[2019-02-28 20:16] bishtgautam commented on #2727
@zshaheen, Sure, I won't delete the my branch.

[2019-02-28 20:39] rljacob commented on #2727
You're going to use this branch and not use maint-1.0?

[2019-02-28 20:44] zshaheen commented on #2727
This *seems* to work and we'll start making a bunch of batch jobs. It would suck if some other changes were made to `maint-1.0` in the middle of all of this. Our one month time constants means that we'd like to minimize external issues, for now.

[2019-02-28 22:21] jgfouca commented on #2750
@singhbalwinder , can you give me a sequence of commands to reproduce this error?

[2019-02-28 23:06] singhbalwinder commented on #2750
I do not have a perfectly reproducible case as it happens randomly. It happened to me when I had a run which was resubmitting itself using env_run.xml's RESUBMIT functionality. The RESUBMIT functionality  changes env_run.xml file at each resubmit to change at least one field. It seemed like a race condition to me where a script  expects env_run.xml to stay the same while it is being modified by an

[2019-02-28 23:12] rljacob commented on #2727
After merging, the only difference between maint1.0 and Gautum's branch is the addition of PR #2691 which concerns theta.  So you should have no problem.

[2019-02-28 23:12] jgfouca commented on #2750
@singhbalwinder , I don't need perfect reproducibility, but I would still like the sequence of commands that can cause the error.

[2019-02-28 23:12] #2727 closed

[2019-02-28 23:14] jgfouca commented on #2750
To clarify, the reason I'm pressing for details is because we do have tests in CIME for resubmission and I've never seen a race condition. Is it possible you had multiple CIME processes running simultaneously within a case?

[2019-02-28 23:29] singhbalwinder commented on #2750
I don't think so.  I think the first time I found out about this error was when I didn't find my job in queue. I checked the case directory to know what is going on and then I found this error. After that I got it, may be, 2-3 times and then I reported this here. I didn't get this error ever since. I think it might be a combination of machine acting weird which causes this race condition.

May be

[2019-02-28 23:38] jgfouca commented on #2750
Sounds good. If you notice it again, please keep close tabs on the exact conditions that caused it.

[2019-02-28 23:38] #2750 closed

[2019-03-01 18:11] amametjanov commented on #2725
This appears to be specific to Summit. `-Uvector` would keep it local with the fewest possible side-effects:
[code]

[2019-03-03 02:48] worleyph commented on #2692
FYI, I just now tried

     -compset A_WCYCL1950S_CMIP6_LRtunedHR -res ne30_oECv3_ICG

and

      -compset A_WCYCL1950S_CMIP6_LR -res ne30_oECv3_ICG

and they both failed with, for example,

      704:  pio_support::pio_die:: myrank=          -1 : ERROR: nf_mod.F90:        1288 :
      704:  NetCDF: Invalid dimension ID or name

[2019-03-03 17:38] tangq commented on #2692
I tried yesterday on cori-knl
`--compset F1950C5-CMIP6-HR --res ne120_oRRS18v3`
and failed with the same errors as @worleyph
`pio_support::pio_die:: myrank=          -1 : ERROR: nf_mod.F90:        1288 :`
`NetCDF: Invalid dimension ID or name`

[2019-03-04 01:09] worleyph commented on #1979
@rljacob, I tried looking at this again. I was able to reproduce the issue using a B case (A_WCYCL) and by modifying the code in rearrange_ (in m_Rearranger.F90) to force it to use MPI_AlltoallV whenever usealltoall is .true. (by hardwiring useswapm to .false.). In all cases, the communicator used by rearrange_ was MPI_COMM_WORLD and it always hung unless

a) CPL communicator has all processes in

[2019-03-04 01:11] worleyph commented on #1979
Closing this here. This is an MCT issue, not an E3SM issue, in that it has to be fixed on the MCT side first.

[2019-03-04 01:11] #1979 closed

[2019-03-04 04:12] rljacob commented on #2692
@tangq and @worleyph try that case on the branch bishtgautam/lnd/updated-ic-at-ne30-and-ne120 in PR #2741

[2019-03-04 15:35] worleyph commented on #1979
@rljacob , so ... the issue here is my poor memory. This problem was identified and diagnosed by Sheri Mickelson in 2010 (initially on Intrepid), where we determined that the Cray MPI library at the time did not have an issue when not all processes in a communicator called MPI_AlltoallV, but most of the other vendor MPIs did. This is actually what prompted adding the flow-control (swapm) usealltoa

[2019-03-04 16:30] minxu74 commented on #2725
@amametjanov Thanks a lot for your comment. We prefer to letting FORTRAN compilers to do the preprocessing. But using "-Uvector" should be straightforward and have less side-effects.  If there is no fix from the MPAS side in near future, we will fix it in the Summit machine file as you described.

[2019-03-04 20:38] rljacob commented on #2199
One job to run all the tests one-at-a-time within that job?

[2019-03-04 21:40] sarats commented on #2199
Yes

[2019-03-04 22:16] jgfouca commented on #2199
@rljacob , @sarats , just confirming, you want the dumbed-down single-submit we discussed? IE, sequential running of tests?

[2019-03-04 22:17] jgfouca commented on #2199
OK, what's the priority on this?

[2019-03-05 03:23] rljacob commented on #1979
Pat, can you open an issue in https://github.com/MCSclimate/MCT?  Or I could do it.

[2019-03-05 14:34] worleyph commented on #1979
Done.

[2019-03-05 20:00] #2692 closed

[2019-03-06 04:53] bishtgautam opened #2778 "CLM providing invalid starts/counts to the PIO"
CLM is providing invalid starts/counts to the PIO library and this commit fixes that issue.
With PIO1 the entire library is implemented in fortran and since fortran arrays always include the size with it these bugs did not show up (inadvertently). When testing with PIO2 these bugs showed up.

[2019-03-06 05:21] #2735 closed

[2019-03-06 16:27] bishtgautam commented on #2778
@jayeshkrishna, I was wondering if we should also inform NCAR about this issue, if you haven't already done so. What do you think?

[2019-03-06 16:38] mark-petersen opened #2781 "index in ocean surface area weighted AM is incorrect"
Index in the ocean surface area weighted AM, which means that surface variables in MPAS-Analysis show the wrong variable, specifically SSH.

[2019-03-06 16:38] mark-petersen commented on #2781
Needs to be fixed in both master and maint-1.2 branches.

[2019-03-06 16:55] jayeshkrishna commented on #2778
I am not sure why they haven't seen this error. My guess is that JimE@NCAR must have made some similar changes in CESM.

 When we started using PIO2 with E3SM, I had asked JimE regarding any CESM changes that was required (so we could port it to E3SM) and he said there were some changes that he made in CESM but did not have a list (we ended up testing E3SM+PIO2 and finding/fixing the bugs). So its

[2019-03-06 16:56] jayeshkrishna commented on #2778
In any case it might be useful to ping them and see if they have seen the issue.

[2019-03-06 17:23] brhillman opened #2782 "MODIS simulator incorrectly adds snow"
In porting the COSP implementation to work with the MMF, I ran across an issue in the MODIS simulator code where the code to account for the addition of "snow" in the total cloud amount is incorrectly adding the convective cloud amount twice instead of using the snow. The affected code occurs between lines 217 and 233 of `components/cam/src/physics/cosp/cosp_modis_simulator.F90`:
[code]
Notice tha

[2019-03-06 17:27] brhillman commented on #2782
NOTE: branch brhillman/atm/fix-modis-snow applies the fix here. Differences in MODIS cloud fraction after the fix:
![screen shot 2019-03-06 at 9 26 24 am](https://user-images.githubusercontent.com/15826727/53900705-fa44ec80-3ff1-11e9-84b3-1e8f32a27683.png)

[2019-03-06 18:17] tangq commented on #2782
Thanks for confirming. This issue was reported before in #2770.

[2019-03-06 18:18] brhillman commented on #2782
Ah great! Thanks @tangq I couldn't find a corresponding issue for it.

[2019-03-06 18:19] amametjanov commented on #1979
Pat, just curious, did you run into any issues if you pass a non-global (CPL-local) communicator to mct init?
in seq_comm_mct.F90
[code]

[2019-03-06 18:35] worleyph commented on #1979
Hi @amametjanov , I have not done any experiments of this type. I don't know enough about MCT to know what things (like this) should be poked at.

[2019-03-07 18:33] sarats commented on #2767
As I understand, preview_run and pelayout use the case's XML variables to print info out. So they would echo MAX_MPITASKS_PER_NODE. In this case, unbeknownst to CIME, the mpirun.summit script launches the executable with a multiple of MAX_MPITASKS_PER_NODE.

[code]
So, for the original example Pat mentioned, mpirun.summit invocation is equivalent to invoking

even if CIME/e3sm only plans to use 32

[2019-03-07 19:47] AaronDonahue commented on #2765
@swrneale , I wanted to follow up on this with you.  Were you able to find a change you made to get GWD back to conserving energy?

[2019-03-08 04:13] rljacob commented on #2767
Yes preview_run and pelayout will only use the info in env_mach_pes.xml.

Looking at the code, the global communicator and the driver are both dups of MPI_COMM_WORLD so it will take whatever mpirun gave it.

But the coupler, which is different from the driver, should have the size specified in pelayout.

[2019-03-08 04:20] rljacob commented on #2767
Pat, what exactly is reported as the CPL layout?  Look for the line that starts "(seq_comm_setcomm)  init ID (  2 CPL " in the e3sm.log.

I think this is just confusion between what is the coupler and what is the driver.   The "CPL:INIT" timer is marking the start of the **driver** init.  It can be on 42 procs in this case.

[2019-03-08 04:39] worleyph commented on #2767
On travel at the moment, without my laptop. You’re right in that CPL is correct - just driver is running on more than expected number of processes. I’ll change the title when I get the chance.

Sent from my iPhone

[2019-03-09 14:32] worleyph commented on #2767
@rljacob , I modified the title and added an update to the initial comment. Is it okay to close this now (since the PE layout is correct - it is just the driver using more than the expected number of components, and this seems to work fine)?

[2019-03-09 21:45] rljacob commented on #2767
yes

[2019-03-09 21:45] #2767 closed

[2019-03-11 03:55] minxu74 opened #2792 "livestemn_to_litter_patch and livestemp_to_litter_patch are initialized to NaN before they are used, which causing FPE in debug mode"
In the components/clm/src/biogeochem/CNNitrogenFluxType.F90, the variable 'livestemn_to_litter_patch' is initialized to NaN and is only set to value_patch when crop_prog = .true.. The variable is used directly in the Summary subroutine in the CNNitrogenFluxType.F90. The bug caused FPE in debug mode. I did not find any meaningful definition for this variable except for initialization under the clm

[2019-03-11 04:12] jinyun1tang commented on #2792
@minxu74, I remember I once found this and handed it over to Gautam together with a few other similar things.

[2019-03-11 12:57] minxu74 commented on #2792
@jinyun1tang Thanks a lot for pointing out. During my debugging on a I-case on Summit, I found those incorrectly initialized variables in the land model and noticed that most of them have been reported in the  #2733 and #2734. But I just looked at the titles and did not read the issues carefully. Since it has been reported in the #2734,  I am closing it now.

[2019-03-11 12:57] #2792 closed

[2019-03-11 13:00] minxu74 commented on #2734
Do we need the variables of livestemn_to_litter_patch and livestemp_to_litter_patch? They are just initialized to NaN and used directly to calculate other variables. I did not see any definitions for them with physical meanings in the code.

[2019-03-11 14:33] minxu74 opened #2793 "top_as and top_af DDTs were not defined when the CPL_BYPASS turned on"
The top_as and top_af DDTs were not  defined when cpl_bypass was defined, which caused all atmospheric forcings for the land model to be NaNs.

[2019-03-11 14:36] thorntonpe commented on #2793
@minxu74 , I think @dmricciuto  is aware of this issue, and is working on a branch that will enable cpl_bypass with the new land data architecture.

[2019-03-11 14:43] minxu74 commented on #2793
@thorntonpe Thanks a lot for the information. I have tried to fix it as we want to use the CPL_BYPASS feature for the LMT project. I just created a PR a moment ago. If @dmricciuto have fixed it, I will close this issue and the corresponding PR. Thanks.

[2019-03-11 14:56] rljacob commented on #2793
Don't close the issue until it is fixed on master.

[2019-03-11 15:08] thorntonpe commented on #2734
@minxu74 The variables livestemn_to_litter and livestemp_to_litter are valid variables and need to be retained. They are assigned meaningful values in the phenology routines.

[2019-03-11 15:46] minxu74 opened #2795 "An error of running query_testlists"
Tried to run query_testlists and got the following error:
`cime/config/e3sm/allactive/testlist_allactive.xml is an unsupported version of the testfile format and will be ignored`

[2019-03-11 17:07] jgfouca commented on #2795
@minxu74 , E3SM doesn't use XML testlists, we use python.

Our tests are defined in:
[code]

You can list them via
[code]

[2019-03-11 17:07] #2795 closed

[2019-03-11 18:00] minxu74 commented on #2734
@thorntonpe Thanks a lot for the information. I see the assignments. If I understand them correctly, the variables are assigned only when ivt(p) >= npcropmin? If so, they should be with in the crop_prog if statement.  But we should not use it when crop_prog=.False.?

[2019-03-11 19:03] thorntonpe commented on #2734
@minxu74 It's a good point. There should never be ivt(p) >= npcropmin unless prognostic crops are in use, so it is redundant to assert both. There are many cases throughout the code where only npcropmin is used to filter for prognostic crop types. There are also some places where crop_prog is used together with npcropmin. The flux is getting zeroed at the start of every timestep via the setvalue m

[2019-03-11 21:25] minxu74 commented on #2734
@thorntonpe I am not aware of any other risks with the current implementation as long as these variables are under crop_prog or ivt(p)>npcropmin if statement. Because the uninitialized errors are majorly caused by the inconsistency to handle the variables in different parts of codes. For example, they are allocated and assigned NaNs unconditionally first and are defined to zero only when crop_prog

[2019-03-11 21:59] thorntonpe commented on #2734
@minxu74 I was missing that problem - thanks for clarifying. Let's decide on a fix after the new data architecture PR #2742 is merged (underway). We could remove the if (crop_prog) condition in SetValues(), or we could add conditions elsewhere.

[2019-03-12 19:45] brhillman opened #2798 "RRTMGP code should be submodule?"
Tagging this with the question label, because I'm not 100% sure this is the right thing to do but wanted to get input before I go ahead with it. Our new radiation package (RRTMGP) is maintained in a separate external repository. Currently, we have a copy of the code integrated into E3SM, but since RRTMGP is still under fairly active development, any time I want to pull in updates to the external r

[2019-03-12 20:46] #2782 closed

[2019-03-12 21:05] #2748 closed

[2019-03-12 21:41] rljacob commented on #2798
If the development is one-way, from the external RRTMGP to E3SM, a submodule would be appropriate.  But you still have to do a PR to update the commit the submodule is pointing to.

[2019-03-12 21:44] jgfouca commented on #2798
I agree, a submodule would make sense.

[2019-03-12 22:04] brhillman commented on #2798
The development is one way. I'll put together a PR.

[2019-03-13 15:23] brhillman opened #2800 "create_test indexing into odict_keys incompatible with python3"
It appears that something changed in `create_test` that has broken python 3 compatibility. The following command and error illustrates the problem:
[code]
The problem appears to be in `cime/scripts/lib/CIME/test_scheduler.py`, where on line 739 the indexing operation `first_test = self._tests.keys()[0]` is performed. The version of python3 in my path does not like this (3.7.1) and complains that `

[2019-03-13 15:34] #2168 closed

[2019-03-13 17:02] jgfouca commented on #2798
For what it's worth, submodules are great for two-way development too.

[2019-03-13 17:09] jgfouca commented on #2800
Sorry about that, let me take a look.

[2019-03-13 17:15] brhillman commented on #2800
@jgfouca no problem. Question though, do we test the CIME scripts with python3? Should we include a python3 test to make sure these things don't break?

[2019-03-13 17:29] jgfouca commented on #2800
@brhillman , we have the results of Jenkins testing of CIME here:
https://my.cdash.org/index.php?project=CIME

... and the CIME travis CI does some basic testing of both py2 and 3. So we do test it. The testing of CIME on the E3SM side is much less rigorous, which is how this error slipped-in.

I am doing a CIME update today, but it's big and has some issues, so I'll just fix this manually.

[2019-03-13 17:31] brhillman commented on #2800
Okay. No rush on my part, just wanted to point it out. It's easy enough for me to load a python2 module. Does it make sense to add a python3 test on the E3SM side? Excuse my ignorance on how CIME is pulled into E3SM, maybe that would be a pointless thing to do.

[2019-03-13 17:36] jgfouca commented on #2800
@brhillman , I think the root cause is that sometimes I do the more expedient thing by doing CIME python work directly in E3SM/cime rather than doing it the "right" way (doing the work in ESMCI and then doing a CIME update to E3SM).

[2019-03-13 17:39] jgfouca commented on #2800
Ok, then I'll just let this get fixed by the CIME upate:
https://github.com/E3SM-Project/E3SM/pull/2799

[2019-03-13 18:09] brhillman commented on #2800
Sounds good, thanks!

[2019-03-14 16:26] darincomeau opened #2802 "GMPAS-DIB-IAF.T62_oRRS30to10v3wLI sporadically failing during namelist generation on Theta"
A simulation with the compset/grid GMPAS-DIB-IAF.T62_oRRS30to10v3wLI is sporadically failing during job resubmission in during namelist generation. The error is not reproducible, and a subsequently resubmitting the job seems to get past the error. The component for which namelist generation fails is not consistent (once in datm, once in mpas-ocean).

Sample from the output log:
[code]

From the er

[2019-03-14 18:42] amametjanov commented on #2802
Namelist generation is done during job launch on a couple of `MOM` nodes on Theta. The load on MOM nodes may vary depending on how many jobs are being launched at any one time. I think this could be the reason for sporadic errors.

If the namelists do not change between resubmissions, a workaround is to submit a job with
[code]
which should reuse previously generated component namelists.

Email no

[2019-03-14 18:53] darincomeau commented on #2802
@jgfouca , @amametjanov , do you mind taking a look at this issue we're having on Theta? It seems to be either a cime or filesystem issue, and is preventing us from running these simulations.

cc: @stephenprice , @jonbob

[2019-03-14 19:11] brhillman opened #2803 "atmsrf inputdata has bogus values"
It appears that both the raw data used to generate the atmsrf files used by the atmosphere model have some bogus values for soil moisture in them. The tool to interpolate this data to a new grid is in `components/cam/tools/mkatmsrffile`, and the README describes the purpose:

The code to interpolate the raw data (which I am still working on figuring out how to build and run) reads in data from `in

[2019-03-14 19:12] jgfouca commented on #2802
@darincomeau , that's a strange error. Google seems to suggest it's a python bug. What python version are you using? Would it be possible to try a newer one (3.5+)?

[2019-03-14 19:26] darincomeau commented on #2802
Thanks @amametjanov , that sounds like a good workaround. I'm assuming ```./case.submit --skip-preview-namelist``` would only apply to the original submission, and not any resubmits? Is there a way to get ```--skip-preview-namelist``` to stick for resubmits?

[2019-03-14 19:34] rljacob commented on #2803
Is it still true that "with modal areosols this method is not adequate"?  @polunma @huiwanpnnl ?

[2019-03-14 19:42] amametjanov commented on #2802
Yes, it should stick to resubmits too.

[2019-03-15 16:27] fvitt commented on #2803
I don't believe these files (clim_soilw_file, drydep_srf_file, and depvel_lnd_file) are used when drydep_method='xactive_lnd'.

[2019-03-18 03:51] rljacob opened #2807 ""Error in opening the compiled module file""
Every once in a while, a test will fail to build with the error "Error in opening the compiled module file".   If you just wait a day, the test runs fine.    It seems to be random but I think its always complaining about the same file.  This issue will log these errors as they come up.

In comments below, note the date, test(s), filename with the error and provide a link to the TestStatus in cdash

[2019-03-18 03:54] rljacob commented on #2807
2019-03-15
SMS_D_Ld1.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.sandiatoss3_intel.allactive-v1cmip6
cosp/quickbeam/radar_simulator.f90(15): error #7002: Error in opening the compiled module file
https://my.cdash.org/testDetails.php?test=45925310&build=1622191

[2019-03-18 03:55] rljacob commented on #2807
2019-03-16
SMS_D_Ln5.ne4_ne4.FC5AV1C-L.sandiatoss3_intel.cam-cosplite_nhtfrq5
cosp/quickbeam/radar_simulator.f90(15): error #7002: Error in opening the compiled module file.
https://my.cdash.org/testDetails.php?test=45943876&build=1622561

[2019-03-18 03:59] rljacob commented on #2807
2019-03-16
SMS_D_Ln5.ne4_ne4.FC5AV1C-L.sandiatoss3_intel.cam-cosplite_nhtfrq5
cosp/quickbeam/radar_simulator.f90(15): error #7002: Error in opening the compiled module file.
https://my.cdash.org/testDetails.php?test=45943876&build=1622561

[2019-03-18 17:33] brhillman commented on #2807
I've run into this before, and I think made some temporary changes at the time to work around it. Part of the problem I think is that `cosp/quickbeam/radar_simulator.f90` is *not* a module, it's just a subroutine. I think in the past I changed this to a module (and made corresponding changes where the subroutine is used to `use` the  module), and/or renamed the file to `cosp/quickbeam/radar_simula

[2019-03-18 20:23] amametjanov commented on #1979
Okay, thank you. PR MCSclimate/MCT#55 is up online for testing.

[2019-03-18 21:09] #2778 closed

[2019-03-19 14:26] #2800 closed

[2019-03-20 03:26] brhillman commented on #2803
It appears that the default in F compsets is `drydep_method='xactive_atm'`. I'm not sure how much this matters, but I can confirm that the input file *is* being used; a simple test in which I supply an atmsrf file in which all of the values have been zeroed is *not* BFB.

[2019-03-20 13:54] jayeshkrishna opened #2809 "BGCEXP tests fail on cori"
The following tests failed on cori,

SMS.ne30_oECv3.BGCEXP_BCRC_CNPRDCTC_1850.cori-knl_intel.clm-bgcexp
SMS.ne30_oECv3.BGCEXP_BCRC_CNPECACNT_1850.cori-knl_intel.clm-bgcexp

From the error message it looks like these tests (ocn bcc) don't work with multiple threads

[2019-03-20 13:54] jayeshkrishna commented on #2809
Error message (from @dqwu ),

[code]

[2019-03-20 13:57] jayeshkrishna commented on #2809
This failure was seen by @dqwu while testing E3SM with PIO2

[2019-03-20 14:55] amametjanov commented on #2809
There is a pending PR E3SM-Project/E3SM#2732 for this issue.

[2019-03-20 20:32] jayeshkrishna commented on #2809
Should I go ahead and close this issue/PR as a duplicate?

[2019-03-20 21:04] jayeshkrishna commented on #2809
The PR #2732 includes changes to remove the restriction that OCN BGC needs to run single threaded (PR #2732 instead of forcing the test to run with a single thread, removes the restriction and discusses fixing any issues that come up. OCN needs to run threaded for good performance on KNL)

[2019-03-20 21:04] #2809 closed

[2019-03-21 15:13] rljacob commented on #2803
During our meeting, @polunma said the soil moisture is not used but land use from this file is.

[2019-03-21 15:37] brhillman commented on #2803
Should we remove the soil moisture from the file and the hard-coded `.false.` setting to use this from the code then? It seems dangerous to leave obviously wrong data sitting around in these inputdata files (at least the ones we make moving forward), and hard-coded false logicals in the code.

[2019-03-21 15:39] fvitt commented on #2803
I have confirmed that soilw is not used when drydep_method='xactive_lnd',
which is the default for the F compsets in CESM2.

On Thu, Mar 21, 2019 at 9:13 AM Robert Jacob <notifications@github.com>
wrote:

[2019-03-21 15:41] fvitt commented on #2803
We should not include an input file in the namelist if it is not needed /
used.  Dry dep has become convoluted and needs to be cleaned up.

On Thu, Mar 21, 2019 at 9:38 AM Francis Vitt <fvitt@ucar.edu> wrote:

[2019-03-21 15:46] rljacob commented on #2803
Was it hard coded?  I thought it was a namelist paramater which we always set to false but could be set to true.

[2019-03-21 16:18] brhillman commented on #2803
`drydep_method = xactive_atm` for our F cases though by default. Is there any reason we can't use xactive_lnd instead and avoid using the drydep file altogether?

[2019-03-21 16:46] rljacob commented on #2803
Is there documentation for the various drydep_methods and when they are supposed to be used?

[2019-03-21 17:03] serbinsh opened #2813 "Attempting single-site run - missing lai_streams from https://web.lcrc.anl.gov/public/e3sm/inputdata/lnd/clm2/"
I am attempting to conduct a test single-site run: https://github.com/serbinsh/elm_containers/blob/master/elm_run_scripts/create_case_1pt_example_USNR1.sh

But getting these errors:

[code]

Looks like https://web.lcrc.anl.gov/public/e3sm/inputdata/lnd/clm2/lai_streams/ is empty.  Not sure if that is a bug or feature and I can also try a different compset perhaps.

Apologies if this is a "user err

[2019-03-22 04:07] bishtgautam commented on #2813
If the data is unavailable at ANL and ORNL server, the script is suppose to look for the missing data at NCAR's svn server. You can manually download the missing data from NCAR's svn server at:
https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/lnd/clm2/lai_streams/

[2019-03-22 04:19] rljacob commented on #2813
@jgfouca that last error message looks odd.
@serbinsh you should try latest master where we removed the no-longer active ORNL server.

[2019-03-22 04:46] rljacob commented on #2813
This error came up here:
https://github.com/ESMCI/cime/issues/2678
In your case, you could remove the ornl entry from E3SM/cime/config/e3sm/config_inputdata.xml

[2019-03-22 11:27] bishtgautam commented on #2803
From [cime/src/drivers/mct/cime_config/namelist_definition_drv_flds.xml#L65](https://github.com/E3SM-Project/E3SM/blob/master/cime/src/drivers/mct/cime_config/namelist_definition_drv_flds.xml#L65)
[code]

[2019-03-22 15:13] stephenprice commented on #2802
Thanks @amametjanov. I was finally able to confirm this worked (at least it worked for a single re-submit). Trying now with a larger no. of resubmits.

I'm not sure if we should close this issue now or leave open until there's a more permanent fix?

[2019-03-25 02:15] qzhu-lbl opened #2815 "CH4 inundated fraction parameters read in bug"
ZWT0, F0, P3 parameters are needed to calculate inundated fraction. These parameters are read in from the surface dataset, however, surface dataset file is not passed into CH4Mod.F90, where the parameters are read in, causing a runtime error.

[2019-03-25 02:36] rljacob commented on #2803
drydep_method = xactive_atm is also the choice in our v1 DECK water cycle runs.

seq_drydep_mod.F90 is in the coupler (cime/src/drivers/mct/shr) because its shared by the land and atmosphere models.   The drydep_method is set by the drv_flds_in namelist file read by that routine.

If either xactive_atm or xactive_lnd are used, then mo_chemini will call dvel_inti_xactive in mo_drydep.F90

In **that

[2019-03-25 15:26] brhillman commented on #2803
@rljacob `fraction_landuse` does appear to be "reasonable". That is, I didn't see any totally wacky values like I saw in `soilw`, but I don't think we have any tests to validate, and I'm not sure where exactly this data comes from (there is no documentation in the raw data files used to build the atmsrf files).

[2019-03-25 18:48] mabrunke opened #2817 "Daily max/min reference temperatures same as daily means in EAM output"
At the All-Hands Meeting, I presented my finding that the EAM output in at least the AMIP run includes daily maximum and minimum 2-m reference temperatures that are the same as the daily means.  It was discussed that this should be fixed for v2.  In components/cam/src/physics/cam/cam_diagnostics.F90, TREFHTMN and TREFHTMX are given a definition of M (minimum) and X (maximum) to addfld, but it does

[2019-03-25 21:40] #2766 closed

[2019-03-25 23:06] stephenprice commented on #2802
Not clear why, but for some reason the job that I submitted on Theta several days ago is still sitting in the queue. So unfortunately no update on this yet.

[2019-03-26 14:23] #2781 closed

[2019-03-26 21:18] stephenprice commented on #2802
Not clear why, but for some reason the job that I submitted on Theta several days ago is still sitting in the queue. So unfortunately no update on this yet.

Actually, this is working again (the queuing I was seeing were the resubmits waiting -- it has now progressed through 9 resubmits).

So I would say this IS working now. But I'm still not clear if we should be looking for a more permanent solu

[2019-03-26 22:25] amametjanov commented on #2802
Great!

CIME depends on python as a pre-requisite. I'm not sure if switching python version through a machine-specific module (in env_mach_specific.xml or smth similar) is recommended. So to try out @jgfouca's suggestion is to load newer python in a login shell dot file: e.g. in `~/.bash_profile`:
[code]

Default version on Theta is
[code]

[2019-03-26 23:06] stephenprice commented on #2802
Thanks @amametjanov. I can try that too.

@xylar, let me know if you have any thoughts on this since you are much more familiar with python environments / versions than me.

[2019-03-27 14:41] #2815 closed

[2019-03-27 21:34] xylar commented on #2802
@stephenprice, if there's an environment or version conflict, it sounds like something specific to CIME so I can't offer any expertise on that.  @amametjanov's advice sounds perfectly reasonable to me.  You'll need to load `e3sm-unified` for analysis but that's a separate issue from which python you use for CIME.

[2019-03-28 19:35] #1130 closed

[2019-03-28 19:35] #1090 closed

[2019-03-28 19:36] #1011 closed

[2019-03-29 05:13] kaizhangpnl opened #2825 "COAREv3.0 flux calculation"
A new surface flux formulation based on Fairall et al (2003) is proposed to be a candidate parameterization for V2. See the following page for details:

https://acme-climate.atlassian.net/wiki/spaces/EWCG/pages/942342153/COAREv3.0+flux+computation

The development branch is here:
https://github.com/E3SM-Project/E3SM/tree/kaizhangpnl/atm/COARE

We will issue the pull request after the evaluation is

[2019-03-29 17:43] susburrows commented on #2195
@singhbalwinder finally catching up on this.  Thanks.

[2019-03-29 20:34] amametjanov opened #2826 "Multi-threaded cases are not built with threading flags"
Current master (`v1.1.0-beta-1202-g6e47b9f`) appears to have dropped threading flags (`-qopenmp` for Intel compiler) for multi-threaded cases such as `SMS_P12x2.ne4_oQU240.A_WCYCL1850`.

[2019-03-29 20:46] jgfouca commented on #2826
Hi @amametjanov , on which machine and compiler did you see this?

[2019-03-29 20:47] amametjanov commented on #2826
Anvil+Intel

[2019-03-29 20:50] jgfouca commented on #2826
OK, looking at it now.

[2019-03-29 22:01] ndkeen commented on #2598
I have not heard anything back from NERSC, but it's been a while since I have seen this issue.

[2019-03-29 22:07] ndkeen opened #2827 "Fails with a module version update on cori-knl "urban net solar radiation error: no convergence, direct beam" (using a branch)"
Cori will be removing some module versions and adding new ones in the next maintenance. I'm trying to get master working with more recent module versions -- in this case the current defaults.

Using this branch: `ndk/machinefiles/cori-modup-mar2019`

I get 2 fails with e3sm_developer:
`ERS.f19_f19.I20TRCLM45CN.cori-knl_intel` and `ERS.f19_f19.ICLM45.cori-knl_intel` fail with same error:

[code]

T

[2019-03-29 22:35] jgfouca commented on #2826
I see the problem. It was introduced by the latest cime update, specifically compile_threaded was changed from lower to upper (true vs. TRUE) but many of our XML files were not updated. Fix coming.

[2019-03-29 23:37] #2826 closed

[2019-03-31 05:05] zshaheen opened #2829 "New error regarding the environment ("PrgEnv-intel/6.0.4(89):ERROR:102: Tcl command execution failed") with the run_e3sm script on Edison"
I've been using the run_e3sm script for some time now, but have now been getting this error.
The same script worked fine earlier this week.

Below is the error, I'm not too sure what's going on. Was something changed in the `acme` environment over the past week?

[code]

[2019-04-01 15:58] PeterCaldwell commented on #2825
Thanks for doing this, Kai! I'm very interested in the results.

[2019-04-01 17:28] ndkeen commented on #2829
There has not been any changes that I am aware of (at NERSC or in the repo), but obv if this is something you've been running previously, then there has to be an explanation.

It looks like the error above is from trying to use 7.6.0 version of MPICH which is old (and no longer available by default). And I can see in the above output that we are trying to use the "pe_archive" module which will all

[2019-04-01 18:28] zshaheen commented on #2829
Hi @ndkeen, thanks for helping with this, I appreciate it.

You can find my modified version of the script [here](https://www.diffchecker.com/56Vqx56h), on the right. On the left is the script used in the [E3SM Quick Start Guide](https://e3sm.org/model/running-e3sm/e3sm-quick-start/). The changes I made were related to running the model with restart files.

One thing to note is that I'm using [a b

[2019-04-01 18:37] ndkeen commented on #2829
As I was debugging the issue, it seems to have gone away.  I was getting an error even when I tried to remove modules on command line -- so clearly something was wrong. While trying to narrow down the problem to submit a NERSC ticket, it started working as expected.  Simply try your script again.

We could have some _really_ simple tests that could just verify the commands to setup environment wor

[2019-04-01 18:47] zshaheen commented on #2829
I logged off and logged back in again, then tried running the script again, but it still isn't working. I'm getting the same error. I'm going to try to rebuild based of the branch I was using.

[2019-04-01 19:41] zshaheen commented on #2829
Now when running the script again, I'm getting a new error.

[code]

[2019-04-01 20:10] ndkeen opened #2832 "floating invalid in subgridAveMod.F90 using DEBUG=TRUE and force 1 thread on cori"
Using master and the following test:

`ERS_D_PMx1.f19_g16.I1850CNECACNTBC.cori-knl_intel.clm-eca`

(which is DEBUG=TRUE and force 1 thread), I get the following error:

[code]

I see two source files with same name:
[code]

I get the same error when NOT forcing 1 thread, but this rules out a threading issue.
I get the same error with the following tests:

[code]

Example case dir:
`/global/cscratc

[2019-04-01 20:43] zshaheen commented on #2829
@chengdang, this is the same error as mine. By the way, this is not caused by the build of E3SM, as I'm getting this error when attempting to build from scratch. This error is encountered before any compilation takes place.

@ndkeen experienced similar issues and said that it randomly worked for him.

To my current knowledge, the issue is related to mismatches between older versions of the depende

[2019-04-01 21:14] zshaheen commented on #2829
The command causing errors is: `module load pe_archive cray-mpich/7.6.0 PrgEnv-intel/6.0.4`. Running it will give the below.
[code]

We try to load this module and we see the error:
[code]

We can load the latest `craype` found from `module avail`, and then try to rerun the command giving the error. When we do so, we get a new error:
[code]

But running it again works...
[code]

But the new error

[2019-04-01 21:31] ndkeen commented on #2829
Indeed I did see some of the same errors, but as of about 11am today (Apr1) they are gone for me. I'm surprised that others are still seeing these module-related issues.

To test, I log out, then back in:

[code]

Again, logging out and back in:

[code]

Again logging out and back in:

[code]

[2019-04-01 23:58] golaz commented on #2817
@wlin7 : do you think this is a bug in the code, or did we do something wrong when we configured the output?

[2019-04-02 00:58] zshaheen commented on #2829
@ndkeen, I'm able to reproduce what you're doing, except running `cime/tools/configure` part, I just run the `run_e3sm` script instead. It seems like whatever change happened to you is being propagated to others. So the error regarding `atp` is gone.

However, I'm still getting the same error as in the first post. I followed the [E3SM Quick Start Guide](https://e3sm.org/model/running-e3sm/e3sm-qui

[2019-04-02 01:28] rljacob commented on #2826
Does this mean threading tests like PET were not changing the threading?

[2019-04-02 01:32] ndkeen commented on #2829
OK thanks.

I just realized about an hour ago that I was testing the run_e3sm script in master and not in maint-1.0. When I tried maint-1.0, I also get an error.  And, just like you, I see the error with `cime/tools/configure` in the maint-1.0 branch (not on master).

I verified that case.setup works if I remove the module load of pe_archive, and use the current default version for cray-mpich (thi

[2019-04-02 01:45] cameronsmith1 commented on #2829
FYI, this is the problem I mentioned on the concalls today.  As @ndkeen mentioned, this problem occurs with maint-1.0, and not master.   The one thing I can add is that if I replace config_machines.xml in maint-1.0 with the one from master then maint-1.0 works.

BTW, based on this issue , my experience, and other discussions, it seems that something changed at NERSC in the last few days.

[2019-04-02 02:40] cameronsmith1 commented on #2829
BTW, if we cannot reproduce the problem with a simple command for NERSC, then we could create a run_e3sm script that will reproduce it for them (although this is obviously not ideal).

[2019-04-02 04:27] tangq commented on #2829
@ndkeen , I used v1.0.0-41-g3265e200f for a successful 5-day run on March 27 (Wednesday). Since you are trying older versions, you may want to try this one.

[2019-04-02 14:55] wlin7 commented on #2817
The default flags for TREFHTMX and TREFHTMN were overridden by avgflag_pertape ('A') for the daily fincl2 as used for the DECKv1 simulations.  Specs of 'TREFHTMX:X','TREFHTMN:M' in daily tape would work regardless of avgflag_pertage.

Also thanks to @swrneale for the offline comments on explicit specification of flags for TREFHTMX and TREFHTMN

[2019-04-02 15:22] amametjanov commented on #2826
Yes, both runs of a PET test were built with MPI-only flags. Environment for the first run was set for 2 threads, but that doesn't matter if the executable is built without threading flags.

[2019-04-02 16:23] rljacob commented on #2807
2019-04-02
SMS_D_Ln5.ne4_ne4.FC5AV1C-L.sandiatoss3_intel.cam-cosplite_nhtfrq5
cosp/quickbeam/radar_simulator.f90(15): error #7002: Error in opening the compiled module file.
https://my.cdash.org/testDetails.php?test=46341293&build=1630227

[2019-04-02 16:33] golaz commented on #2817
@swrneale and @wlin7 : thanks for helping out with this.

Here is the `fincl2` line in the run e3sm script that was used for piControl:

https://github.com/E3SM-Project/SimulationScripts/blob/df5197c1fd3002343f4c3912afbb8329afc31363/archive/DECKv1/ne30_oEC/run_acme.20180129.DECKv1b_piControl.ne30_oEC.edison.csh#L1007

If I understand you properly, we should replace

`fincl2 = [...] ,'TREFHT','TREF

[2019-04-02 16:56] rljacob commented on #2807
So the message about a missing module is not accurate but I'm more concerned with why it is random.

[2019-04-02 16:57] brhillman commented on #2807
Yeah I don't know why this would be random, and we'd probably need a reproducible error to be sure of the fix.

[2019-04-02 17:07] rljacob commented on #2807
Its random in time but so far its always sandiatoss3.  Its always that same file.

[2019-04-02 17:10] brhillman commented on #2807
Well, I could make the changes to code to make that file an actual module, and see if these "random" errors go away I guess. It's a pretty trivial change, but we don't really have any way of testing if it fixes the problem other than waiting.

[2019-04-02 17:19] zshaheen commented on #2829
@cameronsmith1, the [E3SM Quick Start Guide](https://e3sm.org/model/running-e3sm/e3sm-quick-start/) is able to reproduce the error with the `run_e3sm` script used in it.

@tangq, when you ssh into Edison, you see:
[code]
Whatever scheduled maintenance that was canceled might have cause this issue. I'd think any runs submitted on/after March 27 would no longer work.

[2019-04-02 18:32] AaronDonahue commented on #2765
@swrneale , pinging you again about the GWD energy non-conservation.

[2019-04-02 18:53] tangq commented on #2829
I did a test with my successful run script on 3/27. It failed with the same errors reported by @zshaheen.

[2019-04-02 19:04] wlin7 commented on #2817
Yes, @golaz , that will work with the updated fincl2, despite the 'A' in avgflag_pertape.

[2019-04-02 20:02] swrneale commented on #2765
Sorry, I'm not organized...
Can you remind me of a few details.
-Are you using the WACCM selections for GWD (i.e., orographic, frontal and convective)?
-Logs would be great also. Throw them on Edison somewhere.
Cheers
Rich

[2019-04-02 21:39] golaz commented on #2817
@wlin7, thanks for confirming. On a slightly related note; is it possible to directly output the **monthly mean of daily min/max**? I assume if we add

`'TREFHTMN:M','TREFHTMX:X'`

to fincl1, we will just get the **monthly min/max** values, which is not what it typically compared to observations.

[2019-04-02 21:47] wlin7 commented on #2817
@golaz , you are right. If we put 'TREFHTMN:M','TREFHTMX:X' on fincl1, we would get monthly min/max values as the "M' and 'X' flag is intended for -- the min/max of the output period, instead of monthly mean of daily min/max. I don't see an easy way of directly saving such monthly means given the current history file module.

[2019-04-02 22:13] wlin7 commented on #2807
The error message seems to suggest that it couldn't find the module "scale_LUTs_io".

The file scale_LUTs_io.f90 is a normal module file.  Next time when it failed, please try to check if
scale_LUTs_io.o  and .mod exist under bld/atm/obj/cosp.

If they don't exist, either the dependency rule somehow broke, or the compilation of scale_LUTs_io.f90 itself failed. In the latter case, the error log on

[2019-04-02 23:52] ndkeen commented on #2829
Minor update:

Woo-Sun (NERSC consultant) replied to my ticket that one other NERSC user has reported problems using the `pe_archive` module on Cori. Assuming it's a similar issue, that means the problem is not specific to edison.  They are looking into it.

For me, I get an error with the following commands:
[code]

[2019-04-03 00:12] zshaheen commented on #2829
I have some good news. With the version of the code that I already built using #2728, simply using the `config_machines.xml` from master, [located here](https://github.com/E3SM-Project/E3SM/blob/master/cime/config/e3sm/machines/config_machines.xml), worked. I was able to match previous results, bit for bit. Thanks for the suggestion @cameronsmith1.

[2019-04-03 00:27] cameronsmith1 commented on #2829
Hi Zeshawn, that is good news.   Which configuration did you test for being bfb?

[2019-04-03 00:37] tangq commented on #2829
That's great, @zshaheen . I am doing the BFB test of H1 with an older executable too. It will run in less than 1 hour. Hopefully, it's also BFB.

[2019-04-03 01:32] tangq commented on #2829
Just to update...My test is also BFB. Since we don't have much time to complete the 3 GHG only simulations, I will use @cameronsmith1's way to bypass the edison environment issue and start these GHG only runs today.

[2019-04-03 03:38] wlin7 commented on #2807
It is likely scale_LUTs_io.f90 was not compiled before radar_simulator.f90 did for the failed test.  Can someone please give a check on the bld directory of build/atm/obj/cosp.

In cam/src/physics/cosp/Makefile.cospinline.in,  the object radar_simulator.o is not explicitly made dependent of scale_LUTs_io.o.  I don't see an indirect dependency either.  Does that mean we have been relying on racing

[2019-04-03 04:07] rljacob commented on #2807
I thought the dependency list for the atmosphere was generated dynamically with each build by parsing the Fortran files.  The result is in $EXEROOT/bld/atm/obj/Depends for each case  and is generated by CIME using the cime/scripts/Tools/mkDepends program.

[2019-04-03 13:14] wlin7 commented on #2807
Yeah, this procedure is not yet applied to the build of cosp.   Currently for building libcosp.a, it directly uses the template as in Makefile.cospinline.in. It should be helpful to check the dependency rule in bld/atm/obj/cosp/Makefile. And in the case of failed test, check if indeed module scale_LUTs_io was not yet compiled. Once confirmed, I think we can use PR #2835 as a tentative fix until sw

[2019-04-03 14:46] brhillman commented on #2807
Nice catch @wlin7

[2019-04-03 15:41] zshaheen commented on #2829
I was running the Historical H3 simulation and tested 10 days. I'm going to do a 1 year run and will report if anything is incorrect. Glad to know others are getting a bit-for-bit result as well.

[2019-04-03 16:11] ndkeen commented on #2829
I had suggested earlier that a work-around might be to simply use the current version of cray-mpich. We would not expect the version of MPI to change results. You shouldn't need to copy config_machines.xml from master as that changes more. We made this decision to use 'pe_archive' so that we could keep all of the module versions the same to avoid the need to verify BFB. Had I known that running a

[2019-04-03 16:22] ndkeen commented on #2829
I also just recvd another email from NERSC saying:

[code]

We currently use version 2.5.12. I just tried that and indeed case.setup completes. The craype module is even less dangerous than mpich -- would certainly not expect any differences in our runs from changing the version of this module.  So now we have a few options.

[2019-04-03 16:41] tangq commented on #2829
@ndkeen , this seems the best solution for now. Is that right? Which line in config_machines.xml should we make this change? I can test it and if it works I will use it for the GHG only production runs. We will want this change on maint-1.0 after we have a successful BFB test. Thanks!

[2019-04-03 16:47] tangq commented on #2829
@ndkeen , I think I found it. Is it the line 128?

[2019-04-03 16:52] ndkeen commented on #2829
I'm not sure the best option. If I understand, here are the options. I can help make a PR to do any of these for maint-1.0:

a) continue using config_machines.xml from master (or at least just changing the edison section which I can help with).  One advantage is keeping master and maint-1.0 from getting too far apart.  Although, I think this involves changing the intel compiler version (?)

b) onl

[2019-04-03 17:12] jonbob commented on #2725
@rljacob , @minxu74 - we need to modify the MPAS Makefile for a couple of other reasons, so I wanted to check and see if there's a consensus about changes required for this PR. If so, we can make a single update as soon as possible. Thanks

[2019-04-03 17:12] tangq commented on #2829
Options c) and d) seem better. I am testing both of them now and will compare them to the DECK H1 to verify BFB. If both tests are BFB, I'd say the option c) is the best.

[2019-04-03 17:53] minxu74 commented on #2725
@jonbob I am still for letting Fortran compiler handle the preprocessing. Thanks.

[2019-04-03 17:55] jonbob commented on #2725
@minxu74 - exactly what change then is needed in the MPAS Makefile?

[2019-04-03 18:42] minxu74 commented on #2725
@jonbob how about changing the CPP definition in the Makefile.in to the FORTRAN compiler with cpp options. For example, the GNU compiler, you can specify -cpp to enable preprocessing.  Or we could get rid of the preprocessing step and compile source codes with prepreocessing directly.

[2019-04-03 18:53] rljacob commented on #2725
Long ago, Fortran compilers did not have preprocessors and yet people wanted to pre-process their Fortran so they used cpp.  But now every Fortran compiler includes a built-in preprocessor and that should be used instead of cpp for all E3SM components.

[2019-04-03 20:45] tangq commented on #2829
Both tests of options c and d are BFB. I created the PR #2836 and asked @ndkeen to review it. It would be good if it can be merged today, so we can have more time to complete the GHG only runs before Edison retires.

[2019-04-04 18:11] sarats opened #2838 "Issue with isnan intrinsic function"
Case: FC5AV1C-L
Res: ne4
Compiler: PGI and IBM
File: components/clm/src/data_types/VegetationDataType.F90

PGI error:
PGF90-S-0038-Symbol, isnan, has not been explicitly declared (/autofs/nccs-svm1_home1/sarat/repos/E3SM/components/clm/src/data_types/VegetationDataType.F90)

IBM error:
/autofs/nccs-svm1_home1/sarat/repos/E3SM/components/clm/src/data_types/VegetationDataType.F90", line 3132.28: 151

[2019-04-04 18:21] sarats commented on #2838
Intel seems to have this intrinsic : https://software.intel.com/en-us/fortran-compiler-developer-guide-and-reference-isnan

Still, I wonder why our tests haven't caught this. Looks like we are testing just GNU and Intel?
@rljacob Can we add at least PGI to the tests? Perhaps using PGI community edition.

[2019-04-04 18:27] minxu74 commented on #2838
Base on my.cdash.org, only Gnu and Intel are tested now.

[2019-04-04 18:34] dqwu opened #2839 "Verbose output of PIO parameters in e3sm.log"
With latest E3SM master branch, there are many lines on PIO parameters
printed out to e3sm.log. This can produce a huge log file and significanlty
increase the case run time.
[code]
This looks like a regression caused by recent CIME changes.
For a high-res F case run on Cori, e3sm.log has 860000+ lines
now (only 1300+ lines before).

By default, this kind of verbose output should be disabled.

[2019-04-04 18:37] rljacob commented on #2838
We stopped testing PGI when we stopped testing on Titan.

To add back PGI we need a machine that has it along with the associated software stack that needs to be built with PGI (mpich, pnetcdf, etc).  I think Anvil has it.   Someone who cares about pgi will have to watch the test report on the dashboard.

[2019-04-04 18:45] ndkeen commented on #2838
Noting that PGI will be the preferred compiler for perlmutter at NERSC.  And, in general, I think the more compilers we test with, the better.

[2019-04-04 18:47] rljacob commented on #2838
At the time we glad to be rid of PGI since it always seems to be a buggy compiler.  Otherwise yes the more compilers the better especially for Fortran.

[2019-04-04 18:47] crjones-amath commented on #2838
Noting also that the ACME-ECP project is running on Summit and requires pgi.

[2019-04-04 18:48] rljacob commented on #2838
ACME-ECP is responsible for doing their own testing.  E3SM itself has no time on Summit.

[2019-04-04 18:50] jgfouca commented on #2839
@jayeshkrishna , can you comment on this?

[2019-04-04 18:53] crjones-amath commented on #2838
@rljacob Understood, and we're happy to log issues on E3SM as they arise during our testing. I just wanted to echo @ndkeen's comment with another voice of support for testing PGI.

[2019-04-04 18:58] rljacob commented on #2838
Our ORNL testing required a person to log in and run the suite which then reported to the dashboard.  If someone in ECP wants to take that on, we can provide instructions.

[2019-04-04 19:10] jayeshkrishna commented on #2839
At one glance, I don't know what is causing the issue, the line that prints the output hasn't changed in a while, however some other change in CIME could have cascaded this change in behaviour.

[2019-04-04 19:14] jgfouca commented on #2839
OK, I'll try to track it down.

[2019-04-04 19:16] ndkeen commented on #2829
We made a PR and merged it to maint-1.0 that does (c).

[2019-04-04 19:19] sarats commented on #2838
Few thoughts that motivated this discussion:

If our INCITE allocation next year or two for E3SM (not MMF) targets Summit, we don't want to hit all these bugs at that time. Especially, testing the CPU-only portions of code in components like land that will not be ported to GPUs.

Moreover, Summit might not be suitable for running integration tests due to queue limits. We would need the the 'single

[2019-04-04 19:30] jayeshkrishna commented on #2839
@dqwu and I are trying to track down this issue too (it could also have been a bug that is now exposed due to recent CIME changes)

[2019-04-04 19:33] dqwu commented on #2839
@jgfouca
It is confirmed that this issue is introduced by PR #2799

[2019-04-04 19:37] minxu74 commented on #2838
@rljacob Can CIME just compile the tests without actually submitting them and report the compilation results back to cdash.  If so, I think I can do it weekly.  At least we can catch these compilation errors.

[2019-04-04 19:39] rljacob commented on #2838
@jgfouca can we run an entire suite as "build-only" and wait-for-tests report that correctly?

[2019-04-04 19:41] jgfouca commented on #2838
@rljacob , yes. The --no-run option would need to be provided to create_test and the --no-wait option to wait_for_tests.

[2019-04-04 20:03] mark-petersen commented on #2725
It turns out we do use the Fortran compiler for pre-processing. We only use the c-preprocessor to write the processes files to disk, if they are requested for debugging. Here CPP is the c-preprocessor, and FC is the Fortran compiler:
[code]
https://github.com/MPAS-Dev/MPAS-Model/blob/e3sm/develop/src/operators/Makefile#L41
The solution is to add this
[code]
in the newly renamed `Makefile.in.E3SM`

[2019-04-04 20:16] dqwu commented on #2839
@jgfouca
We will use git bisect to locate the bad commit and let you know later.

[2019-04-04 21:34] jayeshkrishna commented on #2839
Ok, it looks like shr_pio_mod.F90 was modified in PR #2799 and that is the source of the issue

[2019-04-04 21:35] jayeshkrishna commented on #2839
I will create a PR to fix this issue soon

[2019-04-04 22:00] dqwu commented on #2839
git bisect does not work. shr_pio_mod.F90 is one of the 176 files changed by PR #2799.
Only the merge commit is kept and the original 3,575 commits are squashed while merging.

[2019-04-04 22:30] rljacob commented on #2838
@jgfouca so @minxu74 can cd to cime/scripts and do
create_test --no-run e3sm_integration_next_pgi
Then where does he run wait_for_tests ?

[2019-04-04 22:37] jayeshkrishna commented on #2839
This issue was introduced in #3eebd7fe90a87f8e824989bddbd63ad053239aad where shr_pio_mod.F90 was modified (incorrectly) as below,
[code]

[2019-04-04 23:17] mark-petersen commented on #2725
@minxu74 In the set-up that caused this error, please alter
`components/mpas-source/src/Makefile.in.ACME`
with:
[code]
which is just after the other override CPPFLAGS lines, and confirm that it solves your problem. If so, I'll make a PR.

Note this method was already added for compiling stand-alone MPAS components, which can be seen here:
`components/mpas-source/Makefile`
[code]

[2019-04-05 14:55] dqwu commented on #2839
@jayeshkrishna
Your quick fix looks good, thanks.
PS, for write(shr_log_unit,*), rank 0 writes to cpl.log while all other ranks write to e3sm.log.

[2019-04-05 16:18] jgfouca commented on #2838
@rljacob , @minxu74 :

[code]

[2019-04-05 18:01] minxu74 commented on #2838
@jgfouca @rljacob Thanks a lot. Let me try.

[2019-04-06 04:48] minxu74 commented on #2725
@mark-petersen I just did a quick test using the MPAS component and  I can confirm that your modification solved my problem. Since gen_f90 is just for debug purpose, shall it be set to false as default?

[2019-04-08 17:28] whannah1 opened #2841 "drydep() is called without ocnfrac and icefrac arguments"
While working with aquaplanet compsets I wanted to avoid having to specify the drydep file, so I added an if statement in _get_landuse_and_soilw_from_file()_ to avoid loading this file when aquaplanet is used, since the file only contains information about land use and soil water content.

However, this caused non-BFB diffs in regression tests because the default namelist value => _drydep_method =

[2019-04-08 21:04] mark-petersen commented on #2725
My preference is to turn GEN_F90 to false by default. Compile should be quicker, and we can turn it on when debugging the ocean.

@rljacob @jonbob @vanroekel do you have a preference?

If you agree, we can change GEN_F90 to false in our E3SM makefile update this week.

[2019-04-08 22:22] rljacob commented on #2725
Your solution sounds good to me.

[2019-04-09 16:52] chengdang opened #2845 "InvalidHeaderError: invalid header, lib error or archive error?"
Hello, I'm trying to extract some files using zstash on NERSC:

zstash extract --hpss=/home/g/golaz/2018/E3SM_simulations/repaired/20180129.DECKv1b_piControl.ne30_oEC.edison archive/ocn/hist/mpaso.hist.am.timeSeriesStatsMonthly.00[2-3][0-9]-[0-1][0-9]-01.nc

I got numerous errors as follows:

[code]

Does this mean the tar files archived on HPSS contain errors? or is this a hidden python lib error

[2019-04-09 17:14] tangq commented on #2845
Try add "" to the files.

[2019-04-09 17:22] chengdang commented on #2845
@tangq thanks, Qi. It returns the same errors. BTW, I am able to extract ice and atm outputs, somehow not the ocean outputs.

[2019-04-09 17:31] tangq commented on #2845
A few other things you can try.
- delete the zstash/index.db file and retrieve a new one
- check the file list (`zstash ls`) to see if the files exist
- use a different way to match the file names

[2019-04-09 18:35] chengdang commented on #2845
@tangq  thanks Qi. I fixed it by deleting the existing index.db and retrieve a new one. I'll close this question.

[2019-04-09 18:36] #2845 closed

[2019-04-10 19:27] jayeshkrishna opened #2847 "E3SM hangs in MPI finalize on Summit"
E3SM hangs on Summit when running F case with ne4_ne4 resolution. This problem was reported by Tahsin Kurc (@tkurc) while testing E3SM+PIO2+ADIOS on Summit.

I observed the same issue with PIO2 tests on Summit.

This issue can be recreated using a simple MPI hello world program on Summit.

[2019-04-10 19:29] jayeshkrishna commented on #2847
Tahsin Kurc also noted that updating the IBM MPI library version resolved the issue (Hang in MPI finalize is a known issue - https://www.olcf.ornl.gov/for-users/system-user-guides/summit/summit-user-guide/#known-issues)

I verified that the MPI hello world program no longer hangs after updating the MPI library version locally (spectrum-mpi/10.2.0.10-20181214 to spectrum-mpi/10.2.0.11-20190201)

[2019-04-10 19:30] jayeshkrishna commented on #2847
I will be creating a PR soon to fix this issue

[2019-04-10 20:11] jayeshkrishna commented on #2847
Also, the upcoming PR will also update the essl module (essl/6.1.0-20180406 is not available, we need to use essl/6.1.0-2 instead)

[2019-04-10 20:34] #2839 closed

[2019-04-10 21:02] jgfouca commented on #2813
Fixed this a while ago.

[2019-04-10 21:02] #2813 closed

[2019-04-11 16:04] sarats commented on #2838
@bishtgautam Would you or someone from land group look into this?
Although it's a minor fix, just wanted to get this to the notice of Land developers that IBM (specifically) and PGI compilers seem to adhere relative strictly to the standards. So, something to be aware of.

[2019-04-11 16:20] #2383 closed

[2019-04-11 16:20] #2719 closed

[2019-04-11 16:20] #2841 closed

[2019-04-15 15:03] singhbalwinder opened #2855 "Land model compile time error (Different types in pointer assignment)"
While building SMS.ne4_ne4.FC5AV1C-L on Compy, I got the following error:
[code]

[2019-04-15 15:03] singhbalwinder commented on #2855
@bishtgautam : I have temporarily assigned it to you. Please feel free to reassign.

[2019-04-15 15:39] bishtgautam commented on #2855
@singhbalwinder, Please test out bishtgautam/lnd/fixes-for-emi branch

[2019-04-15 16:07] singhbalwinder commented on #2855
Thanks @bishtgautam ! I will give that a try. @rljacob thinks that GNU 4.8.5 is too old and it may not be worth fixing it.

[2019-04-15 18:24] dqwu opened #2858 "Unexpected flags in PIO2 build log on Cori"
With the latest E3SM master (09f1a3363aac8f5ca74d2a319a900efb69121421), PIO2 build (using PIO2 from E3SM fork) contains unexpected flags (however the build and run do not fail).

How to reproduce:
1) Checkout latest E3SM master branch
2) Edit cime/src/drivers/mct/cime_config/config_component.xml to change
default PIO_VERSION to 2
3) Replace cime/src/externals/pio2 with latest pio2 master branch:
[

[2019-04-15 18:26] rljacob commented on #2858
@jgfouca you might need to look at this.

[2019-04-15 18:28] jayeshkrishna commented on #2858
This could be the source of the "-cxxlib" flag missing for PIO2,
[code]

[2019-04-15 18:29] jgfouca commented on #2858
@dqwu , @jayeshkrishna , does PIO2 use C++ (CXX)?

[2019-04-15 18:30] jayeshkrishna commented on #2858
Yes, PIO2 uses C++ (and C, Fortran)

[2019-04-15 18:30] jgfouca commented on #2858
OK, I'll take a look at it.

[2019-04-15 19:26] jgfouca commented on #2858
@dqwu , it worked for me:

[code]

Should I have expected the build to fail? Or just the flags to be messed-up?

[2019-04-15 19:41] jayeshkrishna commented on #2858
(@jgfouca : Note that you need to replace pio2 on master with pio2 in E3SM fork)

[2019-04-15 20:12] dqwu commented on #2858
@jgfouca
Just look at the flags in the build log (pio.bldlog.****.gz). The build does not fail, though.

[2019-04-15 21:25] zshaheen commented on #2829
So I ran what I needed on Edison some time ago with the suggested fixes and all seemed fine. Also, others seems to have it working for them as well. @ndkeen provided a fix on #2837, so I'm going to close this issue.

[2019-04-15 21:25] #2829 closed

[2019-04-15 21:32] jgfouca commented on #2858
OK, I have a branch with some fixes. The lack of -cxxlib was due to the Makefile problem that @jayeshkrishna found (wrong case for TRUE). I'm still looking for the source of qopenmp duplication. Fixed the intel CXX definition to only add qopenmp if compile_threaded=TRUE did not fix the problem.

[2019-04-15 23:34] jgfouca commented on #2858
@dqwu , try my branch: jgfouca/cime/minor_compiler_fixes

The qopenmp duplication is still there, but it appears to be harmless.

[2019-04-16 07:34] ndkeen opened #2860 "Errors from /opt/cray/gni-headers "dla_retransmit_discarded_blocks:" for several threaded MPAS tests on cori-knl"
New failures that look to me like system-level fails (ie unrelated to our code, but I've not verified). I found 2 of these a few days ago after the Cori SW upgrade (April 10) and was trying to find out more. I had not realized that one of our routine tests were also failing with what looks like a similar error -- but has been happening since March 30th. There _could_ have been some changes on the

[2019-04-16 14:00] dqwu commented on #2858
@jgfouca
Thanks for the quick fix. I tried that branch with PIO1/PIO2 (1 thread and 2 threads)
and it seems good.
1) cxxlib is in LDFLAGS for PIO2 (it is not there for PIO1, which is expected)
2) If compile_threaded is FALSE, qopenmp is not in LDFLAGS or CXXFLAGS.

PS, are you able to identify the source of qopenmp duplication?
If compile_threaded is TRUE, qopenmp still appears twice in both LDFLA

[2019-04-16 14:28] ndkeen commented on #2860
Using a master from March 29th, these 2 tests did not fail:
[code]

[2019-04-16 15:39] minxu74 opened #2862 "Build error on MPAS-LI with PGI compiler on Summit"
There is a build error when comping MPAS-LI on Summit, The error message is  as follows:

[code]
The test name is SMS.T62_oQU120_ais20.MPAS_LISIO_TEST.summit_pgi.  I have tried PGI/18.7, 18.10 and 19.1 on Summit and got the same error.

[2019-04-16 16:29] jgfouca commented on #2858
@dqwu , I was not able to identify the source of the duplicated qopenmp. I was going to leave it alone since it didn't appear to break anything.

[2019-04-16 16:48] dqwu commented on #2858
@jgfouca
That's OK, you can go ahead to create a PR, thanks.

[2019-04-16 16:51] ndkeen commented on #2860
This does appear to be a threading issue -- or mismatch in threading options for MPAS which was introduced around March 30th and will be fixed by https://github.com/E3SM-Project/E3SM/pull/2852/

[2019-04-16 17:30] dqwu commented on #2860
I have been testing GMPAS-NYF_T62_oRRS18to6v3 with both PIO1 and PIO2 on Cori. For 9600x2 PE layout, it started to fail (timeout or similar error messages listed above) recently. For 9600x1 PE layout it still works. Will retest 9600x2 after PR 2852 is merged.

[2019-04-16 17:35] ndkeen commented on #2860
Yep, apparently this was a known issue (threaded MPAS broken) that is just taking a while to get into the repo.  It would have helped if the error message was more informative.
I'm trying some tests with Mark P's branch.

[2019-04-16 18:05] ndkeen commented on #2860
I did verify that I can get at least one of these tests to work if I do:

edit `components/mpas-source/src/Makefile.in.ACME`
and change all of the true/false string to TRUE/FALSE for compile_threaded

[2019-04-17 15:49] dqwu opened #2866 "Unable to disable regionalStatisticsOutput in streams.seaice for G case"
--compset GMPAS-NYF --res T62_oRRS18to6v3
Test with just 1 thread due to known MPAS-Ocean threading issue.

After case.setup, copy streams.seaice in the run directory to SourceMods/src.mpassi

Edit this file to change output_interval of regionalStatisticsOutput to none.
[code]

Run case.setup --reset before case.build and case.submit.

However, the following file is still output to the run directo

[2019-04-17 22:29] singhbalwinder commented on #2862
@minxu74 : I confirmed that I get the same build error on Compy with PGI 18.10. It works fine with the Intel compiler.

[2019-04-18 02:07] minxu74 commented on #2862
@singhbalwinder Cool! Thanks a lot for the confirmation.

[2019-04-18 21:15] xuezhengllnl opened #2868 "Automatic resubmit does not work on Edison"
The hash number is: 4a3194ddd0cb16cedfd03eb23f2c4d82ea66d797
Here is the error message:
[code]

[2019-04-18 22:17] rljacob commented on #2868
Can you see if latest master has this problem?

[2019-04-19 00:03] ndkeen opened #2869 "Fix our math to compute the "-c flag". Especially for cori-knl."
We currently compute the -c flag for the machine, but it doesn't account for all situations.

[code]

This is usually correct:

For 64 MPI's per node, 272/64=4.25, which is integer-mathed to be 4.

However, for 16 MPI's per node, 272/16=17.0, and 17 is used. It doesn't make sense to use "-c 17" (and I am pretty sure the performance will be bad). The correct -c flag should be 16 in that case.

[2019-04-19 02:20] amametjanov commented on #2869
IIRC, 272 was chosen for full occupancy of a node. If a power-of-two number of cores/node is the most commonly used case, then might as well switch from 272 to 256.

[2019-04-19 20:53] AaronDonahue opened #2870 "MCT compile breaks when using -real-size 64 intel compiler flag"
If the intel fortran compiler flag `-real-size 64`, which is equivalent to `-autodouble` or `-r8`, is used the build will break during MCT.  We tracked the issue down to the file: `cime/src/externals/mct/mpeu/m_realkinds.F90` which has the following block of code that conflicts with the compiler flag option:

[code]

where SP and DP are defined.  The break in the build is in an "interface" defined

[2019-04-19 20:54] AaronDonahue commented on #2870
Pinging @bartgol and @ambrad who helped me track this down.

[2019-04-19 21:02] bartgol commented on #2870
The error showed up in m_mpif90.F90 module, where two "overloads" of MP_Type were given, for SP and DP. If the default real is 64 bits, and SELECTEDREALKIND is not defined, you end up with SP=DP. This yielded to the two overload to be exactly the same, which meant the interface procedure could not pick one.

Possible solution: Make SP _always_ denote single precision, and DP _always_ denote double

[2019-04-19 21:06] worleyph commented on #2870
FYI - CCSM went through an extended exercise to eliminate dependence on compiler flags to  autopromote variables, adding explicit typing everywhere, including constants. This has been maintained (as far as I know) in CESM and E3SM. @rljacob , any comments about MCT supporting (or deliberately not supporting) , for example, -r8 ?

[2019-04-19 22:22] rljacob commented on #2870
Yes auto-promotion is not allowed in E3SM fortran builds.

[2019-04-19 22:30] rljacob commented on #2870
Although the behavior I'd expect is that MCT just ignores any auto-promotion flags.  So this is worth looking at.

[2019-04-19 22:33] bartgol commented on #2870
You mean you thought MCT would ignore the `-real-size 64` flag?

[2019-04-21 04:41] jinyuntang commented on #2832
@ndkeen, @bishtgautam, have you figured out this issue? I also encountered this problem and got stuck.

[2019-04-21 18:02] shz0116 opened #2873 "PGI Compiling errors on summit when compiler for GPU"
I am working on porting atm ndrop.F90 file to GPU on summit Using OpenACC. When trying to
create a sequential kernel for activate_modal by adding "!$acc routine seq", the compiler generated
the following error (mpif90):

PGF90-S-0000-Internal compiler error. Call in OpenACC region to support routine - __builtin_alloca (/autofs/nccs-svm1_home1/hshan/E3SM/components/cam/src/physics/cam/ndrop.F90)

I

[2019-04-22 04:02] rljacob commented on #2870
No I thought -r8 would have no effect but you get a build error even with that.
A workaround is go ahead and define SELECTEDREALKIND.  You can then build with any of the autopromotion flags.

IIRC, we were concerned about using the intrinsic selected_real_kind() because although "6" as the argument will usually get you 32-bits, thats not in the  (F90) standard and its really up to the compiler.  T

[2019-04-22 06:29] shz0116 commented on #2873
I found the problem. By default, -Mstack_array is defined, which caused the problem.
Removing this option solves the problem. Just wonder why this option is enabled ?
Is there any performance advantage ?

[2019-04-22 14:24] #2717 closed

[2019-04-22 15:52] minxu74 commented on #2873
It is said that the speed accessing to stack is faster than to heap memory, but it is not necessary true for all situations.  We can profile the performances w and w/o that option on Summit.

[2019-04-22 17:14] ndkeen commented on #2832
I do not have any more information -- was assuming the folks associated with this code would weigh in

[2019-04-22 17:24] #2847 closed

[2019-04-22 18:09] sarats commented on #2873
@shz0116 You can go ahead with -Mnostack_arrays specifically for that file if you want to be selective. I presume you are doing 'routine seq' in the interim. You can also allocate such arrays explicitly.

https://www.pgroup.com/resources/docs/18.10/pdf/pgi18ref-x86.pdf
[code]

[2019-04-22 18:14] ndkeen commented on #2869
Well, using 256 would help some, but not others. I think we just need some new logic here. I guess there's still no other variables in that config XML file that we can use to do this, huh...  Seems silly to be doing this math in shell language embedded in XML, but I'm sure we can make it work.

[2019-04-22 18:26] sarats commented on #2873
Looking into activate_modal function, some of those arrays might be large, hence the need for allocating them on the heap. If you wish, you can selectively allocate the larger arrays.

As I understand, stack_arrays was used to obviate expensive allocates on the GPU side.

[2019-04-22 18:33] shz0116 commented on #2873
Thx. Setting -Mnostack_arrays works.

shan

On Mon, Apr 22, 2019 at 11:26 AM Sarat Sreepathi <notifications@github.com>
wrote:

[2019-04-22 19:36] xuezhengllnl commented on #2868
@rljacob I tried with the latest master and it had the same error message (batch_output/edison.20190419-master.Test_resub.ne30_ne30.o13017481):
 48 mach edison
 49 resubmit_num 5
 50 Traceback (most recent call last):
 51   File "/var/spool/slurmd/job13017481/slurm_script", line 84, in     <module>
 52     _main_func(__doc__)
 53   File "/var/spool/slurmd/job13017481/slurm_script", line 79, in

[2019-04-22 20:24] bishtgautam commented on #2832
I haven't had time to work on this issue.

[2019-04-22 21:40] rljacob commented on #2868
One more thing, what is the create_newcase command you are using to set this up?

[2019-04-22 21:59] jgfouca commented on #2868
Passing along to Joe.

[2019-04-22 22:03] milenaveneziani commented on #2868
A quick note to say that I am using hash a3452b7a7 and the latest e3sm-unified env on edison, and the RESUBMIT option works for me.

[2019-04-22 22:09] xuezhengllnl commented on #2868
2019-04-19 13:52:57: /global/cscratch1/sd/xzheng/E3SM_code/20190419-master/cime/scripts/create_newcase --case edison.20190419-master.Test_resub.ne30_ne30 --compset FC5AV1C-04P2 --script-root /global/cscratch1/sd/xzheng/E3SM_simulations/edison.20190419-master.Test_resub.ne30_ne30/case_scripts --res ne30_ne30 --pecount S --handle-preexisting-dirs u --mach edison --output-root /global/cscratch1/sd/xz

[2019-04-23 15:08] #2731 closed

[2019-04-23 21:45] #2873 closed

[2019-04-23 22:14] ndkeen commented on #2598
Closing as I've not seen this issue again (or heard any other complaints)

[2019-04-23 22:14] #2598 closed

[2019-04-23 22:58] rljacob opened #2879 "2 fully coupled tests with threading failing after CIME update."
(These have been failing for a while so I want to have an issue to record the reasons.)
Since March 30th, these tests have failed.

From e3sm_integration (next and master)
PET_Ln9_PS.ne30_oECv3_ICG.A_WCYCL1850S.sandiatoss3_intel.allactive-mach-pet
SMS_P12x2.ne4_oQU240.A_WCYCL1850.sandiatoss3_intel.allactive-mach_mods

From e3sm_prod (next)
SMS_Ld2.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.anvil_intel.alla

[2019-04-23 23:07] rljacob commented on #2879
They were passing on master with : 6e47b9f9 then failed with  c08df24a758e.
The only PR merged was:
  Merge branch 'jgfouca/cime/fix_build_threaded_casing' into master (PR #2828)

[2019-04-23 23:09] jgfouca commented on #2879
This is waiting for the MPAS fix, right?

[2019-04-23 23:17] rljacob commented on #2879
Why didn't https://github.com/E3SM-Project/E3SM/pull/2843 fix this?

[2019-04-23 23:22] rljacob commented on #2879
Oh because it hasn't been merged yet.

[2019-04-23 23:36] rljacob commented on #2879
Ok here is where I get confused,
SMS_Ln5.ne30_ne30.FC5AV1C-L.cori-knl_intel.cam-cosplite on next, which also uses threading, was passing on 4048f9c, failed with f2eefcf33, and then passing again at  40aa6a7918ebffcf.

[2019-04-23 23:42] rljacob commented on #2879
The commits to next between the last 2 hasses are all about anvil updates

[2019-04-24 05:07] rljacob commented on #2879
SMS_Ld2.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.anvil_intel.allactive-v1cmip6 is now passing.  It doesn't have any threading so that make sense.

[2019-04-24 16:46] #2858 closed

[2019-04-24 17:06] jinyuntang commented on #2832
@bishtgautam and @ndkeen, I believe I got some clue to fix this issue. @bishtgautam maybe you can re-assign this issue to me. Thanks

[2019-04-25 20:51] AaronDonahue commented on #2704
Does this also fix issue #2765?

[2019-04-25 20:55] beharrop commented on #2704
I didn't check, but I wouldn't think so.  Energy depends on the water species, but those are always kept as wet mixing ratios, so were not subject to this bug.  Though the fact that it was the same two parameterizations for both issues is suspicious.

I can try a quick run with print_energy_errors = .true. set.  Does the error show up immediately?  Can I get away with running just a few time steps

[2019-04-25 21:14] AaronDonahue commented on #2704
@beharrop , yes, the conservation errors pop up in the first few steps so you should be able to see what happens with print_energy_error = .true. right away.

[2019-04-25 21:28] beharrop commented on #2704
@AaronDonahue, great.  I will try that and report back.

[2019-04-26 23:31] beharrop commented on #2704
@AaronDonahue, Nope.  #2883 still yields energy conservation error printouts from gwdrag.  I only ran out 14 timesteps and didn't see any errors from CLUBB.

[2019-04-26 23:34] beharrop commented on #2765
@AaronDonahue, @swrneale,  One potential source of the energy conservation issue could be the use of dry static energy in place of temperature for converting the momentum to heat.  As noted by [Williamson et al. (2015)](http://doi.wiley.com/10.1002/2015MS000448), using dry static energy in place of temperature is incorrect for a hybrid pressure coordinate atmosphere like CAM or EAM.  I don't know

[2019-04-29 19:27] swd-turner opened #2887 "leap year problem"
When running with `--res NLDAS_NLDAS --compset RM` the model appears to fail when it hits 28th Feb on a leap year. From the `lnd` log file:

(dlnd_comp_run) lnd: model date 19760227   84600s
(dlnd_comp_run) lnd: model date 19760228       0s
(shr_dmodel_readstrm) file ub: /pic/projects/climate/csmdata//lnd/dlnd7/NLDAS/Livneh_NLDAS_1970_2011.nc    1886
 (shr_strdata_advance) ERROR: for stream

[2019-04-29 23:15] AaronDonahue commented on #2704
@beharrop , thanks for checking.  I wonder if the CLUBB energy errors have been remedied.  It is on my todo list to re-simulate the errors and put together a more comprehensive explanation of what is going on.  I'll report back about the CLUBB errors when I do.

[2019-04-30 13:20] jingtao-lbl opened #2889 "error with the up-to-date version on cori-haswell"
I updated the model to the latest Master version yesterday, and then got an error when submitting my job on cori-haswell:

"ERROR: Namelist default for variable iac_gnam refers to unknown XML variable IAC_GRID."

which I never encountered before.  Is this about the new update to cime5.8.2?

[2019-04-30 13:51] jingtao-lbl commented on #2889
Never mind. It disappeared after I rebuilt the model.

[2019-04-30 13:54] #2889 closed

[2019-04-30 15:48] bishtgautam opened #2890 "Land model crashes for SMS_D_Ln5.twpx4v1_twpx4v1.FC5AV1C-L test"
Following is the tail of e3sm.log for SMS_D_Ln5.twpx4v1_twpx4v1.FC5AV1C-L.sandiatoss3_intel test:
[code]

[2019-04-30 15:50] bishtgautam opened #2891 "Land model crashes for SMS_D_Ln5.enax4v1_enax4v1.FC5AV1C-L"
Similar to #2890
[code]

[2019-04-30 15:51] bishtgautam commented on #2890
The land IC file used in this test is `inputdata/lnd/clm2/initdata_map/clmi.ICRUCLM45SP.2000-01-01.twpx/4v1_oRRS18to6v3_simyr2000_c170712.nc`

[2019-04-30 15:52] bishtgautam commented on #2891
The land IC file used in this test is `inputdata/lnd/clm2/initdata_map/clmi.ICRUCLM45SP.2000-01-01.enax4v1_oRRS18to6_simyr2000_c170621.nc`

[2019-04-30 18:08] #2798 closed

[2019-04-30 18:41] #2838 closed

[2019-05-01 15:34] jhkennedy commented on #2868
Update: This issue was introduced to CIME in ESMCI/cime#2518 , and into E3SM on the next CIME update.

It boils down to:

NERSC slurm batch system config (`cime/config/e3sm/machines/config_machines.xml`) includes a batch directive like:
[code]

Which for your case get's saved to a `.submit_options` file in the case directory like:
[code]
Then, when resubmit happens, python's `configparser.SafeConf

[2019-05-01 15:55] xylar commented on #2868
`SafeConfigParser` is also depricated as of python 3.2 and going away in 3.8 so that's another (smaller) reason to make the change above.

[2019-05-01 16:23] jhkennedy commented on #2868
@xylar , in Python 3.2+ both `SafeConfigParser` and `RawConfigParser` are aliases to `ConfigParaser` with different `interpolation=` values, and kept for legacy code reasons. `SafeConfigParser` appears to have been undocumented since Python 3.2, but it's good to know it won't be available as of 3.8! Looks like `RawConfigParser` is going to stick around for a while though.

Really, once Python 2 is

[2019-05-01 19:19] milenaveneziani opened #2895 "Build stops when using python 3.7"
I started a build on edison yesterday, using hash a3452b7a7, and after loading the latest e3sm-unified environment (with python 3.7), and the ocn build stopped with this message:
[code]

As expected, everything worked fine once I switched to the python 2.7 version of e3sm-unified.

[2019-05-01 19:23] xylar commented on #2895
@milenaveneziani, thanks for providing more details!  Sorry I didn't know more in email.  This is an issue with both CVMix and Ocean-BGC.  I have submitted pull requests to each:
https://github.com/CVMix/CVMix-src/pull/76
https://github.com/E3SM-Project/Ocean-BGC/pull/1
The fix is already in `CVMix/master` but we'll need to wait for a release before we can make the associated change in MPAS-Model.

[2019-05-01 19:24] xylar commented on #2895
In terms of building E3SM, it might not be the best idea to use E3SM-Unified, which is more intended for analysis.  Maybe use the default system python 2.7 for now (or their python 3.7 once we get these build issue fixed.)

[2019-05-01 19:51] maltrud commented on #2895
@xylar is used CVMIX as a template for BGC so you're right the fix should be the same.

[2019-05-02 00:08] ndkeen opened #2899 "Potential issue with SMS_D.ne4_ne4.FC5AV1C-L using intel19 'Attempt to use pointer ELEM when it is not associated with a target'"
On Cori, I'm testing using newer versions of Intel MPI (impi) and the v19 compiler.

With `SMS_D_Ln5.ne4_ne4.FC5AV1C-L`, I see:

[code]

[2019-05-02 18:03] cameronsmith1 opened #2900 "Input data not downloading automatically to NERSC"
I just added new inputdata to the master sever on Blues at ANL.  However, when E3SM at NERSC tries to download the new data I get the following error:

[code]

I have checked that I can access the data correctly using a web-browser, so I think it is a problem with either NERSC or wget.

Qi Tang ( @tangq ) said he had the same problem last month (April 2019), but not in Feb.  He worked around the p

[2019-05-02 18:11] singhbalwinder commented on #2900
Are you using the latest master? Unless it is a new issue, I think it was fixed via PR #2849 .

[2019-05-02 18:30] cameronsmith1 commented on #2900
My code base is a few weeks old.  Will this change be picked up on maint-1.0 ?

[2019-05-02 18:50] singhbalwinder commented on #2900
I don't think this was merged into any of the maint branches.

@jgfouca may know more about it.

[2019-05-02 19:12] jgfouca commented on #2900
It looks like maint needs this PR:
https://github.com/E3SM-Project/E3SM/pull/2849

[2019-05-02 19:17] cameronsmith1 commented on #2900
It does look like PR2849 should fix my problem.   However, I just manually installed the new version of wget.py into my local version of maint-1.0, and I now get the error below on Edison.  I have checked that the file is available from Blues, and that it doesn't show up in the NERSC data directory.

[code]

[2019-05-02 19:22] jgfouca commented on #2900
@cameronsmith1 , looks like I missed one spot when adding no-check-certificate. Try doing this:

BEFORE:
[code]

AFTER:
[code]

[2019-05-02 19:34] cameronsmith1 commented on #2900
Thanks.  I fixed manually in my local version, and it is now working.

Can this PR (with extra fix) be added to maint-1.0?   We are trying to start the simulation as soon as possible, so we can do a run before Edison goes away.

[2019-05-02 19:35] jgfouca commented on #2900
@cameronsmith1 , yes, doing it now.

[2019-05-02 19:48] jgfouca commented on #2900
@cameronsmith1 , done.

[2019-05-03 00:42] cameronsmith1 commented on #2900
Thanks, @jgfouca .  It now works as hoped.

[2019-05-03 00:42] #2900 closed

[2019-05-03 16:31] brhillman opened #2903 "CAM does not respect value of PIO_NETCDF_FORMAT XML variable"
CAM PIO interface appears to not respect the value of the `PIO_NETCDF_FORMAT` variable in `env_run.xml`. The default for this variable is `64bit_offset`, but valid values include `64bit_data`. When working with very large grids (i.e., ne512) variable sizes become too large to write with the 64bit offset format, and we need to use the 64bit data format (which does not have size limitations). One wo

[2019-05-03 16:59] jayeshkrishna commented on #2903
What is missing here might be a call to shr_pio_getioformat() in CAM to get the PIO I/O format from CIME and use it.

[2019-05-03 17:03] jayeshkrishna commented on #2903
Something like,
[code]

[2019-05-03 17:19] brhillman commented on #2903
Thanks @jayeshkrishna it actually looks like there's a query to `shr_pio_getioformat(atm_id)` in the initialization, it's just not being used here (or rather, I think overwritten by the setting of `mode = ior(PIO_CLOBBER, PIO_64BIT_OFFSET)`, so maybe this is the problem. I'll try a few quick tests.

[2019-05-03 18:04] singhbalwinder opened #2904 "Non critical output conversion error in components/clm/src/external_models/sbetr/src/stub_clm/accumulMod.F90"
I saw the following error in the log file:
[code]

This error doesn't result in a crash but I think we should correct it. This is mostly likely due to the following format (accumulMod.F90) statement:
[code]
I think we need to increase the number for "Period" in the format statement as I see the following in the lnd.log file (see "*****"):
[code]

[2019-05-03 18:09] kaizhangpnl commented on #2904
I saw the same error message when I run the model in DEBUG mode.

[2019-05-03 18:10] #2855 closed

[2019-05-03 18:24] AaronDonahue commented on #2904
Yes, I believe it has been there for quite awhile, but hasn't been addressed since it doesn't break the model.

[2019-05-03 21:07] brhillman commented on #2903
Okay I was mistaken about `shr_pio_getioformat()` being called already, but nonetheless the fix you posted @jayeshkrishna resulted in files being written in netCDF classic format instead of recognizing the PIO_NETCDF_FORMAT xml variable.

[2019-05-03 21:29] jayeshkrishna commented on #2903
Note that the callers of the function cam_pio_createfile() should not pass in a mode (mode_in) for the above fix to work (get the ioformat from CIME).
Did shr_pio_getioformat() return the wrong mode (instead of the one set by the user in env_run.xml) ?

[2019-05-03 22:59] brhillman commented on #2903
Yeah, good call, apparently the caller is setting `mode_in`, because that was being selected over `shr_pio_getioformat()`. Is the proper solution to remove the `mode_in` option then, and just get the io format from the call to `shr_pio_getioformat()`?

[2019-05-06 15:16] jayeshkrishna commented on #2903
In my opinion mode_in should be left as is, but should only be used (by the caller) to explicitly override the defaults. But I think this is a question for the ATM group developers.

[2019-05-06 16:04] brhillman commented on #2903
It looks like the caller (in this case I think `h_define` in `cam_history`) hard-codes `PIO_CLOBBER` for the `mode` argument, which would overwrite the call to `shr_pio_getioformat()` in `cam_pio_createfile`. So I think we should remove the hard-coded mode type in `cam_history` and just not pass the optional `mode_in` argument.

[2019-05-06 16:11] jayeshkrishna commented on #2903
I agree, since the previous version of code always used PIO_CLOBBER it (removing mode_in at the caller) should not affect the behaviour. My suggestion would be to remove mode_in args from callers unless the caller explicitly wants to override the defaults (and my guess would be that most/all calls do not need to specify mode_in).

[2019-05-06 16:22] brhillman commented on #2903
That makes sense to me. Doing a quick test with the mode argument removed from the callers.

[2019-05-06 18:35] brhillman commented on #2903
Alright changes seem to work, going to run tests and submit a PR. Thanks for your help @jayeshkrishna

[2019-05-06 20:36] mark-petersen opened #2910 "EOS conflict in papi module"
When trying to run a standard test on eos, I get a conflict in the papi module.  It is fixed by simply specifying to load `papi/5.6.0.2`.

[2019-05-06 20:40] mark-petersen commented on #2910
On the eos machine at ORNL, I can submit with any test, for example:
[code]
and we get the error:
[code]
There is no module `papi/5.6.0.4`.
This small change in the eos section fixes the problem:
[code]
but I didn't make a pull request, because I was not sure if that was the preferred method to fix it.

[2019-05-06 22:20] crjones-amath opened #2912 "Runtime Error (atm): vmag_gust not added to pbuf when CLUBB not used"
'vmag_gust' is added to pbuf in `clubb_register_cam`. If CLUB is not used, there is a runtime error, as recorded in atm.log:

[code]
(As an aside, from the code it looks to me like the default initialized value is 0, not 1.)

This was encountered while merging E3SM/master into ACME-ECP because we do not use CLUBB with superparameterization.

One solution is to move the `pbuf_add_field` call for `v

[2019-05-07 00:07] worleyph commented on #2910
Why is papi being loaded in the first place?

[2019-05-07 02:29] mark-petersen commented on #2910
I have no need for papi myself. I'm just getting a case to work from master on eos.

[2019-05-07 02:42] minxu74 commented on #2910
@mark-petersen I just tried your case on EOS with the latest master and I could not reproduce your problem. Could you share your software_environment.txt? Also could you try to load those software packages manually to see if you get the same error? (module load  intel/18.0.1.163 papi cray-netcdf-hdf5parallel/4.3.3.1 cray-parallel-netcdf/1.6.1 cmake3/3.2.3 python/2.7.9 on your shell). Thanks.

[2019-05-07 02:46] worleyph commented on #2910
@mark-petersen , my question is why master is trying to load papi for eos. Papi is not specified on any other system in config_machines.xml . My suggestion is just to delete it.

[2019-05-07 03:01] minxu74 commented on #2910
If deleting PAPI, we also need to delete the block in the config_compiler.xml as follows:
  <CPPDEFS>
    <append MODEL="gptl"> -DHAVE_PAPI </append>
  </CPPDEFS>
Because gptl may be compiled with PAPI.

[2019-05-07 03:09] worleyph commented on #2910
Thanks for remembering that.

[2019-05-07 04:11] mark-petersen commented on #2910
Huh. It must be something in my environment. This works:
[code]
But on current master fbb8b81 I get the same error as above. Software_environment.txt is here:
https://gist.github.com/mark-petersen/ee421bedbf2e1dbda10c0ff0d052623f
or in my case directory at
`/ccs/home/mpetersen/acme_scratch/cli127/SMS_Ln9.T62_oEC60to30v3.GMPAS-IAF.eos_intel.20190506_234923_ijla4n`

But if it's not a problem for oth

[2019-05-07 14:39] minxu74 commented on #2910
@mark-petersen Thanks. Based on the software_environment.txt, it seemed that the PAPI has been loaded successfully. If you do not use the PAPI features by yourself, could you remove PAPI loading and CPP flags in the machine files to see if the problem is gone. If so, I can make a PR to remove the PAPI dependency. If you want to use the PAPI, we can merge your fix.

[2019-05-07 17:02] #2890 closed

[2019-05-07 17:02] #2891 closed

[2019-05-09 16:58] #2869 closed

[2019-05-09 20:02] dqwu opened #2915 "MPICH_MEMORY_REPORT affects performance of E3SM on Cori"
In Cori's machine settings, MPICH_MEMORY_REPORT is turned on by default.
[code]
With this setting, MPICH prints a summary of the min/max high water mark and associated rank. While this might be useful for memory profiling/debugging, there is an overhead to the performance of E3SM cases.

I have been running some E3SM benchmark tests on Cori. With MPICH_MEMORY_REPORT set to 1, PnetCDF's ncmpi_wait_

[2019-05-09 20:23] ndkeen commented on #2915
I can look at this.  Certainly the information reported using this env variable is not worth a slowdown. But I did not see any overall slowdown when I first added it. You note a percent slowdown within a call. Do you have a test I can run that would show this?

[2019-05-09 20:56] dqwu commented on #2915
@ndkeen
I tested E3SM with PIO2, not PIO1.

This issue can also be reproduced with PnetCDF's benchmark program on E3SM-IO, see
https://github.com/Parallel-NetCDF/E3SM-IO

I will send you more information on how to run PnetCDF's E3SM-IO program on Cori.

[2019-05-09 23:50] brhillman opened #2916 "gen_domain tool cannot handle large grids"
The `gen_domain` tool that we use to generate domain files cannot handle large files, probably because `NF_CLOBBER` is used to open files for output but variables for large grids exceed size limitations for netCDF classic or 64bit-offset types. The following error is thrown when trying to map between ne1024 and oRRS15to5 grids:
[code]
This should be an easy fix, just changing `NF_CLOBBER` to the a

[2019-05-10 03:19] dqwu commented on #2915
Here are two runs of PnetCDF's E3SM-IO program on Cori:
[export MPICH_MEMORY_REPORT=1]
[code]
[MPICH_MEMORY_REPORT is not set]
[code]

[2019-05-10 16:40] sarich opened #2917 "ERS_Ld5.ne4_ne4.FC5AV1C-L.theta_intel.cam-rrtmgp failing on theta nightly"
In e3sm log:
load_and_init(): can't open file /projects/ccsm/acme/inputdata/atm/cam/rad/rrtm
 gp_coefficients_sw_c181004.nc

File exists and is readable:
ncdump -k /projects/ccsm/acme/inputdata/atm/cam/rad/rrtmgp_coefficients_sw_c181004.nc
classic

[2019-05-10 17:34] #2832 closed

[2019-05-11 04:13] oksanaguba opened #2919 "Failing ERP_Ln5.ne30_ne30.FC5AV1C-L.sandiatoss3_intel"
The test in nightlies breaks in the second run after restart with NaNs in homme's repro_sum cause Nans are passed to homme. This test can be fixed by making it run longer, it seems that restart files are corrupt. In e3sm output one could see
[code]
We tried a few different lengths, Ln24, Ln80, Ld2. Each one was failing (d2 run did not even config), but Ld4 run worked ( run without -c, /gscratch/on

[2019-05-12 23:13] rljacob commented on #2919
This test does an exact restart test but changes the tasks/threads for the second run.

[2019-05-12 23:17] oksanaguba commented on #2919
Thanks! First i was puzzled how exactly it does so. I am not 100% sure but i think it runs 1st time at time T dumping restart file at T/2 and then runs from that restart for T/2 time, and then compares both runs. It does not change number of threads on sandiatoss3; from the output and env file, it only runs with 1 thread each time (but it reduces #of ranks by 2 for the second run).

[2019-05-12 23:36] rljacob opened #2920 "20TR I case test starts in year 1850"
This test has "20TR" in the name:
ERS.f19_g16.I20TRGSWCNPRDCTCBC.sandiatoss3_intel.clm-ctc_f19_g16_I20TRGSWCNPRDCTCBC

But the compset longname shows it starts in year 1850
1850_DATM%GSWP3v1_CLM45%CNPRDCTCBC_SICE_SOCN_MOSART_SGLC_SWAV

See https://my.cdash.org/testDetails.php?test=47042171&build=1647281

[2019-05-13 02:11] mt5555 commented on #2919
this test should be using threads.  that's a bad sign, because if this test is not using threads on sandiatoss3 systems, then there's a good chance none of the other ERP tests are as well, and we are not testing threading in our baselines?

[2019-05-13 03:10] oksanaguba commented on #2919
i can check that

[2019-05-13 03:40] oksanaguba commented on #2919
About this case first, in case i don't know where to look: i checked software_env files for both runs and then homme output from both runs. Is there any chance CAM runs with more threads than homme? Is there way to use more threads even if in software env file OMP_NUM_THREADS is set to 1?

[code]

[2019-05-13 03:45] oksanaguba commented on #2919
Looking in atm.log for /gscratch/jenkins/acme_scratch/sandiatoss3/ERP_Ln9.ne4_ne4.FC5AV1C-L.sandiatoss3_intel.C.JNextIntegration20190511_220554/run it is the same, only 1 thread for both runs.

[2019-05-13 14:21] golaz commented on #2920
@rljacob, not commenting on this specific compset. But in general, '20TR' is not incompatible with a start date of 1850. The E3SMv1 low-res historical coupled simulations spanned the period 1850-2014 and were using a '20TR' compset.

[2019-05-13 14:27] bishtgautam commented on #2920
@golaz is correct. 20TR implies the run period is 1850-present day.

[2019-05-13 15:47] rljacob commented on #2919
The tests on a machine pick up whatever the default pe layout is for the case.  That test does have multiple threads on other machines (cori).  The SMS_P12x2.ne4_oQU240.A_WCYCL1850.*.allactive-mach_mods forces 2 threads on all machines.

[2019-05-13 17:22] rljacob commented on #2920
Ok this is not a bug.

[2019-05-13 18:04] bishtgautam commented on #2920
@rljacob, I now understand the point you were trying to make and how I got confused.

A "20TR" compset **should** start at 1850 and run up to present day, but the compset definition **should not** start with 1850. Thus, the long name of `I20TRGSWCNPRDCTCBC` should be
`20TR_DATM%GSWP3v1_CLM45%CNPRDCTCBC_SICE_SOCN_MOSART_SGLC_SWAV` and not `1850_DATM%GSWP3v1_CLM45%CNPRDCTCBC_SICE_SOCN_MOSART_SGLC_SW

[2019-05-13 18:20] jgfouca commented on #2919
@oksanaguba ,

[code]

[2019-05-13 20:20] brhillman opened #2923 "create_test concurrent tasks defaults on cori violate policies"
When a test suite is run on Cori, it seems that a large number of parallel builds are launched on the login nodes unless explicitly passing the `-jN` argument, where `N` is some reasonable number of concurrent tasks to launch. This will result in a ticket being opened and a nasty email from NERSC. It seems it would be better to have sane defaults that play nice with computing policies on the resou

[2019-05-13 20:42] ndkeen commented on #2923
Yes I agree and it's probably me who should be complaining/fixing.

Setting the default to -j3 will probably be fine for NERSC and us.

I actually think "something changed" in recent years that caused many more unix processes to be launched during our build than before. I started trying to capture some data using a clean compute haswell node, but did not finish.  We have 2 levels of parallelism --

[2019-05-13 20:51] rljacob commented on #2923
@jgfouca is the number of tests built at once a configurable parameter?

[2019-05-13 20:58] rljacob commented on #2920
query_config shows 4 compsets with this issue.

[2019-05-13 21:07] jgfouca commented on #2923
@rljacob only from the command line.

[2019-05-13 21:07] jgfouca commented on #2923
Oh, you can also configure it with .cime/config on a per-user basis.

[2019-05-13 21:17] rljacob commented on #2923
I think we need that in the machine config.

[2019-05-13 21:19] jgfouca commented on #2923
It wouldn't be hard to add a field for this; it's already using an XML value (MAX_MPITASKS_PER_NODE) as its default value.

[2019-05-13 21:19] jgfouca commented on #2923
Assigning @jhkennedy since this is a pretty easy upgrade to create_test.

[2019-05-14 14:19] bishtgautam opened #2925 "F1850PDC5L45BGC is using 20TR values instead of 1850 values"
The long name of `F1850PDC5L45BGC` is `20TR_CAM5_CLM45%BGC_CICE%PRES_DOCN%DOM_SROF_SGLC_SWAV`

[2019-05-14 19:26] cameronsmith1 commented on #2118
FYI: the the stream_years in ice_in fixed the problem.

[code]

[2019-05-14 19:26] #2118 closed

[2019-05-15 10:26] xylar commented on #2895
This has been solved in CVMix.  A PR is now in to MPAS-Model to update to the latest CVMIx:
https://github.com/MPAS-Dev/MPAS-Model/pull/251

The PR to Ocean-BGC hasn't yet been merged and a new release has also not yet been made, but I will update MPAS-Model to point to one as soon as that is addressed.

[2019-05-16 23:02] rljacob opened #2931 "svn error on maint-1.0"
While trying to build the water cycle case on maint-1.0, I made a mistake and had the wrong refcase.   Since it couldn't find the refcase, it tried to download it (I think) and triggered an svn error.

[code]

[2019-05-16 23:18] jgfouca commented on #2931
@rljacob , you must be using an ancient version of CIME if it's trying to use SVN.

[2019-05-16 23:22] rljacob commented on #2931
Yes the maint-1.0 version dates back to April of last year.

[2019-05-16 23:23] jgfouca commented on #2931
Some config files probably need to be updated so that it uses http.

[2019-05-16 23:33] rljacob commented on #2931
Sure we can just remove the svn options.  But it looks like it was trying svn and had some deeper error.

[2019-05-17 16:52] jgfouca commented on #2931
Yeah, there was a python mistake that has also since been fixed.

[2019-05-17 17:46] bishtgautam opened #2932 "Remove rof varaibles from lnd2atm_vars and create lnd2rof_vars"
@changliao1025 suggested that for code clarity we should create `lnd2rof_vars`, similar to `lnd2atm_vars` and `lnd2glc_vars`

[2019-05-20 16:16] whannah1 opened #2935 "python 3 breaks developer suite tests on Cori-KNL"
I grabbed a fresh copy of E3SM/master and tried to run baselines for the developer suite on Cori, but I got build failures on these tests:

ERS_Ld5.T62_oQU120.CMPASO-NYF.cori-knl_intel
SMS.T62_oQU120_ais20.MPAS_LISIO_TEST.cori-knl_intel
SMS_P12x2.ne4_oQU240.A_WCYCL1850.cori-knl_intel.allactive-mach_mods

The error I get is clearly a python version problem:

[code]

This seems related to Issue #289

[2019-05-20 17:30] xylar commented on #2935
Yes, the first error is the same as in #2895.

[2019-05-20 18:30] jhkennedy commented on #2487
This has been fixed, closing.

[2019-05-20 18:30] #2487 closed

[2019-05-20 18:42] #2903 closed

[2019-05-20 21:49] jhkennedy commented on #2923
@brhillman I've got a PR up at ESMCI/cime#3115 to address this -- let me know if this doesn't work for you!

[2019-05-20 21:54] rljacob commented on #2860
If all you have to do is change "true" to "TRUE", didn't https://github.com/E3SM-Project/E3SM/pull/2843 fix this?

[2019-05-20 21:55] brhillman commented on #2923
@jhkennedy beautiful, thanks!

[2019-05-20 22:16] ndkeen commented on #2860
Yes, I was mistaken and it looks like #2843 should have fixed this around April 28th.  Closing now.

[2019-05-20 22:16] #2860 closed

[2019-05-22 14:47] jhkennedy opened #2940 "Python 3 breaks SEQ test"
Running the `SEQ.f19_g16.X` test on `cori-knl_intel` with python 3 (but not python 2) results in a SHAREDLIB_BUILD error:

[code]

---
Note: This was 1/2 issues originally reported in #2935 , but moved here to separate the issues.

[2019-05-22 14:51] jhkennedy commented on #2935
There are 2 issues reported here, the first being a duplicate and a downstream (component) problem and the second being CIME problem (confirmed).

To better track these issues, I've opened a separate issue for the second one and am closing this issue and making it a duplicate.

[2019-05-22 14:51] #2935 closed

[2019-05-22 16:10] jhkennedy commented on #2940
This is caused by the change in the division operator in python 3 from truncated division to true division. The fix is simple; use the truncated division operator (also available in python 2 since 2.2).

I'll fix this in ESMCI/CIME, but if this is holding up anyone's workflow, you can apply this patch:

[code]

[2019-05-22 16:22] jhkennedy commented on #2940
Will be fixed in CIME by ESMCI/cime#3118.

[2019-05-22 19:32] jhkennedy commented on #2923
This is *mostly* fixed now in ESMCI/CIME, but is likely going to be a recurrent issue as the number of parallel jobs are limited on a machine-by-machine basis due to constraints from CESM. To fix, set:
[code]
for the affected machine in `cime/config/e3sm/machines/config_machines.xml`.

Currently,  based on E3SM testing, I've set NTEST_PARALLEL_JOBS=4 on these E3SM machines:
* cori-haswell
* cori-k

[2019-05-22 20:19] rljacob commented on #2923
Don't close the issue here on E3SM until the fix is merged to master.

[2019-05-22 20:40] jonbob commented on #2866
@dqwu - can you please try adding the following line to user_nl_mpassi?

 config_am_regionalstatistics_enable = .false.

With the MPAS stream routines, analysis members that are enabled will be output. Some of the control is in the streams file, but some is in the namelist -- here is the namelist for that file:
[code]

[2019-05-23 17:53] dylee1220 commented on #2555
I ran the test on EOS. I got a similar problem and error message. Is there any solution to solve this issue? I put the "create_newcase" and "error message" part from e3sm.log as follows.

![image](https://user-images.githubusercontent.com/41696137/58274971-3fef9680-7d51-11e9-9524-17e27397cdc0.png)

![image](https://user-images.githubusercontent.com/41696137/58274654-87c1ee00-7d50-11e9-96ab-688499c

[2019-05-23 17:58] jayeshkrishna commented on #2555
I will take a look at this today (on Cori) and update the issue.

[2019-05-23 19:52] jayeshkrishna opened #2941 "Error with PIO1 + A_WCYCL1850S_CMIP6 on EOS"
@dylee1220 saw the error below when running A_WCYCL1850S_CMIP6 with PIO1 on EOS,

![image](https://user-images.githubusercontent.com/7873429/58282051-3a527a80-7d6a-11e9-9041-00d665ecf6a6.png)

The case can be created using the command below,

![image](https://user-images.githubusercontent.com/41696137/58274971-3fef9680-7d51-11e9-9524-17e27397cdc0.png)

[code]

[2019-05-23 19:53] jayeshkrishna commented on #2555
Ok, I just created a separate issue - https://github.com/E3SM-Project/E3SM/issues/2941 - for the issue that @dylee1220 sees above.

[2019-05-23 19:54] jayeshkrishna commented on #2941
@dylee1220 please feel free to modify the issue description

[2019-05-23 19:57] jayeshkrishna commented on #2941
The error message above indicates that the NetCDF library crashed while opening a NetCDF file in parallel. Do you have PnetCDF or a serial build of NetCDF (NetCDF built without parallel I/O via HDF5) available on EOS ?

[2019-05-23 20:02] jayeshkrishna commented on #2941
My best guess would be that either the PIO_TYPENAME in env_run.xml is set to "netcdf" (in that case change the PIO_TYPENAME to "pnetcdf" and see if it works) or one of the input files is in the NetCDF4 format (PIO needs to use the NetCDF library to read nc files in the NetCDF4 format. You have two options here : 1. Convert all input files to NetCDF classic format OR 2. Change the NetCDF module loa

[2019-05-26 07:54] chengdang opened #2944 "seg fault, A_WCYCL20TRS_CMIP6 on Cori"
I'm running some tests on Cori-knl with the following code and config: maint-1.0 + new features, A_WCYCL20TRS_CMIP6, ne30_oECv3_ICG

and encountered the following seg fault:

I've updated the config_machine files to the latest version, which does not fix this problem.
Any suggestion on how to fix this?
Thanks.

[2019-05-28 12:44] darincomeau commented on #2944
@chengdang this looks like a bug in the code (uninitialized variable?) - have you tried to bisect the bug, starting with the code for the new features?

[2019-05-28 17:20] jonbob opened #2947 "Compsets with ocean ISMF flag are failing"
Automated testing in the extra coverage suite show that ERS_P480_Ld5.T62_oEC60to30v3wLI.GMPAS-DIB-IAF-ISMF and PEM_P480_Ld5.T62_oEC60to30v3wLI.GMPAS-DIB-IAF-ISMF tests started failing after PR #2726

[2019-05-28 20:44] dylee1220 commented on #2941
In env_run.xml of our simulation on EOS, PIO_TYPENAME has been already set to "pnetcdf".

Test run which was changed to "cray-netcdf/4.3.2" also did not work on EOS.
In the case directory, the following error message was found. There were no output files in the run directory.
ERROR: module command $MODULESHOME/bin/modulecmd python rm intel cray cray-parallel-netcdf cray-libsci cray-netcdf cray-net

[2019-05-28 20:53] jayeshkrishna commented on #2941
Looks like an issue with the module.
Can you load the module (module load cray-netcdf/4.3.2) from your command prompt ? You might want to check with the sysadmins to see how to load the module.

[2019-05-28 21:01] jayeshkrishna commented on #2941
@minxu74 : Can you suggest the module to load serial netcdf on eos (the issue above seems to be with netcdf + hdf5 + parallel I/O and we need to try out serial netcdf)?

[2019-05-29 02:01] minxu74 commented on #2941
@jayeshkrishna and @dylee1220 I just tried to load cray-netcdf either the oldest version 4.32 or the default one 4.6.1.2 on EOS. Both of them were loaded successfully. Please check up the python version (>2.7) and look at the software_environment.txt in the case directory.

[2019-05-29 02:13] jayeshkrishna commented on #2941
@minxu74 : Thanks. I don't have access to EOS, can you try changing the NetCDF module loaded for EOS in config_machines.xml from cray-netcdf-hdf5parallel/4.3.3.1 to cray-netcdf/4.3.2 and see if a simple X case builds (if so, @dylee1220 can try out her case with that change)?

[2019-05-29 03:05] minxu74 commented on #2941
@jayeshkrishna I just set up the @dylee1220 water cycle case on EOS and changed the netcdf setting following your instruction and got the E3SM compiled successfully.

[2019-05-29 03:14] jayeshkrishna commented on #2941
@dylee1220 : Can you try changing the module cray-netcdf-hdf5parallel/4.3.3.1 to cray-netcdf/4.3.2 in config_machines.xml for eos and then creating/building/running your case ?
[code]

[2019-05-29 04:47] chengdang commented on #2944
@darincomeau thanks for the suggestion! I removed some new features under development by others and the bug is gone. So this is not a lib issue. I'll close the case.

[2019-05-29 04:48] #2944 closed

[2019-05-29 14:29] #2947 closed

[2019-05-29 15:33] jayeshkrishna commented on #2941
@dylee1220 : Are you on slack? It might be easier to discuss there - https://acme-climate.atlassian.net/wiki/spaces/ED/pages/36864779/Slack+Chat+for+E3SM

[2019-05-29 22:26] ndkeen opened #2953 "Compset name issue with DTESTM"
When trying to run the MPAS ice-only test, I got an error. This used to work.

This is on cori, but I suspect it doesn't matter.

[code]

We may already know the problem.
In `components/mpas-seaice/cime_config/config_compsets.xml`
there are trailing whitespaces after the long compset name.  And the `_TEST` may also no longer be needed.

[code]

[2019-05-30 04:29] dqwu opened #2956 "Fix atm build using CMake on anlworkstation"
atm build using CMake is not supported on anlworkstation so far.

1) cmake-2.8.12 needs to be upgraded to 3.9 or higher in config_machines.xml.
Applicable versions in softenv are 3.11.1, 3.12.1, 3.12.4, 3.14.3

2) NETCDF_PATH and PNETCDF_PATH needs to be set in config_compilers.xml:
[code]
With these changes it seems to work on anlworkstation.

However, in atm.bldlog, the compiler versions seems i

[2019-05-30 15:47] jonbob commented on #2953
@jgfouca - I ran "git blame" on the file that seems incorrect and your name was associated with these changes, from 2019-04-10. Is there a reason for the "_TEST "?

[2019-05-30 15:49] jonbob commented on #2953
And thanks for filing this, @ndkeen

[2019-05-30 15:49] rljacob commented on #2953
You can't trust "git blame" on a CIME file on this side because of the subtree splitting.  Run it on ESMCI.

[2019-05-30 15:51] jonbob commented on #2953
It's not a CIME file -- it's ~/components/mpas-seaice/cime_config/config_compsets.xml

[2019-05-30 16:26] rljacob commented on #2953
Oh sorry you're right.  The "_TEST" string can be used in config_components.xml to trigger certain options but I don't think its used for this compset.

[2019-05-30 17:31] rljacob commented on #2953
telecon discussion:  remove the _TEST string in that compset and add it to e3sm_developer.  @ndkeen can you do that PR?

[2019-05-30 17:32] singhbalwinder opened #2959 "Shape mismatch error in mesh_mod.F90"
While running `SMS_D_Ln5.conusx4v1_conusx4v1.FC5AV1C-L.compy_intel` test on Compy, which uses newest Intel compiler (`intel/19.0.3`), the model crashes with the following error:
[code]

I googled it and this webpage (http://diamondized16.rssing.com/chan-9066188/all_p13.html) suggests that this error can be avoided either via a flag (`-warn shape`) which turns it into a warning or may be via revisi

[2019-05-30 17:33] singhbalwinder commented on #2959
@mt5555 : I have assigned this to you temporarily but please feel free to reassign.

[2019-05-30 18:46] jgfouca commented on #2953
@jonbob , the changes I made were:
[code]
IE, just changing "MPASCICE" to "MPASSI".

[2019-05-30 18:47] jonbob commented on #2953
Thanks - I don't know where the "_TEST " came from then. Not a big deal -- I just wasn't sure it was something that got added for a reason.

[2019-05-30 19:01] jgfouca commented on #2956
Hi @dqwu , sorry, I neglected to test the Cmake stuff on anlworkstation since it's not one of our primary testing platforms. I have a PR coming soon with fixes.

[2019-05-30 19:38] dqwu commented on #2956
@jgfouca
Could you please also check atm.bldlog on anvil to see if it prints out expected C/Fortran compiler identifications?

[2019-05-30 19:40] jgfouca commented on #2956
@dqwu , I don't expect the CMake compiler identification to be accurate. Recall that we aren't setting compilers until deep in our CMakeLists file. This will be resolved in a future refactor.

[2019-05-30 19:46] jgfouca commented on #2956
@dqwu , can you give me the case you were building? For me, even prior to the CMake PR, I can't get F cases to build due to a problem in csm_share:

[code]

[2019-05-30 19:46] jgfouca commented on #2956
ERROR:
[code]

[2019-05-30 19:48] dqwu commented on #2956
I have deleted that line in shr_const_mod.F90 for it to work on anlworkstation. It is a known issue that OpenMP directive is not supported by GNU 6.2.0

[2019-05-30 19:52] dqwu commented on #2956
It is inconsistent that cime uses GNU 4.8.4 to build atm and uses GNU 6.2.0 to build PIO.
Do you mean that GNU 6.2.0 is still used to build atm code although CMake compiler identification incorrectly shows it is 4.8.4? Why does PIO's build log show accurate compiler identification?

[2019-05-30 20:04] jgfouca commented on #2956
Yes. The compilers get set after the main CMakeLists file is run. PIO is still being driven by the core Makefile, which sets up arguments to CMake so that it knows what the "real" compile is at launch.

[2019-05-30 21:13] #2956 closed

[2019-05-31 21:50] bbye opened #2962 "Dynamic Landunits won't work when a new crop is introduced"
Crop land units require a 1-year spinup to calculate the growing season length. With dynamic landunits turned on, new crops introduced to a grid cell that were not present previously will not begin this counter and therefore will not be planted.

[2019-06-03 16:37] dqwu opened #2963 "SMS_R_Ld5.ne4_ne4.FSCM5A97 test fails with PIO2"
CAM uses an invalid PIO file id while inquiring info about a NetCDF file.

The error message is:
`[0]  ERROR: (shr_scam_getCloseLatLonNC) ERROR from nf90_inquire`

The bug is at components/cam/src/control/ncdio_atm.F90:205
`call shr_scam_getCloseLatLon(ncid%fh,scmlat,scmlon,closelat,closelon,latidx,lonidx)`

For PIO2, the ncid returned to the user is not the actual ncid returned by the underlying

[2019-06-03 17:44] bartgol opened #2964 "HOMME: Internal install/use of kokkos buggy"
How to reproduce the error:

1) Run cmake, everything works fine. Local install is used, and the flags.cmake of the target (say, sphere_op_ut) has the correct include directory (from the externals/kokkos folder).
2) touch any file that would trigger cmake to be run again (e.g., any CMakeLists.txt) file. Then try to run make. You will get an error like `fatal error: Kokkos_Core.hpp: No such file or

[2019-06-04 18:59] #2964 closed

[2019-06-04 19:11] #2711 closed

[2019-06-04 19:36] dqwu opened #2970 "SMS_B.ne4_ne4.FC5AV1C-L-AQUAP.cori-knl_intel.cam-hommexx fails during phase CREATE_NEWCASE"
`        ERROR: Command: 'SMS_B.ne4_ne4.FC5AV1C-L-AQUAP.cori-knl_intel.cam-hommexx.20190604_121705_bpk2sw/shell_commands' failed with error 'ERROR: No variable CAM_TARGET found in case' from dir 'SMS_B.ne4_ne4.FC5AV1C-L-AQUAP.cori-knl_intel.cam-hommexx.20190604_121705_bpk2sw'`

Note: this test was part of the integration test suite for cori-knl, but it has been replaced by:
SMS_B.ne4_ne4.F-EAMv1-A

[2019-06-04 19:46] oksanaguba commented on #2970
I got the same error on anvil for this test.

[2019-06-04 19:56] dqwu commented on #2970
@oksanaguba
Which test fails on anvil?
SMS_B.ne4_ne4.FC5AV1C-L-AQUAP or SMS_B.ne4_ne4.F-EAMv1-AQP1?

[2019-06-04 19:57] oksanaguba commented on #2970
SMS_B.ne4_ne4.FC5AV1C-L-AQUAP.anvil_intel.cam-hommexx fails.

[2019-06-04 19:58] oksanaguba commented on #2970
I don't think it is homme related. It can be EAM related?

[2019-06-04 20:01] dqwu commented on #2970
So SMS_B.ne4_ne4.FC5AV1C-L-AQUAP fails on Cori and anvil, maybe on more machines.
Perhaps that is the reason why it has been replaced by SMS_B.ne4_ne4.F-EAMv1-AQP1 in the e3sm_integration suite.

[2019-06-04 20:50] dqwu commented on #2970
@jayeshkrishna
Should we close this issue since it is no longer part of e3sm_integration test suite?
Otherwise we can assign it to someone who is able to fix it for various machines.

[2019-06-04 20:53] oksanaguba commented on #2970
Can we remove homme label? Homme is just dycore code, the error is coming from cime or cam configs.

[2019-06-04 20:59] dqwu commented on #2970
@oksanaguba
OK, removed homme label. I added it because the test name contains homme.

[2019-06-04 21:43] dqwu commented on #2970
@singhbalwinder
Is compset FC5AV1C-L-AQUAP valid for integration test?

[2019-06-04 21:46] dqwu commented on #2970
@oksanaguba
Since this test is no longer part of the test suite, is it OK to close this issue?
Or do you prefer it to remain open for a fix in cime (or cam configs)?

[2019-06-04 22:03] oksanaguba commented on #2970
Thank you for asking but I don't think this is up to me. I did not put this test in, we'd better ask person who introduced this test. In https://github.com/E3SM-Project/E3SM/blob/master/cime/config/e3sm/tests.py there is no record for this test, so, how did it come up on cori? I was looking at tests list to trace which commit introduced it.

[2019-06-04 22:14] whannah1 commented on #2970
The "AQUAP" compsets were removed when the aquaplanet mode was restored with PR #2752. Prior to this the "AQUAP" compsets disabled the land component but left the topography in place, so there were mountains of water where the Himalayas used to be. This is obviously a problem for anyone wanting to use the aquaplanet mode for science. Also, I wanted to restore the ability to easily use the various

[2019-06-05 15:20] oksanaguba commented on #2970
@dqwu would you please remind me how this issue came up? I cannot find this test on cdash and it is not in tests.py. So, if it is not run, then maybe it is ok to close the issue, thought I still think there is a bug in cime/configs, because CAM_TARGET functionality should work anyway. But there is no motivation to debug this since our other cases with CAM_TARGET work.

[2019-06-05 15:59] dqwu commented on #2970
@oksanaguba
I once ran all e3sm_integration tests on Cori, and the old E3SM header is:
[code]
At that time, SMS_B.ne4_ne4.FC5AV1C-L-AQUAP.XXXX.cam-hommexx was one of the 58 integration tests. It failed with:
`errput: ERROR: No variable CAM_TARGET found in case`

It seems that this test has been replaced by SMS_B.ne4_ne4.F-EAMv1-AQP1.XXXX.cam-hommexx in e3sm_integration suite. That is why you could

[2019-06-05 16:04] oksanaguba commented on #2970
Thanks! If you don't mind, I will follow your suggestion and close this.

[2019-06-05 16:04] #2970 closed

[2019-06-06 03:19] sarats opened #2974 "NetCDF paths and CMake on Summit"
While updating compiler and MPI versions for Summit, I ran into build errors from cmake. The updated module versions are in a pending PR (https://github.com/E3SM-Project/E3SM/pull/2973) in order to replicate this issue.

As you can see, config_machines.xml has the respective NETCDF_C and FORTRAN_PATHs set. But cmake seems to have trouble finding it. Both cam and clm builds fail with same error.

T

[2019-06-06 03:20] sarats commented on #2974
FYI @worleyph, there is still a problem getting Summit builds after fixing modules.

[2019-06-06 03:23] jayeshkrishna commented on #2974
@sarats : Does this issue (unable to find NetCDF) occur only after updating the modules (Did cmake find the modules as expected before the update in PR #2973?)?

[2019-06-06 03:32] sarats commented on #2974
@jayeshkrishna There were missing module errors as the old MPI module is removed. So, we need the updated versions. I don't think anybody else tried it after Summit s/w upgrade.

For sanity check,:
[code]

[2019-06-06 03:33] sarats commented on #2974
@jayeshkrishna It's not technically unable to find NetCDF, it appears to be CMake which did not detect the environment variables.

[2019-06-06 03:35] sarats commented on #2974
A related question: has anyone tested master on a machine with separate NetCDF C and Fortran paths after the cmake changes?

[2019-06-06 04:22] dqwu commented on #2974
@sarats
According to PR #2922,
It is no-longer enough to have NETCDF settings in the environment, they need to be explicit in the Macros (config_compilers.xml).

One commit of that PR updated anvil like this:
https://github.com/E3SM-Project/E3SM/pull/2922/commits/e3d7f9bce027f99a021dedf15929d0dba1b8bacb

[2019-06-06 15:25] sarats opened #2976 "EMI_DataMod.F90 syntax error with IBM XL compiler"
XL seems to have an issue with the following line. PGI works fine.
https://github.com/E3SM-Project/E3SM/blob/be9e9e735721f86d9a669973be87fa6a890dce6a/components/clm/src/external_models/emi/src/emi_data_definition/EMI_DataMod.F90#L885

Fix reported in https://github.com/E3SM-Project/E3SM/issues/2985

[code]

[2019-06-06 16:15] oksanaguba commented on #2919
I tried to trace this test in git history but tests.py is not old enough. 1 year ago the test was already there. I'd like to know who introduced it, so that it is removed or fixed.

[2019-06-06 16:23] jgfouca commented on #2974
@dqwu is correct. If you set NETCDF in config_compilers and add CMake in the list of module loads (grab the newest one you can) then things should work. Let me know if that's not the case.

[2019-06-06 16:35] singhbalwinder commented on #2919
I probably added this test after we did a revamp of all atm and land tests. It use to work fine. Do we know what has changed which broke this test?

[2019-06-06 16:56] sarats commented on #2974
@jgfouca It's the need for config_compilers macros that's new. Previously just env vars would suffice.

[2019-06-06 16:58] jgfouca commented on #2974
@sarats the need for config_machines.xml to load a newish cmake is also new, but it must already be happening for summit if things are working. Glad it's working now.

[2019-06-06 16:58] #2974 closed

[2019-06-06 17:11] sarats commented on #2974
@jgfouca Just FYI, we always loaded cmake module on Summit.  So that helped.
Btw, thanks for all hard work in cmakefying.

[2019-06-06 18:17] oksanaguba commented on #2919
@singhbalwinder , I am copying your response here for records:
[code]

[2019-06-06 18:39] singhbalwinder commented on #2919
If we omit `Ln5` in the test definition, the test will default to `Ld5`, which should work according to your experiments. I can issue a PR to make this change.

We actually made changes to the code so that we are able to test restarts with just a few time steps (see #1705 and #1546). There are tests in the testing suite such as `ERP_Ln9.ne4_ne4.FC5AV1C-L.sandiatoss3_intel` which runs with a pass.

[2019-06-06 18:55] oksanaguba commented on #2919
ne4 test also has warnings about being too short, but it passes.

[2019-06-07 13:55] worleyph opened #2979 "18x4 ne4 F case on Anvil producing NaNs"
@singhbalwinder noticed that using 4 threads per process on Anvil was leading to some failures. I determined that using an 18x4 decomposition (thus using 2 nodes) for

     --res ne4_ne4 --compset FC5AV1C-L --compiler intel

fails approximately 70% of the time. When it fails, it either reports NaNs in reprosum, e.g.

     SHR_REPROSUM_CALC: Input contains  0.10000E+03 NaNs and  0.00000E+00 INFs on

[2019-06-07 14:56] worleyph commented on #2979
Note that I also tried adding a thread barrier at the top of this loop instead of the "omp critical", and it still produced NaNs.

[2019-06-07 15:48] oksanaguba commented on #2979
@worleyph how did you locate that particular loop? i am just trying to learn. thanks!

[2019-06-07 15:55] sarats opened #2980 "Cam: slow(?) builds on Summit"
Opening issue to continue discussion from https://github.com/E3SM-Project/E3SM/pull/2973

It looks like 'cam' used to build much faster than it does now.

Using PGI compilers.
June 7 log: cam built in 5274.946738 seconds.

Does this correlate to build times on other platforms? For reference, GMAKE_J is 32 on Summit and hasn't been changed lately.

New variables: Cmake, RRTMG (?)

Apr 3 log: cam bu

[2019-06-07 16:16] jgfouca commented on #2980
@sarats , try checking out the commit right before the first CMake merge:

[code]

If the commit above builds fast, then confirm it was CMake by trying this commit:
[code]

[2019-06-07 16:17] jgfouca commented on #2980
Be wary of high load on your login node since that will ruin the measurement.

[2019-06-07 18:48] worleyph commented on #2979
@oksanaguba , unfortunately, just manual labor. After I gave up on using write statements to chase NaNs, I tried commenting out OpenMP parallel do directives on the major loops, and identified that commenting out the one in phys_run1 (on the loop containing the call to tphysbc) was enough. (Based on the appearance of the NaNs, either dp_coupling or the physics was the probably source of the proble

[2019-06-07 22:55] singhbalwinder opened #2983 "Model crashes when online interpolation is turned on"
The current master code crashes when online interpolation is turned on via namelist option:
`interpolate_output = .true.`

The model crashes with error:
[code]
I tracked it down and found out that `CAM_GRIDS`'s index `gridind` is not initialized for procs >96 for ne4 grid. It has a value of -1 (default value), when it it not initialized. This explains why the model works when run with 1 or 2 nodes

[2019-06-07 23:52] worleyph commented on #2983
For the first error, @mt5555 will have to give the definitive answer, and @amametjanov is also familiar with this aspect of the code, but the dynamics does not support using more processes than elements. The interpolate_output logic probably should not be trying to use processes that do not contain an element (or am I not understanding the error condition)?

[2019-06-08 12:54] worleyph commented on #2980
I'm repeating the experiments on Summit, also monitoring the load on the login nodes (using w). The loads are not high (between 1 and 7), and the issue continues. Looking in the bld directory, apparently the ATM source files finish compiling after around 6 minutes, and then NOTHING happens for another 1.5 hours? The timestamp for the CMakeFiles subdirectory reflects the end time, but none of th di

[2019-06-08 13:03] worleyph commented on #2980
ps says that I have spent over an hour in llc at the moment (still compiling atm):

121779 pts/0    01:01:31 llc

what is the llc process?

[2019-06-08 13:11] worleyph commented on #2980
Found llc with a grep in a completed build as ...

     CMakeFiles/CMakeOutput.log:/autofs/nccs-svm1_sw/summit/.swci/0-core/opt/spack/20180914/linux-rhel7-ppc64le/gcc-4.8.5/pgi-18.10-w2qkfaill2olnyrfykr5a3kmwaz6pjur/linuxpower/18.10/share/llvm/bin/llc /tmp/pgfortraniEJyyVf_8qeX.ll -mcpu=native -O0 -fast-isel=0 -disable-ppc-preinc -code-model=large -o /tmp/pgfortraniEJyyQZYkIp-.s

but this log file

[2019-06-08 15:59] sarats commented on #2980
@worleyph I noticed a similar behavior. I tracked down the process tree for llc which seems to stem from compiling rrtmg: `rrtmg/ext/rrtmg_sw/rrtmg_sw_k_g.f90.o`

One avenue is to check standalone compile times for rrtmg to debug this further.

Using the following compile command for "rrtmg_sw/rrtmg_sw_k_g.f90" in build_dir/atm/obj is taking a long time.
[code]

  Timing stats:
    init

[2019-06-09 20:04] worleyph opened #2984 "misleading code in cam/src/physics/cam/zm_conv.F90"
In the routine buoyan_dilute in zm_conv.F90, the formal parameters cp and msg are listed as local variables in the declarations (lines 3264 and 3270). Still works, since type is correct, but there is no intent specified, and it can be confusing reading the code if a search for the vairables find the "local" declaration and miss that they are passed in.

The same issue occurs with cp and grav in th

[2019-06-10 15:13] whannah1 commented on #2984
This whole file should be rewritten. I've actually done this before, but I never committed it to a branch. I'd be happy to take on the task of overhauling all of this if no one else has time to do it.

@worleyph, out of curiosity, what was the unrelated issue that you were tracking down?

[2019-06-10 15:34] worleyph commented on #2984
@whannah1 , #2979 . I'm still trying to determine what is going on with the #2979 issue, and have been playing with restructuring the one loop (without solving anything yet), and may look at pulling out ientropy into a spearate module, just to see if this forces the compiler to do something different. If I stumble on to a solution, maybe you can include it in your rewrite :-).

[2019-06-10 16:29] whannah1 commented on #2979
@worleyph, have you tried printing out the value of "msg" on every column to see if the limits of the loop are getting messed up?

[2019-06-10 16:46] jgfouca commented on #2980
That's one of the files where optimization needs to be disabled for it to compile in a reasonable time. Did it try to optimize this file?

[2019-06-10 16:55] sarats commented on #2980
Yes, there is -O2 flag. So, are you disabling optimization in a Depends file on other platforms? What other files are known trouble-makers in the same vein?

[2019-06-10 17:17] jgfouca commented on #2980
@sarats , the -O2 flag is expected, but there should be a -O0 flag later in the compile line that overrides it.

The troublemakers on all platforms are (from components/CMakeLists.txt):
[code]

And summit also disables optimizations on additional files (Depends.summit.cmake):
[code]

[2019-06-10 18:47] worleyph commented on #2979
@whannah1 , not yet. I'll give that a try next. I'm still befuddled that this occurs "the first time" or not at all. Doesn't seem like a typical threading issue.

[2019-06-10 21:30] jayeshkrishna opened #2985 "CLM fails to build on Summit"
The following case fails to build on Summit (IBM compiler) with Sarat's latest branch (sarats/machinefiles/summit-june5 - PR #2973 - v1.1.0-beta-1636-g55772a4),

-compset FC5AV1C-H01B -res ne120_oRRS18v3

The issue seems to be a minor bug in the write statement and the fix below works,

[code]

[2019-06-11 00:40] worleyph commented on #2980
So, to summarize, it appears that compilation of rrtmg_sw_k_g.f90 is the bottleneck . I just looked at my compile line, and it does have -O0 (after -O2). So does rrtmg_lw_k_g.f90 . There are 4 files total with the -O0 flag, others being dyn_comp.F90 and microp_aero.F90.

Found one comment about "slow performance in llc.exe", but nothing like the 90 mintues we are seeing. From that one comment (htt

[2019-06-11 00:43] worleyph commented on #2980
Note that rrtmgp reads in the data (see physics/rrtmgp/external/rrtmgp/data/). Perhaps it will not have the same problem?

[2019-06-11 00:44] worleyph commented on #2980
... 3.8GB ... (not 3.8GM)

[2019-06-11 01:29] worleyph commented on #2979
Haven't tried the suggestion by @whannah1  yet, but tried

     a) built with DEBUG=TRUE: worked fine (3 different experiments, so probably works)
     b) zm_conv compiled with -O0, but rest of the model compiled normally: got NaNs the first time

both without the critical section in parcel_dilute. So, issue is not just with zm_conv compilation, but lower compiler optimization does avoid the error

[2019-06-11 03:19] sarats commented on #2980
Yes, that's my plan as well - to see how XL behaves. I didn't get to it today. We probably should package a few files along with the troublemaker for a reproducer and report to PGI.

[2019-06-11 17:01] sarats commented on #2985
Same issue reported at https://github.com/E3SM-Project/E3SM/issues/2976
Thanks Jayesh for suggesting the fix.
Close both issues when merging a PR.

[2019-06-11 17:15] dqwu opened #2988 "SUPPORTS_CXX is FALSE by default on Summit"
Without CXX support, some libraries like pio2 fail to build on Summit.

[2019-06-11 17:30] sarats commented on #2988
@dqwu On second thought, I put basic CXX stuff in the pending PR. Test that branch and push any changes that you need there. I don't have the bandwidth to do PIO2 testing.

[2019-06-11 19:41] sarats commented on #2980
@worleyph I agree the issue is with initializing floating point data.

On a hunch, I tried PGI 19.4 and the build time improved substantially. ne4 ran fine. ne30 is running presently. Previously, we had problem with moving to 19.3 (?) but things seem to run okay with 19.4 now.

ne4:
[code]

ne30:
[code]

[2019-06-11 20:23] worleyph commented on #2980
According to Ed D'Azevedo, on Titan use of the LLVM was an option when using PGI (if I remember Ed's comment correctly) and was not used by default. Perhaps it is still an option (that can be disabled) on Summit? Might ask your contacts at the OLCF.

[2019-06-11 20:25] worleyph commented on #2980
Just realized that 19.4 is a newer compiler version (I was thinking 18.4 :-) .) Never mind. Newer is (sometimes) better.

[2019-06-11 20:26] sarats commented on #2980
Yes and I don't think the LLVM backend is not optional anymore.

[2019-06-12 02:00] tanzeli1982 opened #2992 "ELM fails after adding new pft parameters"
**Adding new pft parameters is now broken**. The likely reason is the existence of an inconsistency between the code and the pft parameter file in regard to the dimension of several parameters. In the parameter file, these parameters (e.g., **VMAX_NFIX**) are now defined by the **allpfts** dimension (size = 1) but in the code (_components/clm/src/main/pftvarcon.F90_) they are still in the size of

[2019-06-12 02:35] bishtgautam commented on #2992
@xyk-ornl, @qzhu-lbl, FYI.

[2019-06-12 14:43] tanzeli1982 commented on #2992
@bishtgautam @xyk-ornl @qzhu-lbl
Finally, I figure out why the difference exists. Right now, different BGC schemes have different parameter files correspondingly. For standard use, it is clm_params_c180301.nc. For ECA, it is clm_params.c180713.nc. For RD, it is clm_params_c180524.nc. The Gautam's land parameter tool only generates a standard use parameter file.

[2019-06-12 14:46] tanzeli1982 commented on #2992
But in my view, this divergence is a serious issue that we should raise to the higher level decision team.