[2019-06-12 15:37] bbye commented on #2992
I agree. The whole point of Gautam's tool was to unify all the parameter files. By creating new ones for each flag, we run the risk of those parameter files being updated inconsistently.

[2019-06-12 19:07] dqwu opened #2993 "Set CXX_LINKER flag to FORTRAN for pgi"
In config_compilers.xml, there is a comment on this flag:
[code]
This flag is set to FORTRAN for gnu and intel, but it is set to CXX for pgi and pgiacc.
[code]
On Summit, when pgi compiler is used to build E3SM with pio2 (thus CXX is required), the linker uses mpiCC to create e3sm.exe and causes some link errors:
[code]
Was there a reason for pgi to use CXX for CXX_LINKER?

[2019-06-12 19:57] #2980 closed

[2019-06-12 19:57] #2988 closed

[2019-06-12 21:01] bbye opened #2995 "Phosphorus balance error in crop model when nitrif_denitrif=.true."
The crop model exits with a phosphorus balance error when the nitrif_denitrif flag is on. This is not detected in the crop test (i.e., 1x1_smallvilleIA) because the flag for nitrif_denitrif is set to false, but in other compsets with crops this flag is set to true (and it should be set to true).

[2019-06-13 13:40] tanzeli1982 opened #2996 "ELM crashes with NaN col_pf%col_plant_pdemand_vr"
@qzhu-lbl @jinyuntang @bishtgautam

ELM crashes due to **NaN** col_pf%col_plant_pdemand_vr() values when using the compset of I20TRGSWCNPECACNTBC or I20TRCNPECACNTBC. See the dumped stack and my variable outputs below:

  1:  index                      =         5267           1
  1:  gross_pmin_vr              =   2.963092358542597E-009
  1:  potential_immob_p_vr       =   1.200258621398698E-012

[2019-06-13 13:56] jinyuntang commented on #2996
Did you rebase with the master? I remember I once fixed a similar error.

Sent from my iPhone

[2019-06-13 13:58] bishtgautam commented on #2996
Or, does this BGC compset currently works only on maint-1.1?

[2019-06-13 14:01] tanzeli1982 commented on #2996
My head tag is 59ce0c85a. Did you commit something newer?

[2019-06-13 14:03] tanzeli1982 commented on #2996
Gautam, which BGC compset do you know works widely? I can have a try.

[2019-06-13 14:08] bishtgautam commented on #2996
One second thought, I20TRGSWCNPECACNTBC should work because we have a test for it using next and master. see https://my.cdash.org/viewTest.php?onlypassed&buildid=1664003

[2019-06-13 14:31] tanzeli1982 commented on #2995
I am not sure whether it is related to my issue #2996. When sometimes ELM did not crash by the NaN values (on Constance), I saw a negative phosphorus error.

[2019-06-13 14:42] tanzeli1982 commented on #2996
@bishtgautam @jinyuntang @qzhu-lbl
I have checked why other listed variables (**gross_pmin_vr**, **potential_immob_p_vr**, **biochem_pmin_vr_col**, **primp_to_labilep_vr_col**, **pdep_to_sminp**) did not have NaN values even though they are set in the same way in **col_pf_setvalues()**. The reason is obviously that they are set before using in other places (e.g., ./biogeochem/PhosphorusDynamicsMod

[2019-06-14 15:18] #2704 closed

[2019-06-15 05:57] tanzeli1982 commented on #2996
@bishtgautam I closed it because the error is caused by surface data. I am not pretty sure of the reason but mksurfdata_map cannot reproduce the default dataset (surfdata_360x720cru_simyr2000_c180216.nc) even by using the default raw data and mapping files. So currently I just tried the following workaround: I copy all data in surfdata_360x720cru_simyr2000_c180216.nc to a new nc file and then inse

[2019-06-15 05:57] #2996 closed

[2019-06-16 16:13] worleyph commented on #2979
I've continued to try adding files to Depends (including all of physics/cam) and also with only threading in ATM. I though that I was making progress, identifying as few as 4 files that need -O0 for the model to run successfully. However, all I did was decrease the frequency of the failures, and all of my "successes", with the possible exception of the DEBUG build, have proven to still be failures

[2019-06-16 17:00] worleyph commented on #2979
Debug build still seems to work (5 experiments, over time), though will keep testing a few more times to try to be sure this time.

[2019-06-17 19:13] chihchen24 opened #3002 "Issue with `-compset F_SCAM5 -res T42_T42` on maint-1.0"
When submitting a job on cori, I got the following error message:
ERROR: module command /opt/modules/default/bin/modulecmd python load craype PrgEnv-intel cray-mpich failed with message:
/opt/modules/default/bin/modulecmd: error while loading shared libraries: libimf.so: cannot open shared object file: No such file or directory

I am using maint-1.0 of E3SM.

[2019-06-17 20:21] ndkeen commented on #3002
This was an error we might see in repos from about a year ago. That module issue should have been fixed quite a while ago.  How old is your repo?

I just cloned a fresh repo for maint-1.0 branch and started a test. It is building now, but if there was a problem with the modules, it would have probably already failed.

Your comment states that the message was at submit time. I'm wondering if this w

[2019-06-17 20:31] chihchen24 commented on #3002
I just got the code from the github by executing:
git clone -b maint-1.0 --recursive https://github.com/E3SM-Project/E3SM.git

Then, I have to modify env_mach_specific.xml
craype craype/2.5.13 to  craype craype/2.5.15
cray-mpich cray-mpich/7.6.2 to cray-mpich cray-mpich/7.7.3

before I can execute case.set, case,build, and the error comes when I execute case.submit

[2019-06-17 20:40] ndkeen commented on #3002
The test `SMS.T62_oQU120_ais20.MPAS_LISIO_TEST` seems to be working with the current maint-1.0 branch.

I did not make need to make any changes. I wouldn't think the module version changes you mentioned would have an issue though.

[2019-06-17 21:20] chihchen24 commented on #3002
I have a colleague at LLNL reporting the same issue.
What we did was a clean clone by executing:
git clone -b maint-1.0 --recursive https://github.com/E3SM-Project/E3SM.git

Could you please try doing the same test?

Thanks a lot!

[2019-06-17 21:22] ndkeen commented on #3002
I just did a test using a clean checkout and it works.  The test I used was `SMS.T62_oQU120_ais20.MPAS_LISIO_TEST`

Have you tried without making any changes?

[2019-06-18 20:04] rljacob opened #3004 "git complains about rrtmpg external when checking out old branch"
If you start from latest master and checkout and old branch, git will complain about all the files in the submodule rrtmgp/external:
[code]

You can force the branch checkout by adding "-f".  But this doesn't happen with other modules that don't exist in the old branch like kokkos.

Was rrtmpg/external not added correctly?

[2019-06-18 20:56] rljacob commented on #2983
Sounds like if this option is on, it should error out if there are to many processes.   @mt5555 ?

[2019-06-18 21:06] rljacob commented on #3004
Actually the files its complaining about seem to be the ones that were deleted before conversion to a submodule.

https://gist.github.com/rljacob/2795c71c0ff3536c05ec1dd89d3b7357

[2019-06-19 00:10] worleyph opened #3007 "components/CMakeLists.txt customizations being ignored during build"
In components/CMakeLists.txt  is the logic

       set(NOOPT_FILES "cam/src/physics/rrtmg/ext/rrtmg_lw/rrtmg_lw_k_g.f90;cam/src/physics/rrtmg/ext/rrtmg_sw/rrtmg_sw_k_g.f90")

On Anvil, cmake complains (in atm.bldlog) that

     CMake Warning at CMakeLists.txt:645 (message):
       Skipping repeated base filename rrtmg_lw_rad.f90 for
       cam/src/physics/rrtmg/ext/rrtmg_lw/rrtmg_lw_rad.f90

[2019-06-19 00:11] worleyph commented on #3007
@rljacob , I did not know what labels to give this other than "bug".

[2019-06-19 02:08] oksanaguba commented on #2959
@rljacob is it urgent?

[2019-06-19 02:09] rljacob commented on #2959
@singhbalwinder can answer that.

[2019-06-19 03:12] singhbalwinder commented on #2959
It is not urgent from my perspective but it will help in getting this test to pass on Compy.

[2019-06-19 14:25] worleyph commented on #3007
I just checked again, and I DO see -O0 set for rrtmg_lw_rad and rrtmg_sw_rad in the atm.bldlog files. Sorry for the false report. Closing.

[2019-06-19 14:25] #3007 closed

[2019-06-19 14:35] worleyph commented on #2979
Latest:

- DEBUG applied just to ATM (in this F case) worked (so far)
- looking at elements of DEBUG for intel, adding only '-heap-arrays' compiler flag (to normal flags, e.g. -O2) also worked (so far)

will proceed with seeing which files need the additional '-heap-arrays' tp work. If necessary, could just apply this for all ATM when using intel on Anvil. If so, I'll check the performance implica

[2019-06-19 16:46] singhbalwinder commented on #2979
Thanks @worleyph for continuing to work on this issue. Probably you already know that heap array flag asks the compiler to allocate heap (slower) memory rather than the stack memory. I have run into issues before where there wasn't enough stack memory so I had to use this flag to get past the crash point.

It is interesting to see that everything works okay if we choose heap memory flag. If this i

[2019-06-19 18:09] sarich commented on #2917
The test script is trying to access this file for writing, but doesn't have permissions for it. We can probably add the user to the group or change the group name of the file, but I'm guessing that this file should be open read-only (NF90_NOWRITE)

In mo_load_coeffecients.F90 line 100:
[code]

The nc file here is available to unix group 'ccsm', but the test runner is user 'climenrg', which isn't p

[2019-06-19 18:13] brhillman commented on #2917
Ah, yeah, there's no reason for that to be opened with NF90_WRITE. That's a bug in RRTMGP which I will get fixed.

[2019-06-19 18:17] sarich commented on #2917
Thanks! I'll re-assign this to you then

[2019-06-19 23:14] ndkeen commented on #1578
Noting that this issue & PR also had an impact.
https://github.com/E3SM-Project/E3SM/issues/2496

[2019-06-20 17:07] chihchen24 commented on #3002
Hi,

Sorry for the delay in responding to your question. I was at a workshop the past few days.

No, I did not make any change to the code. I was trying to do a SCM run (using run_e3sm_scm_ARM97.csh)

when it got to ./case.setup, I got:
ERROR: module command /opt/modules/default/bin/modulecmd python swap craype craype/2.5.13 failed with message:
craype(3):ERROR:105: Unable to locate a modulefile f

[2019-06-20 17:48] #2538 closed

[2019-06-20 17:49] ndkeen commented on #3002
You should not need to change that module version.  I'm wondering if that run_e3sm script is pulling a an older repo? Can you share? Can you try with the latest repo?

[2019-06-20 19:02] chihchen24 commented on #3002
Yes, I was pointing the code to an older version of E3SM indeed.

I have fixed it by pointing to two branches I am working with.
1) maint-1.0:
I get the message of
ERROR: Multiple matches (at create_newcase)

2) the master branch
it got to case.build and the error is:
ERROR: /global/u2/c/cchen24/code/E3SM/cime/src/build_scripts/buildlib.mpi-serial FAILED, cat /global/u2/c/cchen24/code/SCM_runs/run

[2019-06-20 19:09] ndkeen commented on #3002
OK, naming the script run_e3sm doesn't make it a "run_e3sm" script, which I realize doesn't have a great definition. For example, I don't see where the script is downloading the repo.

[2019-06-20 19:48] chihchen24 commented on #3002
Here is the script that I use:
https://github.com/E3SM-Project/scmlib/blob/master/run_e3sm_scm_ARM97.csh

For the two branches I use:
1) maint-1.0
I executed:
git clone -b maint-1.0 --recursive https://github.com/E3SM-Project/E3SM.git
to get the code (then I renamed it as E3SM_maint-1.0)

2) master branch
I executed:
git clone https://github.com/E3SM-Project/E3SM.git
cd E3SM
git submodule update -

[2019-06-20 21:27] ndkeen commented on #3002
I think the problem is the following.

[code]

I don't see this with master.

[2019-06-20 21:35] chihchen24 commented on #3002
With master, I got to case.build, and the error message is:
ERROR: /global/u2/c/cchen24/code/E3SM/cime/src/build_scripts/buildlib.mpi-serial FAILED, cat /global/u2/c/cchen24/code/SCM_runs/run_e3sm_scm_ARM97/build/mpi-serial.bldlog.190620-120031

[2019-06-20 21:42] jgfouca commented on #3004
@rljacob , yes, the conversion of a subdirectory to a submodule seems to be handled a bit awkwardly by git. Not much we can do about it though.

[2019-06-20 21:42] #3004 closed

[2019-06-20 23:08] ndkeen commented on #3002
Have you run this script on any machine with E3SM? It sorta looks like CESM. It also does not look like the issue is particular to Cori.

I don't think I'm supposed to be debugging your script here, but I simplified it and it build/submitted for me. Job has not yet run.

If you look into that bldlog that the above error points to (which we can't for yours as we don't have permission), you will see

[2019-06-20 23:20] rljacob commented on #3004
So that's the only submodule we have that replaced an existing directory?

[2019-06-21 01:05] worleyph commented on #2979
But if it was memory, and not threading, you'd think that other thread counts would also have problems. I just now tried 12x6 (instead of 18x4) and 12x6 is working fine (repeated experiments). Also, I did double OMP_STACKSIZE over the default, and nothing changed. I can try increasing it even more and see what happens.

[2019-06-21 01:21] worleyph commented on #2979
@singhbalwinder , I spoke too soon. Got NaNs when running with 12x6 in my third experiment. (Yay?). I'll focus on memory more seriously now.

[2019-06-21 13:10] worleyph commented on #2979
@singhbalwinder , I went back to the 18x4 F case (unmodified) and tried again the 64M OMP_STACKSIZE (the default) and saw the usual NaNs. I then also tried 32M, 128M, 256M, and 512M. I got NaNs in all of these cases as well.

[2019-06-21 15:04] chihchen24 commented on #3002
The script is for SCM runs for E3SM obtained from:
https://github.com/E3SM-Project/scmlib/blob/master/run_e3sm_scm_ARM97.csh

When using the master branch, it stopped at building the model and the error is
ERROR: /global/u2/c/cchen24/code/E3SM/cime/src/build_scripts/buildlib.mpi-serial FAILED, cat /global/u2/c/cchen24/code/SCM_runs/run_e3sm_scm_ARM97/build/mpi-serial.bldlog.190620-120031

I have c

[2019-06-21 15:41] xylar commented on #2895
Addressed by #2952 and  #3006

[2019-06-21 18:23] singhbalwinder commented on #2979
@worleyph : I am guessing here so I could be wrong. Assuming that if we add "heap arrays" flag, everything works, it might be that some thread might be asking for more memory than the largest (512M) you have allocated so far for this particular PE-layout. If it is indeed the case, we still need to figure out why.  I do not know how OMP_STACKSIZE works or if there is a way to set it unlimited for t

[2019-06-21 22:34] worleyph commented on #2979
I'll try even larger OMP_STACKSIZE. However, both 36x2 and 24x3 work fine (with 64M OMP_STACKSIZE), while 18x4 and 12x6 fail, and 18x4 fails for up to 512M OMP_STACKSIZE.

[2019-06-22 21:06] worleyph commented on #2979
Summary so far: Have two workarounds (but no acceptable fixes):

     1) Add a critical section around the second major loop in parcel_dilute in zm_conv.F90

     2) Compile all of CAM with -heap-arrays

It might/should be possible to compile less than all of CAM with -heap-arrays, but compiling all of cam/src/physics/cam was not sufficient, and this does include all of the files that are involved

[2019-06-23 21:04] worleyph commented on #2979
Update: Compiling all of CAM with -heap-arrays when running 18x4 (still) "works" consistently, and is internally BFB. However, it is not BFB with a build using 36x2 and compiled normally. In contrast, 18x4 with the critical section around the loop in parcel_dilute is BFB with the 36x2 run (unmodified) and also works in all experiments that I have tried. I don't know if this non-BFB behavior would

[2019-06-24 18:26] singhbalwinder commented on #2979
@worleyph : I am also not sure if we should expect the solutions to be BFB with or without using heap array flag. Do the run start to differ at the very first time step or they differ from the second time step (like we saw earlier)?

[2019-06-24 18:31] worleyph commented on #2979
@singhbalwinder , I've convinced myself that compiling with -heap-arrays is comparable to changing optimization level, and we don't require the model to be BFB wrt to that. I am not concerned about it. @mt5555 suggested trying a different version of the intel compiler. Perhaps the problem will "go away", especially since it does not occur on Compy. Homme is using a more recent version of Intel on

[2019-06-24 19:14] dqwu commented on #2866
@jonbob
Thanks for your information. Setting config_am_regionalstatistics_enable to false in user_nl_mpassi works for me.

[2019-06-24 19:38] jhkennedy commented on #2940
Now on master.

[2019-06-24 19:38] #2940 closed

[2019-06-25 04:18] rljacob commented on #2963
This test fails with the default PIO1 on anvil as well:
SMS_R_Ld5.ne4_ne4.FSCM5A97.anvil_intel
https://my.cdash.org/testDetails.php?test=48150310&build=1668884

This test has either never passed on anvil or hasn't passed in a long time.

[2019-06-25 04:26] rljacob commented on #2512
@minxu74 What hash were you using?  It looks like that block of code was removed in:  https://github.com/E3SM-Project/E3SM/pull/2267

[2019-06-25 04:27] rljacob commented on #2512
Closing unless this is still a problem on master.

[2019-06-25 04:27] #2512 closed

[2019-06-25 04:28] rljacob commented on #2095
Fixed in #2267

[2019-06-25 04:28] #2095 closed

[2019-06-25 18:06] kvcalvin opened #3016 "Issue building BGC compsets using maint-1.1 branch on compy"
@maltrud is having troubles running BGC compsets on compy. He tried to add machine definitions to the v1.1 based on Az’s branch that works for other simulations.  Those files are in:
/qfs/people/malt823/e3sm_repo/20190624_BDRC_CNPCTC20TR_OIBGC_compy/cime/config/e3sm/machines

But, the build for PIO fails with a netcdf problem regardless of the adjustments he tries:

/compyfs/malt823/e3sm_scratch/2

[2019-06-25 18:17] singhbalwinder commented on #3016
I met this error on maint1.0 and @jayeshkrishna helped me to resolve this. The fix is here (cime/src/externals/pio1/pio/pionfput_mod.F90.in): https://github.com/E3SM-Project/E3SM/pull/2877/files#diff-46185b1f6650e0d70d79fb4e63471a2d

[2019-06-25 18:19] maltrud commented on #3016
thanks @singhbalwinder .  i'll give it a try.

[2019-06-25 23:28] bogensch commented on #2963
I found the issue.  ROOTPE needs to be explicitly set to 0 for all components in cime/scripts/lib/CIME/test_scheduler.py for PTS_MODE.  The test worked on anvil once I did this.  I will issue a cime PR to address this.

[2019-06-26 15:11] chihchen24 commented on #3002
Just checking in with you to see if you have got a chance to look at my case yet.

Thanks a lot!

[2019-06-26 15:44] kvcalvin commented on #3016
Thanks @singhbalwinder. Mat says this is now working.

[2019-06-26 15:44] #3016 closed

[2019-06-26 16:13] jayeshkrishna commented on #2963
@bogensch : Can you also include the PIO fix mentioned in this issue in your PR (you can cherry-pick https://github.com/E3SM-Project/E3SM/commit/28ffe751dd5dfb38133864fdb3f10397d79a1276 since @dqwu has fixed this issue in our testing branch)?

[2019-06-26 17:00] ndkeen commented on #3002
Were you able to see the script I attached? It worked for me.

[2019-06-26 17:28] chihchen24 commented on #3002
No. Could you please attach your script again?

Thanks.

[2019-06-26 18:09] chihchen24 commented on #3002
OK, I believe you referred to tmp-run_e3sm_scm_ARM97.csh.txt

I modified your script and used the master branch.
I am getting the same error at build, and the message is:
Building mpi-serial with output to file /global/u2/c/cchen24/code/SCM_runs/run_e3sm_scm_ARM97/build/mpi-serial.bldlog.190626-110820
   Calling /global/u2/c/cchen24/code/E3SM/cime/src/build_scripts/buildlib.mpi-serial
ERROR: /glob

[2019-06-26 18:14] ndkeen commented on #3002
What happens if you do NOT modify the script I attached?

[2019-06-26 18:17] chihchen24 commented on #3002
The original script is not pointing to any tag.
Here is the error I got when executing your script without modification:
./create_newcase: Command not found.
run_e3sm_scm_ARM97: No such file or directory.

[2019-06-26 18:19] ndkeen commented on #3002
That script is just a collection of commands.  And those commands, such as create_newcase, need to be run from the cime/scripts directory of the repo of interest.  So I thought you would try it inside a recent version of master.

[2019-06-26 18:21] #2920 closed

[2019-06-26 18:37] bogensch opened #3020 "SCM broke on maint-1.0"
running the SMS_R_Ld5.T42_T42.FSCM5A97 test on maint-1.0 provides the following error:

RUNNING TESTS:
  SMS_R_Ld5.T42_T42.FSCM5A97.cori-knl_intel
Starting CREATE_NEWCASE for test SMS_R_Ld5.T42_T42.FSCM5A97.cori-knl_intel with 1 procs
Finished CREATE_NEWCASE for test SMS_R_Ld5.T42_T42.FSCM5A97.cori-knl_intel in 0.123484 seconds (FAIL). [COMPLETED 1 of 1]
    Case dir: /global/cscratch1/sd/bogensch

[2019-06-26 18:43] bogensch commented on #2963
will do

[2019-06-26 18:53] chihchen24 commented on #3002
Indeed, it works within the master branch by executing all the commands in the script.

Thanks a lot.

[2019-06-26 19:08] bogensch commented on #2963
@jayeshkrishna are you talking about including the mod to file components/cam/src/control/ncdio_atm.F90 ?  If so, I can't include that in my cime PR since it's not in the cime/ directory

[2019-06-26 19:10] rljacob commented on #3016
@jayeshkrishna can you explain what that fix does?

[2019-06-26 19:17] jayeshkrishna commented on #2963
Ok, in that case please don't close this issue (Refer to the issue "See Issue #...") when you merge your PR. I will create a separate PR with the PIO fix and merge it (closing this issue)

[2019-06-26 19:31] rljacob commented on #2963
@bogensch if you're making the PR here, you can mix cam and cime file changes.  Just don't put them in the same commit.

[2019-06-26 21:15] XiaomingLANL opened #3021 "Build Error for compset FC5AV1C-L on Grizzly"
Dear All,

I am working on the FC5AV1C-L compset. The case can be created and set up, but I got the following error when trying to build it.
++++++++++++++++++++++++++++++++++++++++
cmake -DMODEL=cam -DCOMPLIB=atm -DUSER_CPPDEFS="-DCO2A -DMAXPATCH_PFT=numpft+1 -DLSMLAT=1 -DLSMLON=1 -DPLON=48602 -DPLAT=1 -DNP=4 -DNC=4 -DHAVE_F2003_PTR_BND_REMAP -DPLEV=72 -DPCNST=40 -DPCOLS=16 -DPSUBCOLS=1 -DN_RAD_C

[2019-06-26 22:12] bbye commented on #2992
This issue is also the cause of issue #2995. I'm not sure of the exact nature of the differences between the parameter files, but the crop model needs the new parameter file tagged c180524. Since the crop model is embedded in ELM, the default RD and CTC biogeochemistry is what the crop model also uses. The addition of the parameter file for RD when crops are off causes problems when the crop model

[2019-06-26 22:13] bbye commented on #2995
This is caused a divergence in parameter files, see issue #2992.

[2019-06-26 22:18] XiaomingLANL commented on #3021
I just went through the problem by loading cmake in config_machines.xml.
Closing.

[2019-06-26 22:18] #3021 closed

[2019-06-26 23:25] rljacob commented on #3020
The problem is the addtional compset in cam/cime_config/config_compsets.xml.  Its needs to have its one `<compset></compset>` block.  Not included in an existing one.

[2019-06-26 23:26] rljacob commented on #3020
I'll include a fix in my PR adding compy to maint-1.0

[2019-06-26 23:46] rljacob commented on #3020
Odd that this didn't break other cases on maint-1.0.  The 2 cases under test still build fine.  I think its because as soon as a match is found in config_compsets.xml it stops processing it and if your case is before the bad line, there's no error.

[2019-06-26 23:54] worleyph commented on #2979
@singhbalwinder and @amametjanov , I think that I found the solution to this issue. Add

          <command name="add">+mkl</command>

to

          <modules compiler="intel">

in env_mach_specific.xml, e.g.

         <modules compiler="intel">
           <command name="add">+intel-17.0.0</command>
           <command name="add">+netcdf-c-4.4.1-f77-4.4.4-intel-17.0.0-serial</command>
           <c

[2019-06-27 00:33] worleyph opened #3022 "get_BGC.sh no longer working"
The script get_BGC.sh (in components/mpas-source/src/core_ocean) is used to download the BGC code so that git passwords are not requested in the middle of a compile (when you are not paying attention and forget that this may be needed). There is also a script get_cvmix.sh, for cvmix source, which still works.

When working correctly, the first time you execute get_BGC.sh after a new E3SM clone or

[2019-06-27 00:44] #3002 closed

[2019-06-27 00:46] rljacob commented on #3002
So master works.  See #3020 for maint-1.0.

[2019-06-27 02:02] xylar commented on #3022
@worleyp, we recently changed the tag that is pointed in the get_BGC.sh script. However, no other recent changes have been made:
https://github.com/MPAS-Dev/MPAS-Model/blame/e3sm/develop/src/core_ocean/get_BGC.sh

Could you confirm that the problem persists with a fresh clone of E3SM? But even if so, the script should have only asked you once to update the BGC code in your current checkout and the

[2019-06-27 02:08] xylar commented on #3022
I see what it is. I put in the long tag but it's checking against the short tag here
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/get_BGC.sh#L25

@markpetersen, can you make a bug fix for this? I'm currently on travel.

[2019-06-27 13:49] wlin7 commented on #3020
Thanks @bogensch and @rljacob for looking into this.  Rob, can you illuminate which additional compset has the problem? It seems to me all has its own <compset></compset> block.

[2019-06-27 16:37] brhillman commented on #2698
This was enough to fix integer overflow with ne512, but not for ne1024.

[2019-06-27 17:15] wlin7 commented on #3020
I can see it now. The problem occur on merging (likely during resolving conflict). The PR #2758 itself has proper <compset></compset> around the compset introduced. Thanks again @rljacob for catching it.

[2019-06-27 21:07] worleyph commented on #2979
@singhbalwinder,

I'll take credit for being too stubborn to give up, but nothing much that I tried was very productive until Mark made his suggestion. Thanks again to @mt5555 for his input.

[2019-06-27 21:27] rljacob opened #3027 "Conditional redefine of MPIFC is broken in maint-1.0"
If you try to redefine the mpi compiler wrappers with something like:
`<MPIFC MPILIB="impi"> mpiifort </MPIFC>`
You'll get a compile line that starts like this:
`mpif90  mpiifort <options>  file.F90`

This problem doesn't happen on master.

The config_compilers.xml in maint-1.0 doesn't use that construction in any definitions so we didn't notice it until we tried (on compy).

[2019-06-27 21:29] rljacob commented on #3027
The source of the problem was found by @singhbalwinder in cime:
[code]

The last line should have `:=` instead of `+=`.  Making that changes allows the construction above to work.

[2019-06-28 13:37] mt5555 commented on #2979
thanks @worleyph , great work!

[2019-06-28 14:09] #3022 closed

[2019-06-28 19:26] bishtgautam opened #3034 "ELM cannot output multiple monthly values in a single history file"
From @ckoven, There is an old bug that ELM inherited from CLM, which is that if the user specifies the first argument of hist_mfilt to be anything other than 1, the fortran code resets that value to 1 anyway.  I.e. it isn't possible to write the first set of history fields with a frequency that isn't equal to one file per each time unit (specified by hist_nhtfrq).  In general this is ok, but when

[2019-06-28 20:14] mt5555 commented on #2983
I'm hoping it's an easy fix - to add some (if (dyn_pes) ) code in front of the interpolation calls.   But I haven't had time to work on this yet.

[2019-06-28 20:33] singhbalwinder commented on #2983
I recently met with another error on Compy when I ran ne4 with 160 tasks (default). The error went away when I used <= 96 tasks. I am not sure why the model complains on some machines about it while working fine on others. May be we should let the model error out when somebody tries to use more # of tasks than the # of elements. That way, we will never run into this situation and online interpolat

[2019-07-03 01:07] cameronsmith1 opened #3041 "run_e3sm.template failing to compile for Cori-KNL. C++ issue?"
I cloned a new copy of E3SM master today.   However, I cannot get it to compile.  Even running ```run_e3sm.template.csh``` fails.

I get the following error on the screen:

```icpc: error #10417: Problem setting up the Intel(R) Compiler compilation environment.  Requires 'C++ include files' setting gathered from 'g++'```

There are also error logs for mosart, cam, and clm.  The CAM log contains:

[2019-07-03 02:06] cameronsmith1 commented on #3041
pinging @rljacob , @jgfouca

[2019-07-03 02:25] rljacob commented on #3041
Are you trying to run the unmodified run_e3sm.template?

[2019-07-03 23:45] cameronsmith1 commented on #3041
Correct.  This is for the run_e3sm.template that comes with master.    It actually first failed when I was trying to use a run_e3sm script I had used previously, so I tested the run_e3sm.template to check, and that failed too.

I also just confirmed that run_e3sm.template fails when I build for cori-haswell too.

Indeed, I have yet to get anything to compile on the version of master I downloaded y

[2019-07-03 23:48] ndkeen commented on #3041
I meant to reply that I verified I can check out master and successfully run a test like:
`create_test SMS_D_Ln5.ne4_ne4.FC5AV1C-L`

[2019-07-03 23:53] cameronsmith1 commented on #3041
Can anybody run ```run_e3sm.template.csh``` out-of-the-box on cori?

[2019-07-04 00:14] ndkeen commented on #3041
Yes, I also just tried `./run_e3sm.template.csh` and that works as well (well, it submitted a job with 6 nodes).

Since the create_test command (above) is more simple, I might suggest that you try that as it would eliminate any issues in that script (and post case location if it fails).

I would recommend getting a fresh repo, but you said you just did that.

[2019-07-04 00:22] cameronsmith1 commented on #3041
```create_test SMS_D_Ln5.ne4_ne4.FC5AV1C-L``` fails for me with similar errors as before.

[2019-07-04 00:25] ndkeen commented on #3041
OK, that narrows down a little more. Maybe post the case directory? (and ensure files readable).  Other than something obvious, I would just start looking at differences between our cases.

[2019-07-04 01:13] cameronsmith1 commented on #3041
The output of ```create_test SMS_D_Ln5.ne4_ne4.FC5AV1C-L``` is in:

```/global/cscratch1/sd/pjc/acme_scratch/cori-knl/SMS_D_Ln5.ne4_ne4.FC5AV1C-L.cori-knl_intel.20190703_172143_2ldus8```

The permissions should be set correctly (famous last words).

[2019-07-04 01:29] ndkeen commented on #3041
OK thanks.

I do see that it looks like your build failed in building ICE.

I note an interesting message in the ice.bldlog* file:

`    icpc: error #10417: Problem setting up the Intel(R) Compiler compilation environment.  Requires 'C++ include files' setting gathered from 'g++'`

Not quite sure what that means.

[2019-07-04 02:29] cameronsmith1 commented on #3041
Thanks, Noel!    The problem appears to be that my .login was loading the UVCDAT module, which sets the default g++ to ```/usr/common/contrib/acme/uvcdat/uvcdat-2.12/bin/g++```, but when I start without the UVCDAT module g++ defaults to ```/opt/gcc/7.3.0/bin/g++```.  E3SM fails to compile with the UVCDAT g++, and successfully compiles with the system default.

Is there a way to specify the g++ ver

[2019-07-04 02:41] ndkeen commented on #3041
Good catch. That's interesting. It does sound like it's happening because of the new CMake builds. @jgfouca can we harden our builds to be less dependent on g++? Or should we go ahead and load the gnu module to have more control over which g++ is seen?

[2019-07-05 19:47] jgfouca commented on #3041
@ndkeen , we should probably load the gnu module. Intel compilers rely on the gcc in the user's environment for stdlib.

[2019-07-07 14:54] worleyph commented on #760
@rljacob, should I close this? Titan is "no more" and nothing has been updated on this topic since 2016.

[2019-07-08 04:44] XiaomingLANL opened #3048 "Aquaplanet Crash during Initialization on Grizzly"
Dear All,

I am trying to run some aquaplanet simulations on Grizzly using E3SM and using the Restored Aquaplanet by @whannah1  (#2752)

The compset tried is
2000_CAM5%AQUA_SLND_SICE_DOCN%AQP1_SROF_SGLC_SWAV
i.e., F-EAMv1-AQP1

E3SM can be compiled successfully, but it crashes quickly (seems within the initialization process). The following is some error information from e3sm.log
+++++++++++++++++

[2019-07-08 05:08] rljacob commented on #760
yes

[2019-07-08 05:08] #760 closed

[2019-07-08 05:25] rljacob commented on #3048
Grizzly is not an officially supported machine.  You'll have to reproduce this on one of the supported machines for it be an issue.  https://acme-climate.atlassian.net/wiki/spaces/ED/pages/1867951/Configuration+Management#ConfigurationManagement-OverviewofsupportedE3SMmachines.

[2019-07-08 15:29] bartgol opened #3049 "Improve HOMME's cmake logic to check compiler in a CUDA build"
Currently, when HOMME has to check if it's a GPU build, cmake inspects the name of the C++ compiler for the substring `nvcc`. This breaks when building with the MPI wrappers, using the standard way of modifying MPI's undelying C++ compiler (i.e., changing the OMPI_CXX env variable), since the C++ compiler name is still `mpicxx` (with a different back-end).

A better way to check that the C++ compi

[2019-07-08 15:33] whannah1 commented on #3048
@XiaomingLANL, hit me up on slack or my LLNL email (hannah6@llnl.gov). I'd definitely like to get to the bottom of this. We need to get the backtrace to figure this out, which I can help with.

[2019-07-08 15:58] pbosler commented on #3049
Another option is to use `Kokkos_generated_settings.cmake`, e.g., lines 26--38 here: https://github.com/E3SM-Project/COMPOSE/blob/master/CMakeLists.txt

[2019-07-08 16:15] bartgol commented on #3049
The generated settings do not change the cxx compiler though. So you're still stuck with whatever cmake picked up.

[2019-07-08 17:12] XiaomingLANL commented on #3048
@rljacob We are trying to get an account on supported machines to do further tests as you suggested. By the way, as we can run E3SM successfully on Grizzly for either the cmip6 or other compsets, it may not be a configuration problem of Grizzly. I am currently working with @whannah1 to trace back the problems and will update here if we can find the solution.

Any other suggestions are also very we

[2019-07-08 17:24] rljacob commented on #3048
Ok.  Everyone working on E3SM should have accounts on all supported machines.

[2019-07-09 03:01] rljacob commented on #3020
Now I get a different error when trying to run T42_T42.FSCM5A97
[code]
The initial data file is:  atm/cam/inic/gaus/cami_0000-09-01_64x128_L72_c031210.nc

[2019-07-09 03:07] #3034 closed

[2019-07-09 13:42] wlin7 commented on #3020
I will look into that. If single_column=.true., the data dimensions are not required to be matched.

[2019-07-09 16:48] bogensch commented on #3020
@rljacob I ran T42_T42.FSCM5A97 with the most up-to-date maint-1.0 branch on Cori and my test passed.  What machine are you running on so I can try to reproduce what you are seeing?

[2019-07-09 17:27] wlin7 commented on #3020
My test was also just completed on cori-knl. It passed. A separate test case with generic EUL SCM went ok as well.  @rljacob, if the run_dir still exist, can you please check in drv_in if single_column=.true. is present?

[2019-07-09 17:44] rljacob commented on #3020
I'm actually using create_newcase and I'm on compy.  Are you guys using a script or the actual test line with _R_?
./create_newcase --case scam --compset FSCM5A97 --res T42_T42

single_column is "false" for me doing the above.

[2019-07-09 18:12] bogensch commented on #3020
ah, I see.  I was running e3sm_developer tests with _R_ and it sounds like Wuyin was running with scripts (both of which set PTS_MODE to true).  Looks like we need to explicitly declare PTS_MODE to be true in config_compsets.xml if the FSCM5A97 compset is used.  I can take care of this.

[2019-07-09 18:15] rljacob commented on #3020
Ok.  I'm going to close this because the initial problem was fixed in PR #3023

[2019-07-09 18:15] #3020 closed

[2019-07-09 18:15] rljacob commented on #3027
Fixed in #3023

[2019-07-09 18:15] #3027 closed

[2019-07-09 21:29] pbosler commented on #3049
Fixed with PR #3044

[2019-07-10 21:56] jhkennedy commented on #2868
Now on master.

[2019-07-10 21:56] #2868 closed

[2019-07-11 13:01] mt5555 commented on #2959
is it this statement?:
a_corner_elems = elem_neighbor(elem_nbr_start : elem_nbr_start + cnt -1)

which we should change to:
a_corner_elems(1:cnt) = elem_neighbor(elem_nbr_start : elem_nbr_start + cnt -1)

[2019-07-11 13:24] #2535 closed

[2019-07-11 13:25] mt5555 commented on #2714
fixed by E3SM-Project/E3SM#2824

[2019-07-11 13:25] #2714 closed

[2019-07-11 13:29] mt5555 commented on #1593
let's assume this has been fixed...

[2019-07-11 13:29] #1593 closed

[2019-07-11 13:44] mt5555 commented on #2571
Title is a little confusing.

I first read this at the output needed to perform a restart run (which is a binary file) should contain a git commit message.  I think you mean the stdout of a restart run should print the git hash of the code used for the simulation?

[2019-07-11 13:47] oksanaguba commented on #2571
yes, git hash.

[2019-07-11 22:15] #2917 closed

[2019-07-11 23:49] lxu16 opened #3061 "floating invalid error in 20tr_cam5_av1c-04p2 on cori-knl"
I have been debugging this float invalid error for a while on the cori machine without any clues. I included e3sm.log error below. I can compile and run the code on edison without any problem and have this issue after switching to the cori machine. I felt the error is related to the r8 (double precision) flag and NetCDF file input because the code is as same as before. The error just pops out afte

[2019-07-12 00:00] ndkeen commented on #3061
Are you able to provide a simple way for someone else to recreate the error? Either a script or via a create_test command?

Note that switching to cori from edison does change a few things, but it could easily be the case that we could make the code fail in the same way on edison as well. Certainly, adjusting the PE layout can exercise the code in different ways. Things easy to try: change the num

[2019-07-12 00:16] worleyph commented on #3061
What do you mean by "r8 (double precision) flag "?

[2019-07-12 16:54] mark-petersen opened #3062 "Some PET tests break on some platforms."
Current head, 9fc77cb791, fails all PET test on cori-knl.

[2019-07-12 16:58] mark-petersen commented on #3062
These fail:
[code]
They successfully get through the first simulation in the run directory. Error is:
[code]
so it may not actually involve threading at all, just some problem with the case.setup command.

[2019-07-12 17:15] rljacob commented on #3062
PET tests with an mpas ocean component?

[2019-07-12 17:18] lxu16 commented on #3061
Here is the PE layout I used for the simulation. I will try cori-haswell to see what happened.

else if ( `lowercase $processor_config` == 'customknl' ) then

  e3sm_print 'using custom layout for cori-knl because $processor_config = '$processor_config

  ${xmlchange_exe} MAX_TASKS_PER_NODE="64"
  ${xmlchange_exe} COSTPES_PER_NODE="256"

  ${xmlchange_exe} NTASKS_ATM="5400"
  ${xmlchange_exe} ROOT

[2019-07-12 17:22] lxu16 commented on #3061
I mean FC_AUTO_R8 flag.

  <FC_AUTO_R8>
    <base> -r8 </base>
  </FC_AUTO_R8>

When I tried to read new file I created for soil erodibility, the values of variable do not seem right without this flag.

[2019-07-12 17:23] rljacob commented on #3061
This is still not enough info.  We need the "create_newcase" line which you can find in README.case in the case directory.   And the full path to your case directory.

[2019-07-12 17:35] lxu16 commented on #3061
My case directory is listed below. I changed the access permission and let me know in case you can not access it.
/global/cscratch1/sd/lix011/acme_scratch/FCTR20yrIC_SolP.ne30_ne30/case_scripts

[2019-07-12 17:37] ndkeen commented on #3061
[code]

[2019-07-12 17:45] lxu16 commented on #3061
Can you try one more time to access the case directory? or let me know how I share the script with you to recreate the case.

[2019-07-12 17:57] worleyph commented on #3061
<FC_AUTO_R8>
     -r8
     </FC_AUTO_R8>

We STRONGLY discourage autopromotion. Please explicitly type your variables with the correct type (r8 I assume, using the usual "types" module).

[2019-07-12 18:09] mt5555 commented on #2983
I looked into this further.  It would be difficult to support interpolated output with physics  PEs > dynamics PEs.   so for now I will add an abort() statement if interpolated I/O is turned in this case.

However, we do want to allow physics PEs > dyn PEs, as the physics an use more PEs then the dynamics.

For future reference:

The I/O is called by the physics by all the physics PEs.   For inter

[2019-07-12 18:11] ndkeen commented on #3061
I copied your run_e3sm script here:

`/global/cscratch1/sd/lix011/acme_scratch/FCTR20yrIC_SolP.ne30_ne30/case_scripts/run_script_provenance/run_solP_F20TRC5AV1C-04P2.ne30_ne30.cori.csh.2019-07-11_15:24:40_PDT `

And made some changes to allow this to work for me. When I set `include_fire` to be true (as it is there), I get the following error during build:

[code]

Are there code changes you are m

[2019-07-12 18:18] ndkeen commented on #3061
Also I see a potential issue in the way your script is setting the PE layout.

[code]

MAX_MPITASKS_PER_NODE has a new name and is the most important setting. The COSTPES variables is not needed at all.

This will certainly impact your PE layout, but may not fix the error.

In your casedir, the CseStatus file has:

[code]

Which is not what you want.

[2019-07-12 18:30] lxu16 commented on #3061
I created the new chemistry module called "linoz_mam4_resus_mom_soag_biop" that is specifically designed to include both soluble and insoluble phosphorus aerosol emitted from different sources from landscapes (e.g., fires, fossil fuel, dust, etc) into the atmosphere. Could you use the option "include_fire=False" (that will use the chemistry module "linoz_mam4_resus_mom_soag") to see if you can com

[2019-07-12 18:31] lxu16 commented on #3061
OK I will remove this flags in the config_compilers.xml.

[2019-07-12 18:32] lxu16 commented on #3061
I see. It is good to know that. I will modify the PE layout and try one more time. Thanks!

[2019-07-12 18:39] ndkeen commented on #3061
I now see that with or without fire, I would need access to `/global/u1/l/lix011` to test the script out as-is.

[2019-07-12 18:57] mark-petersen commented on #3062
Those have always passed for me in the past. @rljacob I'm not sure what you are saying.

[2019-07-12 19:08] lxu16 commented on #3061
I changed the access permission for the inputdata directory for the run without fires and you may try if you can access those data.

[2019-07-12 19:13] ndkeen commented on #3061
Let us know how the test goes when you have the correct number of MPI tasks per node. And if you could try with DEBUG=TRUE (I assume you know you can xmlchange DEBUG=TRUE before building to get this).

I did try again but the permissions are still off.

[code]

[2019-07-12 19:17] lxu16 commented on #3061
I can try the correct PE layout and switch on DEBUG=TRUE first.

BTW, I modified the permission for the /global/u1/l/lix011/fire.test/ELMv1.ne30_ne30.restart.clm2.r.1997-01-01-00000.nc.

[2019-07-12 20:17] rljacob commented on #3062
There are threading tests with F-cases and I assume those would  pass.

When did those cases start failing?   Was it PR #2951  that broke them?

[2019-07-12 20:29] #3049 closed

[2019-07-12 20:36] rljacob commented on #3062
Oh I see.  It seems to be a problem with test script itself.

[2019-07-12 20:59] ndkeen commented on #3061
OK, I was able to build/run and even with DEBUG=TRUE, I get the same error as you.  Without DEBUG=TRUE, I actually did get a different error though (COSP related).

[code]

[2019-07-12 21:11] lxu16 commented on #3061
That IS exactly same error I had!
BTW, I tried the run by fixing the PE layout you recommend above and the error is still there. Now I submitted the job using the compiler in cori-haswell and see what is going to happen.....

[2019-07-12 22:25] ndkeen commented on #3061
Rebuilding with GNU compiler, I get an error in perhaps same place, but with new info:

[code]

[2019-07-12 22:31] lxu16 commented on #3061
Does that mean that the compset "F20TRC5AV1C-04P2" perhaps is not working on cori-knl?

There is no code change at all in the no-fire run (except those input files I created). The model uses the default chemistry module defined in the CAM5 namelist of E3SM.

[2019-07-15 17:28] jonbob commented on #3062
@rljacob - I had similar fails with the head of master (at least on anvil) so I'm not sure what's up with this

[2019-07-15 18:48] ambrad opened #3072 "Threading bug in HOMME reduction_mod"
There appears to be a threading bug in
[code]
exposed, for example, by calling
[code]
The bug is as follows: In the first call, all threads reach the barrier at
reduction_mod.F90:389. Now imagine that one or more threads linger at that
barrier, while one thread races ahead. It completes the call at
reduction_mod.F90:84 and returns. Then the second ParallelMin call starts, and
this fast thread make

[2019-07-15 19:31] oksanaguba commented on #3072
Barrier before critical did not help for my example. Barrier before single did help.

[2019-07-15 19:34] ambrad commented on #3072
Yes, thanks. I meant before the `omp single`.

[2019-07-16 01:31] mt5555 commented on #2380
This code is used by the gnominic map, and not used by the local element map that we will switch to in E3SM v2.  It also appears to be a compiler bug.

We could ignore this.  or what about this workaround:
if  ( one <= r) then
   sphere%lat = 90d0
else
   sphere%lat = ASIN(one/r)
endif

Do we also have a problem at the south pole, with the ASIN(-one/r) statement?

[2019-07-16 05:45] ndkeen commented on #2380
The latest intel19 compiler (19.0.3.199) appears to not show this behavior and in the latest PR, I upped the `intel19` compiler to this version on Cori and removed those special flags to deal with asin.

[2019-07-16 15:45] #2380 closed

[2019-07-16 17:05] rljacob commented on #3062
PET tests are running fine in our nightly testing.  Maybe its this specific case?  Tagging @jgfouca

[2019-07-16 17:05] rljacob commented on #3062
Nightly testing on master/next that is.  We don't have a PET test in maint-1.0 testing.

[2019-07-16 17:18] #2962 closed

[2019-07-17 15:00] rljacob commented on #2292
We decided that all input files will be in "netcdf3 classic" format.

[2019-07-17 15:00] #2292 closed

[2019-07-17 17:00] #3072 closed

[2019-07-19 04:20] rljacob commented on #1970
Closing this.  See #2292 for more.

[2019-07-19 04:20] #1970 closed

[2019-07-19 22:48] amametjanov commented on #2979
Explicit load `+mkl` should not be necessary, because `+intel-17.0.0` key already sets MKLROOT:
[code]

If adding `+mkl` is fixing the issue, then this indicates a bug in the default MKL bundled with Intel v17 compiler.

[2019-07-19 22:58] mt5555 commented on #2979
a bug in the intel17 mkl library could be an explanation.  In which case what about +mkl-11.0.5.192 ?

[2019-07-19 23:15] amametjanov commented on #2979
I'm not sure. If this MKL version is from 2011, mixing with 2017 compiler may bring issues. I think Jason is looking into this with e3sm_developer tests.

[2019-07-20 00:03] mt5555 commented on #2979
yikes, using mkl for 2011 sounds like a terrible idea.  what about:

+intel-mkl-2017.3.196

[2019-07-20 17:01] mt5555 commented on #2979
https://software.intel.com/en-us/articles/which-version-of-the-intel-ipp-intel-mkl-and-intel-tbb-libraries-are-included-in-the-intel

+mkl-11.0.5.192 is from 2013, so not quite as old as 2011, but still pretty old.
+intel-mkl-2017.3.196 might be v2017, update 3, bundled with intel 17 update 4.

From Pat's comments above, I think he confirmed the bug is fixed with both intel17 and intel18 when usin

[2019-07-20 17:10] worleyph commented on #2979
For the reproducer used in this issue, correct. I have not tried different PE layouts or other cases.

[2019-07-21 03:55] mt5555 opened #3082 "maint-1.0 crashes with A_WCYCL "L" configuration on Compy"
On compy, with the maint-1.0 branch, this case

./create_newcase -case /qfs/people/wolf966/E3SM-cases/20190717.test3.compy -compset A_WCYCL1850S_CMIP6 -mach compy -res ne30_oECv3_ICG -compiler intel --project e3sm -pecount L

will crash - with errors indicating memory corruption in HOMME's dof_mod.F90:

*** Error in `/compyfs/tayl519/e3sm_scratch/w1/bld/e3sm.exe': corrupted size vs. prev_size: 0x0

[2019-07-21 21:03] rljacob commented on #3082
Intel MPI is the default on maint-1.0 and master for compy.

[2019-07-21 22:55] mt5555 commented on #3082
thanks, edited the issue mvapich->intelmpi

[2019-07-22 15:23] mt5555 commented on #2979
@worleyph : can you run your reproducer with

intel17 +  intel-mkl-2017.3.196
intel18 (with default mkl)

this would confirm that the problem is in the particular version of mkl with intel17.0.0.   It could also be a "feature" of all modern versions of mkl

[2019-07-22 15:26] rljacob commented on #2979
Since Intel19 is available, I've been thinking we should move all platforms to 18 or 19 and drop 17.  That's an option.

[2019-07-22 20:44] ndkeen commented on #2899
Note that with  https://github.com/E3SM-Project/E3SM/pull/2939, I updated the version of Intel 19 to be 19.0.3.199. I wanted to note that this happens to be a case where the number of MPI's is larger than the number of elements. It could very well be that elem is used before init. Should we change the code to account for this?

Here is the code in dyn_comp.F90

[code]

[2019-07-22 20:54] xuezhengllnl opened #3085 "FC5AV1C-04P2.ne30_ne30 failing on cori-knl and cori-haswell"
The error message in e3sm.log:
2680: forrtl: severe (174): SIGSEGV, segmentation fault occurred
2680: Image              PC                Routine            Line        Source
2680: e3sm.exe           0000000004487CED  Unknown               Unknown  Unknown
2680: e3sm.exe           0000000003CF7600  Unknown               Unknown  Unknown
2680: e3sm.exe           0000000001916FA0  radar_simulator_

[2019-07-22 22:07] ndkeen commented on #3085
I counter with these 2 passing tests on cori-knl using aster as of today:

`create_test SMS_Ln5.ne30_ne30.FC5AV1C-04P2 SMS_D_Ln5.ne30_ne30.FC5AV1C-04P2`

[2019-07-22 22:13] amametjanov opened #3086 "mvapich much slower than intel-mpi on Compy's Intel OmniPath interconnect"
Logging observed run-times for comparison between mvapich2 v.2.3.1 and impi v.2019u3.
[code]
This was in a case created with
[code]

[2019-07-22 22:22] ndkeen commented on #3061
I think there is likely a floating-point issue as the compiler reports. The fact that you did not see it with edison may be more a function of the software (compiler version, for example), than the actual hardware.

I added a write statement just before the line that produces a floating-point issue and it looks like the array `qrl` is not initialized as the values are either zero or something like

[2019-07-23 02:34] mt5555 commented on #2899
I'd suggest we simply remove native_mapping.F90, these calls and the corresponding namelist variables.  This code creates mapping files (SE grid to lat/lon grid).   These days the code is never used since we make mapping files with ncremap.

[2019-07-23 04:38] mt5555 commented on #3082
a few more updates:

Verified that the problem is the same on E3SM master.

Examining the arrays before and after the call to mpi_allreduce, it looks like the call to mpi_allreduce (without using the MPI_IN_PLACE option) is producing the correct data in the output array, but is corrupting the input array.

if the input array is a stack variable, then this is harmless, since we dont use this data a

[2019-07-23 05:13] mt5555 commented on #3082
another update:  using master, and MPI_IN_PLACE, with allocated arrays, avoids the deallocate error messages, but the data in the array is corrupt, and this bad data triggers an abort() latest on during the initialization.  So MPI_IN_PLACE is not 100% safe either.

[2019-07-23 16:44] ndkeen commented on #3061
I also tested without COSP -- same failure.
Then I tested using the current master as the repo -- same failure.
Now I will attempt reproducing this with an F case and some of the key options here.

[2019-07-23 16:48] lxu16 commented on #3061
@ndkeen Thanks for helping me testing the code!

I tried multiple ways, like switching the master (newest vs the older one published in Aug. 2018), modifying the compiler option (back and forth), unlimit the stacksize and coredumpsize, the error changed to

![Screen Shot 2019-07-23 at 9 43 41 AM](https://user-images.githubusercontent.com/32209342/61730512-640a2c80-ad2e-11e9-863b-3e1d4a993bee.png)

[2019-07-23 16:49] ndkeen commented on #3061
Hmmm. That's interesting that when I switched off COSP entirely, I still got the same error.

[2019-07-23 16:50] lxu16 commented on #3085
I met the same error last week on cori. Uou might want to try switch off "-cosp" in your runscript to see if it succeed?

[2019-07-23 16:57] xuezhengllnl commented on #3085
Thanks @lxu16
I tried to run it without "-cosp" and it worked, which is consistent with the error message. However, I need to switch on "-cosp" to get the cosp simulator output for the model diagnostics.

[2019-07-23 17:07] lxu16 commented on #3085
@xuezhengllnl Did you try to define cosp_lite=.true. in the namelist and use "-cosp" in the runscript? Just to check it works and the output variables you need for the model diagnostics.

[2019-07-23 17:10] lxu16 commented on #3061
@ndkeen I tried to use the newest one but got the same error and switched back to the older master (Aug. 2018 version), it surprisingly passed. It IS interesting, isn't it?

[2019-07-23 19:24] worleyph commented on #2979
@mt5555 , in my original experiments, as mentioned above, I tried intel18 without specifying +mkl, and the build failed. Is this the same as

     intel18 (with default mkl)

? It built and then ran correctly with +mkl .

Note that the build failure when not specifying +mkl was

     ld: cannot find -lmkl_intel_lp64
     gmake: *** [/lcrc/group/acme/worleyph/acme_scratch/anvil/FC5AV1C-L-ne4_ne4_in

[2019-07-23 19:44] worleyph commented on #2979
@mt5555 , first example with

     intel17 + intel-mkl-2017.3.196

worked, but second test died with the NaNs.

[2019-07-23 19:55] worleyph commented on #2979
@mt5555 , is there a different experiment you want me to try? Yet a different version of mkl, with either intel 17, 18, or 19? I'd need guidance on what mkl libraries are available, and on how to use intel 19 (and any libraries that need version changes).

[2019-07-23 19:56] mt5555 commented on #2979
From @amametjanov 's message, I was under the impression each intel came with a version of MKL.  But running the command he suggested, soft-dbq +intel-18.0.3 | grep -i mkl, suggests not.   So my suggested of intel18 + default mkl doesn't make sense, sorry about that.

Since intel17 + intel-mkl-2017.3.196 failed, I suppose there is no point running intel18 + intel-mkl-2017.3.196

Current options se

[2019-07-23 20:04] worleyph commented on #2979
@mt5555 , unfortunately, it is no longer "strange thread combinations", but rather thread counts > 3. (using 6 threads also has the same problem, and this is not a 'strange' choice for Anvil.)

We could also use one of the original workarounds: critical section in parcel_dilute or compiling CAM with -heap-arrays (though the latter generates very slow code). Not really proposing either of these, bu

[2019-07-23 20:13] rljacob commented on #2979
Do we know what exactly the limits/rules are for combining an Intel compiler version and an mkl version?

[2019-07-23 20:37] mt5555 commented on #2979
@worleyph : on the off chance that this is compiler related, can you try intel18 + mkl-2017.3.196?

[2019-07-23 20:58] worleyph commented on #2979
@mt5555 , as with intel17 experiment, intel18+mkl-2017.3.196 worked the first time, but generated NaNs the second time. (Not sure what is going on with this 'second test failure' pattern, but it happens often, but not always.)

[2019-07-24 16:13] rljacob commented on #3086
For the record, more details on Compy:
- 460 dual-socket Intel Xeon Gold 6148 (Skylake) nodes  (6148, 2.4 GHz, 20-core)
- 40 cores per node
- 18400 total cores
- Each node has 192 GB DRAM (DDR4, 2666 MHz)

[2019-07-24 16:15] ndkeen commented on #3061
When I run a F-case (ATM only) using the compset `F20TRC5AV1C-04P2` it will run with current master as I stated above. Then I started adding some of the options that you have in your script. Primarily, these changes:

`./xmlchange --id CLM_BLDNML_OPTS --val "-bgc bgc -nutrient cnp -nutrient_comp_pathway eca -soil_decomp century -methane -nitrif_denitrif" `

With these, it will fail with a floating

[2019-07-24 17:04] xuezhengllnl commented on #3085
It is working with cosp_lite. Thanks!

[2019-07-24 17:04] rljacob commented on #2979
Using soft-dbq to list compiler and its "internal" mkl versioni:
+intel-17.0.0:   MKL 2017.0.098
+intel-17.0.1:   MKL  2017.1.132
+intel-17.0.2:  MKL 2017.2.174
+intel-17.0.4:  Not included
+intel-18.0.3:  Not included

So the +intel-mkl-2017.3.196 softkey should be used with Intel-17.0.4 and intel-18.0.3.  We shouldn't use any of the other mkl softkeys on anvil centos6 or "+mkl" because they are

[2019-07-24 21:31] ndkeen opened #3088 "floating invalid with F20TRC5AV1C-04P2 and `-bgc bgc -nutrient_comp_pathway eca`"
This testing is on cori-knl using a master of Jul 23rd.

This test passes: `SMS_PT_D_Ln5.ne30_ne30.F20TRC5AV1C-04P2`
However, if I do the following in the casedir:
[code]

And rebuild, I get the following error:

[code]

I also tested with ony `-bgc bgc`, which completed, but it doesn't let me build with only `-nutrient_comp_pathway eca` (ie I needed both).  Can someone confirm if this is a valid

[2019-07-25 18:08] worleyph commented on #2979
Random experiments ...

a) modified Macro.(c)make to emulate PGI options: -llapack -lblas and removed -mkl, then built/ran without +mkl in env_mach_specific.xml.

Died with NaNs

b) as in (a) modified Macro.(c)make to emulate PGI options: -llapack -lblas and removed -mkl, BUT then built/ran WITH +mkl in env_mach_specific.xml.

Worked (tried three times).

Looking in build log files and see -llapac

[2019-07-25 18:32] singhbalwinder commented on #2979
So essentially having +mkl (loading mkl) is helping to avoid this error. Can we check which blas and lapack is being linked to the executable using something like `ldd` command?

[2019-07-26 06:19] oksanaguba opened #3089 "Standalone hommexx does not run with qsize=0"
If hommexx is built with qsize>0, it does not run with a namelist with qsize=0:

[code]

[2019-07-26 15:53] mt5555 commented on #2983
@singhbalwinder : when e3sm test were you using to trigger the above errors?  I'd like to run that test to make sure PR #3064 will fix the omp errors on low processor counts, and correctly abort when using too many atm tasks.

[2019-07-26 16:06] singhbalwinder commented on #2983
I was using SMS.ne4_ne4.FC5AV1C-L on Compy with the Intel compiler. This test uses 160 tasks. It should abort with the same error as the PE layout (for ne4) is still not fixed for Compy yet.

[2019-07-26 16:24] mt5555 commented on #2983
I ran that test on Anvil, but it doesn't turn on interpolated output?

[2019-07-26 16:31] singhbalwinder commented on #2983
Sorry, I thought you were trying to replicate the error I described in one of my comment [above](https://github.com/E3SM-Project/E3SM/issues/2983#issuecomment-506868310).

For interpolated output, you would need `interpolate_output = .true.` in the `atm_in` namelist. The same test should fail. Originally, `REP_Ln5.ne4_ne4.FC5AV1C-L.cam-intrp_out_frq5ts` was failing.

[2019-07-26 18:22] #3085 closed

[2019-07-27 01:18] worleyph commented on #3082
Hi @mt5555 , I tried

     ./create_newcase -case0190717.test3.compy -compset A_WCYCL1850S_CMIP6 -mach compy -res ne30_oECv3_ICG -compiler intel --project e3sm -pecount L

in master, to start trying to reproduce these issues. This dies with

   0:  pio_support::pio_die:: myrank=          -1 : ERROR: ionf_mod.F90:         235 :
   0:   Feature is not yet supported.
   0: NC_FORMAT_NETCDF4 is not ye

[2019-07-27 01:27] worleyph commented on #3082
@mt5555  - ignore previous question. Found the answer in your original description of the problem.

[2019-07-27 03:46] worleyph commented on #3082
I reproduced the error (saved a copy of the array gOffset before the call to MPI_Allreduce, then compared with the array after the call - the file was changed). I then tried with the same layout for all components except ATM, where I reduced the number of processes from 2700 to 1350. In this case, the input file was not corrupted. Strange to be sensitive in this way.

[2019-07-27 04:02] mt5555 commented on #3082
Agreed - it's strange, and I dont think there is enough evidence to rule out a bug in e3sm code.

recently @amametjanov  posted (maybe in slack?) some other mysterious behavior and he was starting to suspect intel19.

glad your taking a look at this - good luck :-)

[2019-07-27 04:49] oksanaguba opened #3090 "Standalone hommexx does not run jw_baroclinic test"
The test needs a dss call to make one of fields continuous.  in initialization, before xx code starts. One of latest changes removed init of the dss buffer edge1 from make_C0_hybrid_klev() replacing it with edge_g. edge_g is inited in routine prim_init1_buffers, which xx code does not call. A fix would be to place init of egde_g (with smallest size needed) into xx initialization in preqx_kokkos/pr

[2019-07-27 17:25] worleyph commented on #3082
same issue with 5400 ATM processes, so 5400 bad, 2700 bad, 1350 good.

[2019-07-27 18:31] worleyph commented on #3082
@mt5555 , I replaced

     call MPI_Allreduce(gOffset,numElem2P,nelem,MPIinteger_t,MPI_SUM,par%comm,ierr)

with

     call MPI_Reduce(gOffset,numElem2P,nelem,MPIinteger_t,MPI_SUM,0,par%comm,ierr)
     call MPI_Bcast(numElem2P,nelem,MPIinteger_t,0,par%comm,ierr)

and this also seemed to eliminate the corruption in gOffset. Please give this a try in your experiments. It seems even more likely that t

[2019-07-28 13:41] ambrad commented on #3082
@worleyph, if this is a real bug in the MPI_Allreduce impl, does it follow that a standalone reproducer can be written to send to the implementors? Or are there complexities due to the E3SM runtime environment or perhaps state that complicate making a simple standalone reproducer?

[2019-07-28 13:43] worleyph commented on #3082
I'll try to generate a reproducer later today. Code in question is very simple, so should not take much time. And thanks for pointing out the obvious next step (or obvious previous step :-) ).

[2019-07-28 16:04] mt5555 commented on #3082
A reproducer is a good idea - but I'll note that in the e3sm code, if you change the variable to be allocated instead of stack, then the input array data is not corrupted (but some other weirdness happens) causing crashes later.   so something bad is happening, but it's not always detectable.

[2019-07-29 15:29] worleyph commented on #3082
I have a reproducer. Want to see how simple I can make it but ... who should I give this to?

[2019-07-29 15:53] mt5555 commented on #3082
Does this confirm it's a bug in Intel MPI?  In which case Bibi (Compy POC) will know who to report it to.

[2019-07-29 16:10] worleyph commented on #3082
Seems to be a compiler bug rather than an MPI bug. My reproducer calls a subroutine that then calls MPI_Allreduce. However if I move the call to MPI_Allreduce and associated logic up out of the subroutine, the error disappears.

[2019-07-29 16:14] worleyph commented on #3082
or maybe an MPI bug that corrupts memory as a side effect. In any case, not an E3SM bug, unless my reproducer mimics an E3SM error that I am not recognizing. Someone else should look at this code.

[2019-07-29 16:39] worleyph commented on #3082
@bibiraju , I have a reproducer for you to pass onto the system administrators and then perhaps the Intel contact. You should verify that you see the same behavior as well, and also look at the code to make sure that you don't see anything obviously wrong.

[2019-07-29 16:50] bibiraju commented on #3082
@worleyph please let me know how to test it and I can report to the system admins.

[2019-07-29 17:14] amametjanov commented on #3086
@bibiraju, could you please bring this issue to the attention of rc-support for further forward to their vendor?

[2019-07-29 17:16] worleyph commented on #3082
@bibiraju , please grab ~worl312/FOR_BIBI.tar.gz . In this directory (FOR_BIB/) is a Notes.txt file with instructions. OLD_EXPTS/ has results from my runs, so you can compare with this. The corruption appears to not be tied to specific processes, but it happens every time for at least one process when using 2700 or 5400 processes.

[2019-07-29 20:38] amametjanov commented on #3062
This appears to be a CIME issue. maint-1.0 + anvil fails with a run-time error for:
[code]
for the same reason as master + anvil for
[code]
Tagging a related issue ESMCI/cime#3104.

[2019-07-29 21:38] sarats commented on #2979
FYI, I previously used MKL link line advisor to determine appropriate flags for threaded application runs etc.
https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor/

For instance, latest MKL version with 64-bit integer support would have:
[code]

I'm unsure about the softenv module situation on Anvil but wondering if adding +mkl configures LIBRARY paths or flags that make it threa

[2019-07-29 22:53] rljacob commented on #3062
For master, what is it about anvil or that case which is making PET fail this way?   The PET test is not breaking for the cases we run on sandiatoss3.

[2019-07-29 23:18] amametjanov commented on #3062
I think sandiatoss3 has the same issue of varying number of tasks per node: e.g. from e3sm.log on anvil
[code]
The network there might have an exception-handler for this under-utilization.

[2019-07-29 23:53] rljacob commented on #3062
PET tests are only in the integration suite (3 of them) so we can look at machines that run it.
On anvil, PET_Ln5.ne4_ne4.FC5AV1C-L.anvil_intel.allactive-mach-pet and PET.f19_g16.X.anvil_intel.allactive-mach-pet are passing.  Why?
They all work on bebop and theta.

[2019-07-30 16:53] #2959 closed

[2019-07-30 16:53] #2983 closed

[2019-07-30 16:54] bartgol commented on #3090
I added a fix for this in PR #3094 .

[2019-07-30 20:31] amrapallig opened #3095 "Error with module files during case.setup in cori after down time"
Many modules have been upgraded for cori after the maintenance and
E3SM/cime/config/cesm/machines/config_machines.xml has the older versions of those modules that are no longer available for the machine.

For example, the error I got during ./case.setup is
ERROR: module command /opt/modules/default/bin/modulecmd python swap cray-mpich cray-mpich/7.7.0 failed with message:
cray-mpich(3):ERROR:105:

[2019-07-30 21:32] amametjanov commented on #3082
intel18 appears to be better,
[code]
but it shows signs of message replay within the cluster:
with 2700 tasks
[code]
with 5400 tasks
[code]

[2019-07-30 22:25] rljacob commented on #3095
Work on cori started right after it came back up.  Watch for a PR with fixes.

[2019-07-30 23:00] ndkeen commented on #3095
Indeed several of the modules we use on Cori were "removed" after the SW maintenance.  In the past, we've been able to use a module "pe_archive" to regain access to the older module versions, however, this one has been removed as well. I asked NERSC about this and I copy/pasted the reply below.

I've started down the path of updating several of our modules to current defaults for Cori.
Most of the

[2019-07-31 00:19] ndkeen commented on #3095
Regarding Perl modules.  Using this tester:

[code]

[code]

And then if I try to use some previous Perl modules.

[code]

[2019-07-31 00:51] ndkeen commented on #3095
This branch can be tried: `ndk/machinefiles/cori-july2019-upgrade`

And then possibly need to add these env variables to local set to get around the Switch error:

[code]

[2019-07-31 03:02] rljacob commented on #2931
Fixed by removing the ornl svn server.

[2019-07-31 14:41] matthewhoffman commented on #2862
@minxu74 or @singhbalwinder , are you able to report what line 1288 of mpas_li_subglacial_hydro.f90 is?  The .f90 files are preprocessed versions of the .F files in the repo, so it's not clear exactly what line I should be looking at.  I don't have access to Summit or Compy yet, so I'm not able to try to reproduce this error myself yet.

[2019-07-31 16:28] minxu74 commented on #2862
@matthewhoffman The 1288 is the line of "end subroutine", it seems not very useful.
[code]

[2019-07-31 16:51] matthewhoffman commented on #2862
@minxu74 , thanks for posting that.  That's what I was afraid of! :)

[2019-07-31 16:59] ndkeen opened #3096 "compset DTESTM still needs adjustments to work"
I thought we had fixed this already or at least had an issue open.

The DTESTM compset is for testing ICE only and we found the fix (or at least work-around) by simply removing a space in `components/mpas-seaice/cime_config/config_compsets.xml`

I wanted to remind us of the details here:

[code]

And here is what I changed in a different repo to allow things to work as expected:
(remove space)

[c

[2019-07-31 17:11] matthewhoffman commented on #2862
I can't find anything obviously wrong with that subroutine or the code that calls it.  My understanding is that an internal compiler error is most likely a bug in the compiler, and sem.p_dealloc is most likely an internal data structure used by the compiler.  I'm not sure how to proceed in trying to debug this without input from a PGI developer.  @minxu74 , @singhbalwinder , @rljacob , do we have

[2019-07-31 17:13] jonbob commented on #3096
@ndk - it looks like that issue was inadvertently closed on June 25. I think for that old issue @rljacob had asked you to make a PR? Do you want to take it on? Or for me to?

[2019-07-31 17:16] ndkeen commented on #3096
OK, I just could not recall where we left things and github-searching proved unfruitful. Is this the change we want? Note that this file also has another line that may have an extra space. And for that matter, should we check all of these entries for trailing spaces? Or does it make sense to adjust the python that parses the line?

[2019-07-31 17:17] ndkeen commented on #2953
OK here is the closed issue.

[2019-07-31 17:19] jonbob commented on #2953
@ndk - you can probably close the new issue then...

[2019-07-31 17:19] ndkeen commented on #3096
closing and re-opening https://github.com/E3SM-Project/E3SM/issues/2953

[2019-07-31 17:19] #3096 closed

[2019-07-31 17:48] bibiraju commented on #3082
I have verified the behavior and reported the issue to Compy Support team. Balwinder also verified the issue.

[2019-07-31 18:24] worleyph commented on #3082
I found documentation on the algorithms supported for MPI_Allreduce in the Intel MPIL library, in

     https://software.intel.com/en-us/mpi-developer-reference-windows-i-mpi-adjust-family-environment-variables

I couldn't find a command to describe what the default is, but I tested each of the major algorithms and discovered:

     SUCCESS?    ALG #     ALGORITHM NAME
     Worked           1    R

[2019-07-31 19:10] bibiraju commented on #3082
Here's the response from Compy support team.

  Tim

[2019-07-31 19:55] ndkeen opened #3098 "Floating divide by zero with `SMS_D_Ln5.ne4_ne4.FC5AV1C-L.theta_intel`"
Trying some tests on theta, I checked out master of July 31st and see that the test
`SMS_D_Ln5.ne4_ne4.FC5AV1C-L.theta_intel`

has a failure:

[code]

[2019-07-31 19:56] ndkeen opened #3099 "Job submission issue on theta"
With a master of July 31st, I tried `SMS.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6` and the job failed with:

[code]

[2019-07-31 22:00] worleyph commented on #3082
So, there is a workaround. Should we drop it in? This can be a compy-specific environment variable. I don't think that we have any performance-sensitive allreduces in the code, but Recursive doubling is probably a reasonable choice - just don't use Ring, or Rabenseifner's :-).

[2019-07-31 23:14] amametjanov commented on #3062
The run-time error is raised by Infiniband for G- and W-cases. A workaround is to set `--nodes` arg for srun to pack the tasks in the first half of the allocation.

[2019-08-01 15:22] mark-petersen opened #3102 "Vertical mixing bug: nonlocal surface tracer flux term"
The ocean nonlocal surface tracer flux, used by the KPP vertical mixing scheme, is missing some terms:
- for temperature, we need to subtract off the contribution from thickness fluxes that don't change buoyancy
- for salinity, we need to add virtual salinity fluxes that do change buoyancy.

[2019-08-01 15:26] mark-petersen commented on #3102
This error has the potential to change the solution, but in practice it did not cause substantial differences.

[2019-08-01 16:21] ndkeen commented on #2242
I'm now seeing what looks like the same error, but it's with maint-1.0 on cori-knl.
The following tests show this error:

[code]

Note that the other tests of e3sm_developer are not failing.

[2019-08-01 18:27] ndkeen commented on #3095
Documenting this here for now.

I'm seeing some potential odd behavior -- so this could be the machine acting up. Some of the runs after this change (I'm talking about master and maint-1.0) are timing out after running much longer than anticipated.  In the past, we've had to deal with some from of "hanging" and I have reason to believe it's related to IO -- as we are updating the netcdf/hdf module

[2019-08-01 18:43] sarats commented on #3082
As we have a workaround, this is FYI for future. In a conversation with @vamsi-sripathi, he suggested setting I_MPI_DEBUG=5 and running the reproducer to understand what's happening under the hood.
Ref: https://software.intel.com/en-us/mpi-developer-reference-linux-other-environment-variables

As the bug appears/disappears based on whether the array is allocatable/stack, he suggested looking into

[2019-08-01 18:54] rljacob commented on #3082
Should we also do this on master?

[2019-08-01 18:58] worleyph commented on #3082
I believe that @mt5555 observed the same behavior using master, so I assume so. Just got a note that the latest version of the Intel MPI library is available for me to try. I'll give that a whirl as well.

[2019-08-01 19:23] worleyph commented on #3082
The new intel library (intelmpi/2019u4) and associated version of the compiler (intel/19.0.4) changed nothing, so looks like we will have to go with manually setting the MPI_Allreduce algorithm for the moment. @sarats , thanks for contacting Vamsi, but I_MPI_DEBUG=5 provided no information: ...

       21: MPI startup(): Imported environment partly inaccesible. Map=0 Info=0
     ...
     1660: MPI

[2019-08-01 20:30] sarats commented on #2985
@bishtgautam Can you (or someone else from land) include this fix when you get a chance?

[2019-08-01 20:51] dqwu opened #3105 "shr_flux_mod.F90: Missing explicit typing of constants (Causes build failure on Summit)"
This issue can be reproduced by creating a new case (e.g. --compset FC5AV1C-H01B --res ne4_ne4) and building it with default IBM XL compiler on Summit.

Error messages:
[code]
This build issue was introduced by PR #2972

@jayeshkrishna proposed a fix (adding _r8 to 4 real constants) which seems to work:
[code]

[2019-08-01 20:58] sarats commented on #3105
I wonder if there is a Fortran lint tool that catches this kind of error as we repeatedly run into them.

[2019-08-02 14:19] worleyph commented on #3082
@rljacob , I am preparing a PR to set the environment variable in env_mach_specific.xml for Compy  when using the Intel MPI library. This will be for master only. If all goes well, I'll let someone else do something similar for maint-1.0 .

[2019-08-02 19:18] #2976 closed

[2019-08-02 19:18] #2985 closed

[2019-08-03 03:06] worleyph commented on #2979
Don't know if it means anything (or what it means), but I put the omp critical in parcel_dilute, so that the code runs without adding +mkl, then ran with and without +mkl. The results differ by nstep,te = 1. First differences show up for the output starting with

      nstep=           2  time=  4.166666666666666E-002  [day]
       u     =  -0.124798388898807E+03  0.119861366902396E+03  0.96686232

[2019-08-03 17:10] sarats commented on #3105
Found a Intel compiler forum request on a related topic:
https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/269439

[2019-08-03 17:58] sarats commented on #3105
For GNU, perhaps we ought to see if following options make sense ...
https://gcc.gnu.org/onlinedocs/gfortran/Error-and-Warning-Options.html
[code]

[2019-08-04 14:35] worleyph commented on #2979
@singhbalwinder ,

     Can we check which blas and lapack is being linked to the executable using something like ldd command?

I haven't found any way to check this. I tried building without --static-intel:  this built and ran fine (though with some error messages after the job finished), but did not get any useful information from ldd.

[2019-08-04 15:24] worleyph commented on #2979
Just now got a failure using 3 threads per process (18x3 for the ne4 case) when not specifying +mkl (so using the default mkl version associated with the intel17 compiler).

[2019-08-04 15:27] worleyph commented on #2979
Comparing numerics with the omp critical around the loop in parcel_dilute for both with and without +mkl when using intel 17. While the two different versions of mkl differ, as indicated above, they are internally consistent, with identical atm.logs (for the lines that should be identical in a BFB run) when comparing 18x1, 18x2, 18x3, and 18x4. That is reassuring.

[2019-08-04 15:27] worleyph commented on #2979
Note that the 18x3 failure without +mkl was without the OMP CRITICAL in parcel_dilute.

[2019-08-04 15:36] worleyph commented on #2979
Also getting same numerics with and without OMP CRITICAL in parcel_dilute, when they work (for a fixed MKL version).

[2019-08-05 18:30] bbye opened #3110 "Incorrect index used in planting date code"
An incorrect index is used in the crop planting date calculation in the PhenologyMod. This results in incorrect values to be used for the precipitation seasonal calculations. This is also the likely cause of the crop test failing on some machines.

[2019-08-05 19:11] JackReevesEyre commented on #3105
I have created a branch for this bug fix and made the changes suggested by @jayeshkrishna. However, the subroutines containing those issues are full of many other literal real types without a kind suffix (i.e., no "_R8"). Is it best to change all of them or is it not a big deal?

[2019-08-05 19:13] rljacob commented on #3105
go ahead and change all of them.  All literals must be explicitly typed.  We're trying to locate a script we once had to help with that.

[2019-08-06 20:15] #3095 closed

[2019-08-06 21:01] dqwu opened #3114 "Upgrade spectrum-mpi module on Summit"
On Summit, the current default spectrum-mpi module is:
`spectrum-mpi/10.3.0.1-20190611`

PS, "module avail spectrum-mpi" shows this version only.

If we purge this latest version and load spectrum-mpi/10.3.0.0-20190419,
"module list" marks it as a hidden module:
[code]

This suggests that spectrum-mpi/10.3.0.0-20190419 is deprecated on Summit.
However, it is still the specified version in latest c

[2019-08-06 21:03] whannah1 commented on #3114
I've had luck by removing the version completely when running with the ECP fork. I also had to remove the versions from other libraries and that seemed to fix some issues we were having.

[2019-08-06 21:30] sarats commented on #3114
We explicitly mention software versions in master to record what was known to work  (last known good configuration) and keep track of changes in software environment.

[2019-08-06 22:00] amametjanov commented on #2979
Tried various MKL link lines for the 2017 version: static vs. dynamic and sequential vs. omp threading layer -- still getting NaNs.

As an option, we can put in a check to env_mach_specific to prevent threads of a process from getting assigned to two different sockets:
[code]

[2019-08-06 22:23] worleyph commented on #2979
@amametjanov

     As an option, we can put in a check to env_mach_specific to prevent threads of a process from getting assigned to two different sockets:

this is not sufficient. Even "normal" thread counts are exhibiting this behavior. Got a failure with 18x3 (just once though) and 12x6 (pretty regularly).

[2019-08-07 15:04] #3102 closed

[2019-08-07 22:12] rljacob commented on #3095
MOTD re: cori and I/O:

[2019-08-08 21:19] JackReevesEyre commented on #3105
I have changed all of these manually, and am in the process of testing (it builds OK on Anvil, and the job is in the queue). I don't have Summit access, so if someone that does can test it there I would appreciate it. The branch is:
https://github.com/E3SM-Project/E3SM/tree/jackreeveseyre/cime/sfc_flux_bug_fix

The code that contained the problem is not enabled by default, so it should be BFB in s

[2019-08-09 17:15] JackReevesEyre commented on #3105
@kaizhangpnl - I thought you might want to know about this issue. I changed the COARE code to deal with this bug and related issues (types and kinds of literals in the COARE subroutines). The new version is not BFB with the previous commit (in two tests with COARE enabled: ocn_surface_flux_scheme = 1). Should I make further changes to try and get it BFB with earlier COARE version?

[2019-08-09 17:21] rljacob commented on #3105
@dqwu or @sarats can one of you try out the branch above?

It doesn't need to be BFB.

[2019-08-09 17:26] #3114 closed

[2019-08-09 18:42] kaizhangpnl commented on #3105
@JackReevesEyre I just had a look at the code changes. The shift from floating numbers to double precision numbers indeed will cause non-bit-for-bit changes.

[2019-08-13 20:52] ndkeen opened #3121 "Segfault with `SMS_Ln5.ne4pg2_ne4pg2.FC5AV1C-L` on cori-knl"
Using master of Aug 12th 2019

[code]

[2019-08-13 20:56] ndkeen opened #3122 "pio_support::pio_die error with `SMS_Ly2_P1x1.1x1_smallvilleIA.ICLM45CNCROP.cori-knl_intel.clm-force_netcdf_pio`"
Using master of Aug 12th 2019

[code]

[2019-08-13 21:26] ndkeen commented on #3121
Run again in DEBUG:

[code]

[2019-08-13 21:42] ndkeen commented on #3122
Trying again with DEBUG, I see a different (likely different) error:

[code]

[2019-08-13 21:51] whannah1 commented on #3121
That's odd, but it doesn't seem to be associated with the new physics grid.

[2019-08-14 00:02] ndkeen opened #3123 "Floating invalid with several I-cases with DEBUG on cori-knl, such as`SMS_D.f19_g16.I1850CNECACNTBC.cori-knl_intel.elm-eca`"
Using master of Aug12th 2019. There are several I-cases that will fail with what may or may not be same error. The tests run without DEBUG.

Building with intel19, it might be hitting similar error as #3088, which is likely different than above.  With intel (version 18), it's writing a lot of longjmp messages, but nothing useful.

`/global/cscratch1/sd/ndk/acme_scratch/cori-knl/m07-aug12/SMS_D.f19

[2019-08-14 01:35] dqwu opened #3124 "Job submission issue on Summit"
On Summit, case.submit fails with the following error message:
`ERROR: Command: '-env "all, ARGS_FOR_SCRIPT=--resubmit" bsub -q batch -W 02:00 -P cli115 .case.run' failed with error '/bin/sh: - : invalid option'`

This issue seems to be caused by PR #3092

Before that PR was merged, preview_run shows:
[code]
After that PR was merged, preview_run shows:
[code]

[2019-08-14 15:30] bbye commented on #3122
This is caused by issue #3110  and is fixed with PR #3111 . I confirmed that this test now passes on cori with the bug fix PR.

[2019-08-14 16:08] xuchongang opened #3125 "compile error related to sbetr"
@bishtgautam, @jinyuntang, @wjriley , The current clm configure file refer to external_models/sbetr/src/Applications/soil-farm/CENT_ECACNP
https://github.com/E3SM-Project/E3SM/blob/aae9dfafdf2899a1bd5402a7e7cab8daec007378/components/clm/bld/configure#L686
which does not exist in the most recent version of code for sbetr within E3SM:

git@github.com:ACME-Climate/sbetr.git.

This result in the compi

[2019-08-14 19:02] rgknox commented on #3125
@xuchongang , I've run into some compile issues with sbetr too, but they were resolved after reloading all of the submodules.  From the root E3SM folder:

git submodule update --init --recursive

Note, it doesn't like doing this if you have uncommited changes:

[2019-08-14 19:22] xuchongang commented on #3125
Ryan,
  Thank you very much for the suggestion. I have resolved this issue by
replacing the the bishtgautam/fixes-for-e3sm-cmake branch of sbetr.

yours
Chonggang

On Wed, Aug 14, 2019 at 1:02 PM Ryan Knox <notifications@github.com> wrote:

[2019-08-14 20:29] jgfouca commented on #3124
Looking at it now.

[2019-08-14 20:57] sarats commented on #2199
@rljacob Just a reminder, this functionality is probably needed for efficient CI testing on Summit.

[2019-08-14 21:44] ndkeen opened #3127 "Problems with GNU-built E3SM executables on Cori after SW upgrade"
I had found that any test using GNU would build OK, but fail at runtime immediately with errors that look like:

[code]

Assuming this was related to something on the system, I reported to NERSC and waited a while.  It was suggested I try to unload the hugepages modules. This is a module that is now default loaded for all Cori users. It can sometimes improve performance of apps, but we did not see

[2019-08-14 21:53] whannah1 commented on #3127
I'm about to issue a PR that will fix an error when trying to build with GNU in debug mode. So this might address some of these failures.

[2019-08-14 22:10] jgfouca commented on #3124
@dqwu , does this only happen for resubmissions? I was unable to reproduce the error for a simple case.

[2019-08-14 23:05] dqwu commented on #3124
@jgfouca
Below are detailed steps to reproduce it with a simple F case.
Use GNU compiler as there are some known build errors with default XL compiler.
[code]
preview_run shows:
[code]
case.submit shows:
[code]
@sarats , could you please try to reproduce it on Summit? Thanks.

[2019-08-14 23:13] sarats commented on #3124
Yes, I tried preview_run and it shows the extraneous stuff before bsub invocation.

[2019-08-14 23:16] sarats commented on #3105
@dqwu Please try  https://github.com/E3SM-Project/E3SM/tree/jackreeveseyre/cime/sfc_flux_bug_fix and see if it resolves your issues.

[2019-08-14 23:32] dqwu commented on #3105
@sarats
That branch looks good to me, no more XL compiler build errors.

I rebased it to a commit before PR 3092 was merged (but picked the fix for MPI module in PR 3115), as a workaround for the confirmed job script submission error. The following two low-res cases passed:
--compset FC5AV1C-H01B --res ne4_ne4
--compset CMPASO-NYF --res T62_oQU120

[2019-08-15 05:33] ndkeen commented on #3127
OK, would that be errors that look like:

[code]
I count 7 tests that fail at build time with that.

And then quite a few runtime fails. IN fact, these are the only tests that pass with GNU right now:

[code]

[2019-08-15 14:13] whannah1 commented on #3127
Yes, PR #3128 will fix that build error.

[2019-08-15 17:09] jgfouca commented on #3124
@dqwu , ok, i see the problem now

[2019-08-15 17:17] worleyph opened #3130 "CICE gather_scatter routines can use message tags that are too large"
The routines in ice_gather_scatter.F90 use message tags that
are offsets of the global block id. For high resolution runs
using SE meshes, e.g. ne1024, the number of blocks can be very
large, exceeding the maximum MPI message tag on some of our
targer systems, e.g Cori-KNL.

[2019-08-15 17:17] worleyph commented on #3130
Note I have a fix for this problem, and am in the process of submitting a PR.

[2019-08-15 18:00] #3124 closed

[2019-08-15 19:32] dqwu commented on #3105
@JackReevesEyre
PR 3132 has fixed batch submission command for Summit.
I rebased jackreeveseyre/cime/sfc_flux_bug_fix branch
to latest master and it looks good to run ne4_ne4 F case.

[2019-08-15 19:50] xuezhengllnl opened #3134 "Run failed on compy"
I'm trying to run a piControl case on Compy with the latest master code (using run script version 3.0.18). The simulation failed at the initialization stage. Here are the error messages in e3sm.log.XXX:
3160: NC_FORMAT_NETCDF4 is not yet supported
4400: NC_FORMAT_NETCDF4 is not yet supported
   0:  pio_support::pio_die:: myrank=          -1 : ERROR: ionf_mod.F90:         235 :
   0:   Feature is n

[2019-08-15 20:35] singhbalwinder commented on #3134
As a temporary solution you can change `PIO_TYPENAME` in env_run.xml to `netcdf` for all the components. @rljacob is working on converting all input files to netcdf 3 format.

[2019-08-15 21:55] cameronsmith1 opened #3137 "Chemistry pre-processor cannot find libgfortran.so.5 at NERSC"
The chemistry pre-processor stopped working a few days ago (after the https://github.com/E3SM-Project/E3SM/pull/3045 fix was pushed to master and the NERSC system was updated).  The pre-processor would compile, but fail at run-time with the error:

```error while loading shared libraries: libgfortran.so.5: cannot open shared object file: No such file or directory```.

After working with @helenhe40

[2019-08-15 21:58] cameronsmith1 commented on #3137
This issue has already been solved, so I am closing this issue.  I only added it to document the issue and solution in case anyone else encounters the error.

[2019-08-15 21:58] #3137 closed

[2019-08-15 22:29] xuezhengllnl commented on #3134
Thank you for your solution. It worked! However, I still cannot reproduce the DECKv1b piControl run with master code, because the land initial file has changed. The error message in e3sm.log.XX:
   0:  pio_support::pio_die:: myrank=          -1 : ERROR: nf_mod.F90:        1288 :
   0:  NetCDF: Invalid dimension ID or name
   0: e3sm.exe           00000000034682FA  Unknown               Unknown  Un

[2019-08-15 22:54] singhbalwinder commented on #3134
Tagging @bishtgautam as he might know if there exists a new file to go with the recent version of master.

[2019-08-15 23:48] rljacob commented on #3134
What is your create_newcase command?

[2019-08-15 23:56] xuezhengllnl commented on #3134
/qfs/people/zhen797/E3SM_code//20190815_master/cime/scripts/create_newcase --case 20190815.DECKv1b_piControl_test.ne30_oECv3_ICG.compy --compset A_WCYCL1850S_CMIP6 --script-root /compyfs/zhen797/E3SM_simulations//20190815.DECKv1b_piControl_test.ne30_oECv3_ICG.compy/case_scripts --res ne30_oECv3_ICG --pecount XL --handle-preexisting-dirs u --mach compy --output-root /compyfs/zhen797/E3SM_simulation

[2019-08-16 00:02] rljacob commented on #3134
Right the hybrid run restart files have the old land format.  They won't work on master without modification.

We should change that case so it is not by default a hybrid run on master.  That was useful for maint-1.0.

[2019-08-16 00:05] rljacob commented on #3134
@golaz *should* cases with A_WCYCL1850S_CMIP6 ne30_oECv3_ICG still start from those restart files are should we do initial cases until a new restart set is available?

[2019-08-16 00:11] rljacob commented on #3134
Well now I'm not sure.  The test SMS_Ld2.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.anvil_intel.allactive-v1cmip6 works with latest next so master should also be able to read that file.

[2019-08-16 03:35] ndkeen opened #3138 "slurmstepd: error: _is_a_lwp: open() on cori-knl"
Several of my jobs have failed on cori-knl with errors like so:

[code]

I can resubmit the job and it will run (or have same error, but then run the third time).

It's happening with lowres coupled cases as I try different PE layouts, but I'm not yet sure if it has anything to do with what I'm trying. It is true that many other (smaller node count) jobs in other repos have not hit this error.  I

[2019-08-16 04:21] rljacob commented on #3134
Ok I see.  The hybrid setting was already removed from master so that test and your initial case run on master will work.  But if you try to use those old restart files, it won't work.

[2019-08-16 17:26] xuezhengllnl commented on #3134
Thank you for your explanation. I tried an initial run with the latest master but it still failed with different error messages: (I used the same run script, set model_start_type = initial; NO old restart files from 20180129.DECKv1b_piControl.ne30_oEC.edison)
srun: error: n0156: task 3025: Segmentation fault (core dumped)
srun: Terminating job step 5516.0
   0: slurmstepd: error: *** STEP 5516.0 O

[2019-08-16 17:44] bbye commented on #3134
I think that node (n0156) is bad on compy. I had a failure yesterday with it for no known reason; resubmit was fine. @jonbob also had some trouble on that node (see slack compy-users).

[2019-08-16 17:52] amametjanov commented on #3124
@jgfouca there is a similar issue on Theta with the latest master: env-vars are not getting resolved in `preview_run` output:
[code]

[2019-08-16 18:00] xuezhengllnl commented on #3134
Thanks! Let me try again.

[2019-08-16 18:16] jgfouca commented on #3124
@amametjanov , ok, looking at it

[2019-08-16 18:51] jgfouca commented on #3124
@amametjanov , fixed.

[2019-08-16 18:56] amametjanov commented on #3124
Worked, thanks.

[2019-08-16 19:38] singhbalwinder commented on #3134
Has it been reported to rc-support?

[2019-08-16 19:41] singhbalwinder commented on #3134
I just noticed that 156th node is down, so a resubmit should work.

[2019-08-16 19:43] bbye commented on #3134
I have not reported it. The first time I saw anything was on August 2nd on Slack. Yesterday was the first time I got that node and it crashed. I also had one job crash earlier today on that node. If it's down now, perhaps someone has taken notice?

[2019-08-18 18:58] ndkeen commented on #3138
Noting that over the last several days, I'm still running into this issue. It happens about 5-10% of the time with the lowres coupled cases I'm trying and (I think) 0% of the time with other jobs (other repos and smaller node counts).  I'm certainly not yet convinced it's an issue triggered by the cases I'm running. No new information from NERSC -- I was hoping they could verify if it is for sure

[2019-08-18 19:00] ndkeen commented on #2198
This might still be an issue -- in the sense that I could find a way to repeat it on cori, but since I only have example of it on edison (which is retired), I will close the issue.

[2019-08-18 19:00] #2198 closed

[2019-08-19 18:28] ndkeen commented on #3138
I also hit this same error (3 different times) with a recent master running F case with 43 nodes and 81 nodes. This makes me think it might not matter which repo/case, but may have higher chance of happening with more nodes.

[2019-08-19 22:05] rljacob commented on #3134
Closing.   Main problem was using incompatible restart files.

[2019-08-19 22:42] #3127 closed

[2019-08-19 22:43] ndkeen commented on #3127
Closing as https://github.com/E3SM-Project/E3SM/pull/3129 should allow for GNU-built exe's to at least run.

[2019-08-19 23:05] amametjanov commented on #3086
Additional data points for other mpi libs: modules
[code]
and run-times
[code]

[2019-08-19 23:10] rljacob commented on #3086
What's the impi numbers in the above format?

[2019-08-19 23:13] ndkeen commented on #3099
I'm also seeing a problem where an xmlchange on the job wallclock time was not accepted due to

[code]

Not sure this is related to above, but is anyone else seeing issues submitting jobs on theta?

[2019-08-19 23:18] amametjanov commented on #3086
It was around 13 seconds/mday:
[code]

[2019-08-19 23:22] rljacob commented on #3086
So mvapich is no longer 2.3x slower.  Its only 30% slower.  openmpi is comparable with impi.  mpich is so slow there must be a config mistake.  Like its using ethernet instead of the Omnipath switch.

[2019-08-19 23:26] amametjanov commented on #3086
Yes, sent email to rc-support for a recommended `srun` lines for mpich and mvapich.

[2019-08-19 23:31] amametjanov commented on #3099
@jgfouca is there a recommended way to set max wall-clock times according to job node-counts? The queueing policy from https://www.alcf.anl.gov/user-guides/job-scheduling-policy-xc40-systems
[code]

[2019-08-19 23:44] ndkeen opened #3142 "Floating invalid in CLUBB with ne16/ne30/ne120 F case in DEBUG mode with 1 thread on Cori"
With master of August 14th, I get an error with F-case in DEBUG. Using default compiler and same error with intel19. It seems to happen in ATM init.

[code]

[code]

[2019-08-19 23:49] sarats commented on #3086
Thanks for doing this benchmarking @amametjanov. Clarifies the MPI implementation(s) performance.

[2019-08-19 23:49] ndkeen commented on #3142
OK, this looks like the very same issue I was tracking in https://github.com/E3SM-Project/E3SM/issues/3061

[2019-08-20 00:42] drc-pnnl commented on #3086
mpich is a TCP/IP based MPI. It knows nothing of the Omnipath hardware. That being said we are running TCP/IP on the OmniPath cards as well and I can create a script that will produce the correct "hosts" file for mpich.

[2019-08-20 01:15] ndkeen commented on #2131
Testing again with master of Aug 14th 2019, I still see the error with
[code]

[2019-08-20 02:13] ndkeen commented on #3142
F-cases using ne4 and ne11 do not fail in the same way.

[2019-08-20 06:29] ndkeen commented on #3142
Interesting that the threaded DEBUG case does not stop there. I added an init to zero as a test here:

[code]

And the problem goes away.  If this is the proper place to init, I see other arrays that may need to be set here as well.

[2019-08-20 14:14] drc-pnnl commented on #3086
mvapich 2.3.2 is now available for all the compilers. I suggest you give that a try.

[2019-08-20 15:53] golaz commented on #3134
Reopening this. There are cases when we need to use restart files from E3SMv1 DECK simulations as initial conditions for new simulations (with master). For example, @kaizhangpnl needs to run an F AMIP simulation starting from restart files in 1980. What is the procedure to modify the land files to make them "compatible"?

[2019-08-20 16:48] jgfouca commented on #3099
@amametjanov , this would have to be described in the config_batch.xml entry for theta. A combination of walltimemin, walltimemax, nodemin, and nodemax should work.

[2019-08-20 16:49] ndkeen commented on #3061
In github issue #3142, I'm now seeing that I get the same error with our "normal" F compset cases -- but only if I force 1 thread (pure MPI).

[2019-08-20 21:19] amametjanov commented on #3086
Tried the newer `mvapich2/2.3.2` module and the issue is still there.

I also wondered what changed to make mvapich2 only 30% slower: number of tasks allocated to CPL by default was reduced from 320 to 120 while total number of nodes and tasks is still at 24 and 960. A re-run with pelayout in the initial comment shows that mvapich and openmpi have a large run-time variance due to this and intel-mp

[2019-08-20 21:50] amametjanov commented on #3099
To avoid a reset of requested walltime, both master and maint-1.0 require
[code]
If only one or none of these are set prior to `case.setup`, cime can pick unexpected defaults.

[2019-08-20 21:54] jgfouca commented on #3099
@amametjanov , that shouldn't be necessary:

[code]

[2019-08-20 22:04] amametjanov commented on #3099
@jgfouca please give it a try on theta with maint-1.0. Noel had three different jobs launched with run_e3sm time-out because `xmlchange JOB_WALLCLOCK_TIME=08:00:00` had no effect.

[2019-08-20 22:20] jgfouca commented on #3099
@ndkeen , @amametjanov:
[code]

[2019-08-20 22:43] amametjanov commented on #3099
A reproducer:
[code]

[2019-08-20 23:21] ndkeen commented on #3142
Discussing this with @singhbalwinder on slack.

[2019-08-21 03:25] drc-pnnl commented on #3086
I'll gather some micro benchmarks to see where the real difference lie,  but to reiterate what I said before, it comes as no surprise that IntelMPI is far better than mvapich or openmpi. They own the hardware, know where to tune, etc.

[2019-08-21 16:20] #3110 closed

[2019-08-21 17:38] jgfouca commented on #3099
@amametjanov , thanks. Looking at it now.

[2019-08-22 14:33] #2953 closed

[2019-08-22 17:31] jgfouca commented on #3099
@jhkennedy , do you have any spare cycles to look at this?

[2019-08-22 19:15] jhkennedy commented on #3099
@jgfouca I can look at it on Monday.

[2019-08-23 00:47] amametjanov opened #3150 "Reduce debugging output from MOSART"
At https://github.com/E3SM-Project/E3SM/blob/master/components/mosart/src/riverroute/RtmMod.F90#L2267:

And at https://github.com/E3SM-Project/E3SM/blob/master/components/mosart/src/riverroute/RtmTimeManager.F90#L734:

[2019-08-23 16:59] ndkeen opened #3151 "floating invalid with lowres coupled cases on cori-knl "physpkg_mp_tphysb 2497 physpkg.F90""
I've been having some recent troubles on cori-knl and I'm trying to figure out why. Most of the issues occur when I try 5-day speed tests with lowres coupled cases of maint-1.0.

Back between May21st and June19th, I ran about 100 different cases using a master of May 21st. Looking back there were about 4 fails, 2 of them hitting Nan's where a resubmit worked. However, these new errors occur more f

[2019-08-23 17:13] ndkeen commented on #3138
I had already suspected these errors could be related to the cray hugepages module, but I'm still not sure.  Here is last reply from NERSC:

```Some investigation into system logs suggests that the `__is_a_lwp` error is in fact a red herring - apparently that function is an internal Slurm function used purely for its own accounting, and should *not* cause any program to crash, even if the `__is_a_

[2019-08-23 19:14] ndkeen commented on #3142
@vlarson suggested we "set qrl to zero after it is added to pbuf".  If that's not what I did above, then I may need help doing this. If it is, I can make a PR.

[2019-08-23 21:10] changliao1025 commented on #2904
It appears that this file has multiple copies so we need to fix all of them.

[2019-08-23 21:50] crjones-amath opened #3152 "Test runs fine with invalid compset -- is this desired?"
I recently ran a test on cori where I had a typo in the compset name. The test built and ran just fine, just with no active components except the coupler. Is this behavior expected / desired, or if running a test with an invalid compset should the test fail?

How to reproduce:
./create_test SMS_Ld1_P16x1.ne4_ne4.GARBAGE

[2019-08-23 22:15] rljacob commented on #3152
related issue:
https://github.com/ESMCI/cime/issues/3182

@jgfouca didn't we pick up this fix already?

[2019-08-24 16:26] bishtgautam commented on #3134
@golaz, @kaizhangpnl, I can create the new land restart file. Can you tell me the full `./create_newcase` command that you are using? Also, what is the commit/branch for which the F AMIP compset works and for which one it fails?

[2019-08-24 16:28] bishtgautam commented on #3134
Btw, is the compset in question `F1850SC5-CMIP6` as pointed out by @rljacob in [this comment](https://github.com/E3SM-Project/E3SM/pull/3118#issuecomment-524499016)?

[2019-08-24 21:14] #3125 closed

[2019-08-26 03:19] kaizhangpnl commented on #3134
@bishtgautam I was trying to perform a branch run using restart files from the DECKv1 simulations. The run failed, but it seems due to a problem in the atm model initiation. Nevertheless, we think the old land restart file from the DECKv1 AMIP simulation might not work in the branch run, since the input data dimension is different from that in the current model.

see this page for details: https:/

[2019-08-27 14:27] #3130 closed

[2019-08-28 16:14] kaizhangpnl opened #3160 "Bug in modal_aer_opt.F90"
In the MAM verification work, we (@jiansunpnnl @kaizhangpnl) find that in modal_aer_opt.F90 (https://github.com/E3SM-Project/E3SM/blob/master/components/cam/src/physics/cam/modal_aer_opt.F90), the marine organic aerosol (MOA) burden fields are initialized twice, but the MOA AOD properties are not initialized. This looks like a bug and needs to be fixed.

#if ( defined MODAL_AERO_4MODE_MOM )
   bur

[2019-08-28 16:51] #2963 closed

[2019-08-29 17:21] dqwu opened #3166 "case.submit error on anlworkstation"
This issue seems to be caused by PR #3155.
Not sure if other machines with a non-batch system are also affected.

It can be reproduced by running a simple F case (--compset FC5AV1C-H01B --res ne4_ne4)
on anlworkstation.

Before that PR is merged, the output information is:
[code]
After that PR is merged, the output information is:
[code]
CaseStatus file also shows:
[code]

[2019-08-31 05:36] dqwu opened #3169 "GCC 8 fails to build 2 e3sm_developer tests on anlworkstation"
This build issue is caused by PR #2989 on seaice update.

SMS.T62_oQU120_ais20.MPAS_LISIO_TEST has build errors like below:
[code]
https://github.com/MPAS-Dev/MPAS-Model/issues/342 has already reported similar build errors (Intel v19 in debug mode on PNNL Compy cluster), which will be fixed by https://github.com/MPAS-Dev/MPAS-Model/pull/343

SMS_P12x2.ne4_oQU240.A_WCYCL1850.anlworkstation_gnu.alla

[2019-08-31 14:19] amametjanov commented on #3169
Yes, gnu apparently does not support `omp declare simd` and the build issue can be avoided by MPAS-Dev/MPAS-Model#348.

[2019-09-01 07:11] kaizhangpnl commented on #3134
@bishtgautam Thank you for the help and sorry for the delay. I missed the automatic email notification and didn't notice the last comment until yesterday. The new restart file works well for an initial run (now I use the ne30_oECv3 grid for my simulations).

Would it be possible to modify the land restart files generated from a previous model version (maint-1.0 in our case), so that we (@kaizhangp

[2019-09-01 07:23] kaizhangpnl commented on #3134
The missing values (in the old restart file) are:

	double FSD24H_VALUE(topounit) ;
	double FSD240H_VALUE(topounit) ;
	double FSI24H_VALUE(topounit) ;
	double FSI240H_VALUE(topounit) ;
	double nlim_m_VALUE(pft) ;
	double plim_m_VALUE(pft) ;
	double eflx_dynbal_amt_to_dribble(gridcell) ;
	double qflx_liq_dynbal_amt_to_dribble(gridcell) ;
	double qflx_ice_dynbal_amt_to_dribble(gridcell) ;
	int FSD24

[2019-09-01 22:07] bishtgautam commented on #3134
@kaizhangpnl, I can certainly generate new land initial conditions. Tell me the full `./create_case` that you are using for various cases with maint-1.0 and I will generate the new files

The new variables in the land restart file that you listed in [comment](https://github.com/E3SM-Project/E3SM/issues/3134#issuecomment-526894263) will not impact the satellite-phenology (SP) mode of the land model

[2019-09-01 23:24] lxu16 commented on #3061
Did you try to define cosp_lite=.true. in the namelist and use "-cosp" in the runscript? I used this strategy to solve the error.

Sent from Yahoo Mail for iPhone

On Wednesday, August 28, 2019, 12:20, susburrows <notifications@github.com> wrote:

Hi @lxu16 and @ndkeen -- just wanted to let you know that I got an identical error message today while building/running an F compset in ne30 from the cu

[2019-09-02 17:11] oksanaguba opened #3170 "Hommexx not building with correct AVX version on knl"
Supplying xmic-avx512 to flags does not help. AVX version stays 2, vector size stays 4. Way around is to config with
[code]
However, cmake should be fixed instead.

[2019-09-03 15:11] kaizhangpnl commented on #3134
@bishtgautam The create_newcase command is

   ./create_newcase --case $CASEROOT --project e3sm --mach compy \
                    --res ne30_oECv3 --compset F20TRC5-CMIP6

Maybe I didn't explain our need clearly. We wanted to use restart files generated from a previous AMIP run (using maint-1.0 version) to perform a branch run using current master. The land restart file is:

/compyfs/zhan524/rest

[2019-09-03 15:57] bishtgautam commented on #3134
@kaizhangpnl, I will generate the new restart file today by remapping the following file:
[code]

I don't believe it would be possible to bypass the reading of those variables. Even if those variables are read they won't impact the simulation. The `*24H*` and `*240H*` are 24 and 240-hr aveg of variables and these variables are not used in SP-mode. Similarly, `*dynbal*` are used in ELM when dynamic

[2019-09-03 16:00] golaz commented on #3134
@bishtgautam: thanks for doing this. Can you document the steps needed?

@xuezhengllnl has also used the `finidat_interp_source` namelist option to read older files, but we are not sure exactly what it does.

[2019-09-03 16:08] bishtgautam commented on #3134
Sure I will document the steps.

[2019-09-03 16:09] bishtgautam commented on #3134
I don't have experience with `finidat_interp_source`, but I can look into it later this week.

[2019-09-03 18:13] ndkeen commented on #3061
@lxu16: I don't think setting cosp_lite to true is a solution to this problem. It may have allowed you to continue to run, but it could be dangerous. Also, I think you are using a PE layout meant for coupled case, while you appear to actually only be doing ATM-only.

[2019-09-03 19:20] bishtgautam commented on #3134
@golaz, I have documented steps on https://gist.github.com/bishtgautam/bbc765571fbd9ce0b2a77356e01384a1. If you prefer I save this steps on a confluence page, let me under which space should I create such a page and will copy/paste the steps.

[2019-09-03 22:32] kaizhangpnl commented on #3134
@bishtgautam Thanks for your help. The new land restart file works well. However, the model still crashed because of problems in the restart of ice model:

2449:  ERROR: aborting in ice-pio_ropen with invalid file
1548: Image              PC                Routine            Line        Source
1548: e3sm.exe           0000000002975ADA  Unknown               Unknown  Unknown
1548: e3sm.exe

[2019-09-03 23:13] bishtgautam commented on #3134
When using finidat, I don't believe `timemgr_rst_start_ymd` is read. For example your 1980 initial condition file has `timemgr_rst_start_ymd = 18700101`

[code]
Things might be different for a branch run. Are you running a branch run? If yes, does your older simulation using `20180316.DECKv1b_A1.ne30_oEC.edison.clm2.r.1980-01-01-00000.nc` produce ELM output that were *1980-01.nc? Do you need to do

[2019-09-03 23:51] kaizhangpnl commented on #3134
Yes, it is a branch run (An initial run should run well). I wasn't able to do a simulation using 20180316.DECKv1b_A1.ne30_oEC.edison.clm2.r.1980-01-01-00000.nc with the current master, so I can't say yes or no. For branch runs, we don't need to change the run start date. They are similar to restart runs and will read the restart date from the restart file.

The original land restart file (/compyfs

[2019-09-04 00:26] kaizhangpnl commented on #3134
I temporarily modified these values in the new restart file using NCL. Now the model runs 7 days without problem.

[2019-09-04 15:50] bishtgautam commented on #3134
@kaizhangpnl, Let me try to create a new initial condition today that has `timemgr_rst_curr_ymd = 19800101`.

[2019-09-04 16:44] kaizhangpnl commented on #3134
@bishtgautam Thanks! It's great to include the fix in your workflow (shown in the gist), so we can follow the procedure next time.

[2019-09-04 17:22] mark-petersen opened #3172 "Ocean isopycnal mixing (GM-Redi) does not work"
Ocean isopycnal mixing is critical for simulations, for temperature, salinity and BGC variables. Currently, we set the ocean flag
  `config_Redi_kappa = 0.0`
but it should have a value between 200 and 2000 m^2/s. When set to a typical value of 500, the temperature and salinity go out of bounds within the first timesteps, for example:
` salinityMax = 40.8, 41.0, 67.3, 2309.4,`
The Redi mixing has n

[2019-09-04 18:22] bishtgautam commented on #3134
@kaizhangpnl, Please test out the following file on Compy:
[code]
If this file works, I will remove the older file from Compy inputdata dir and the E3SM public inputdata server.

Additionally, I have [modified](https://gist.github.com/bishtgautam/bbc765571fbd9ce0b2a77356e01384a1#file-gistfile1-txt-L29) my gist notes.

[2019-09-04 18:53] rgknox opened #3173 "optimization and parameter constant debug flags"
This is a performance question to all.

In FATES, we often will set a parameter constant debug flag at the top of each module. Something like:

I was curious if anyone knew if the compilers are smart enough to **auto remove code** encapsulated within if clauses that use these parameter constants?  For instance:

[code]
be compiled as:

[code]

I was kind-of assuming they were, but I have not found

[2019-09-04 19:15] philipwjones commented on #3173
Sometimes compilers are smart enough at dead code elimination, but I don't know that I would rely on that. I suspect a pre-processor directive (#ifdef DEBUG) is the safer bet.

[2019-09-04 19:25] rgknox commented on #3173
Thanks at @philipwjones.  Currently we have to avoid pre-processor directives in our code to stay compatible with CESM (unless they changed that requirement), but that does sound like a safe way to do it.

[2019-09-04 19:32] ndkeen commented on #3173
I would prefer preprocessor directives myself (and recommend), however, I would think the compiler should be able to eliminate that code as the variable has the `parameter` keyword. You could easily construct a simple test to verify by inserting the test within a very busy loop.

[2019-09-05 18:12] brhillman commented on #2923
Re-opening this, because a `create_test e3sm_developer` with default args just got me a nasty email from NERSC staff for too many concurrent processes. I'm a little confused because even if I pass `-j 1` to `create_test`, I get at least 8 `fortcom` processes going. This is on cori-knl. Is there a different flag I need to pass to limit the parallel builds? I do not see anything in `./create_test --

[2019-09-05 18:25] brhillman commented on #2923
Closing for now, my branch was out of date...

[2019-09-05 18:26] jgfouca commented on #2923
@brhillman , create_test supports multiple layers of parallelism. The first is how many cases will be processed simultaneously, this can be controlled via the -j argument that you are using. The second is the size of the processor core pool that create test uses, some phases use many cores and create_test will not pull in additional work if all the cores are being used, even if it's processing few

[2019-09-05 18:27] brhillman commented on #2923
Okay, is there a better use for this on NERSC then, so that I can still build developer tests for my PRs and not keep getting reported?

[2019-09-05 18:35] jgfouca commented on #2923
@brhillman , with the current system, the only thing I can think of is to decrease GMAKE_J for cori in config_machines.xml. Once the CMake system is in place, the build system should not ever exceed GMAKE_J concurrent compilations for an invocation of case.build. If -j1 is passed, there should never be more than once case.build active.

Another thing to consider is just doing your builds on a comp

[2019-09-05 21:13] kaizhangpnl commented on #3134
@bishtgautam Thanks! I've submitted a job to test it.

[2019-09-06 18:02] #3098 closed

[2019-09-06 20:10] rgknox commented on #3173
I tried @ndkeen 's test, with the gfortran compiler.  It uses the system_clock to measure wall-time (which I'm sure has errors, but hopefully that is circumvented by having a suitably long loop).  It compares two loops, each of which do some simple math, and only one of which calls the parameter constant in an if clause.

The following is a little program called "TestIfConstants.f90":

[code]

I r

[2019-09-06 20:25] ambrad commented on #3173
With ifort, you can run `ifort -fsource-asm -S foo.F90` to get foo.s with inline source annotation of assembly. Then you can directly verify the dead code was compiled out.

[2019-09-06 20:28] billsacks commented on #3173
@rgknox This is good to know - thanks.

In case it's helpful, we do allow limited use of ifdefs in CTSM, specifically for the debug / non-debug case. `git grep NDEBUG` in latest CTSM master to see a few. This works if you want your debug logic to be tied to whether you're compiling in debug mode... it seems like that may not be the intent here.

FYI if you do this: I prefer `#ifndef NDEBUG` over `

[2019-09-06 20:30] ekluzek commented on #3173
My feeling is that if you have a parameter in the file -- the compiler optimizer better do the removal -- because it's just so dead simple. If the compiler is crappy enough that it won't do the removal -- is it a compiler you'd even want to use? Now, if DEBUG is on and optimization is lowered -- maybe it won't, but I think that's OK, you already know it's slower because DEBUG is on. I know you can

[2019-09-09 20:16] dqwu opened #3176 "Mosart provides invalid starts/counts to scorpio"
When testing scorpio (PIO2) with latest E3SM on anlworkstation, 19 e3sm_developer tests failed:
https://my.cdash.org/viewTest.php?onlyfailed&buildid=1697655

Most of these tests did pass with scorpio_classic (PIO1) using latest E3SM, or with scorpio using a much older revision of E3SM.

One of the failed tests (ERS.ne11_oQU240.I20TRCLM45) shows the following error message:
[code]

The affected lin

[2019-09-10 16:57] lxu16 commented on #3061
@ndkeen I agree. This is the work around to the error. Please keep me posted if you find the better way to resolve this issue. Thanks!

[2019-09-10 17:42] jayeshkrishna commented on #3166
A temporary fix for this issue would be to specify that the machine does not have a batch system in the command line,

[2019-09-10 17:59] jayeshkrishna commented on #3166
@jgfouca might know better about this issue, but it seems to me that CIME is only reading the configuration information in the case of a resubmit,

[2019-09-13 20:02] amametjanov commented on #2979
Hi Pat, please try out PR #3182. In my tests, 72x1, 36x2, 24x3, 12x6, 8x9, 4x18 all worked fine for 1 initial and 10 sequential restart runs that are 5 days each, total of 55 days. The updated MKL link line should eliminate the errors that you observed for "normal" thread counts.

[2019-09-13 20:11] worleyph commented on #2979
Hi Az, I'm off the project until mid to late October. Probably coming back then, but we'll see if I am missed :-). In any case, I won't be looking at this until then. Also, are the "non-normal" thread choices, eg.g x4, still broken? If so, still seems like a bug to me.

[2019-09-13 20:36] amametjanov commented on #2979
Yes, when some threads of a process are on one socket and remaining threads on another, NaNs appear in various places without a pattern. Intel v18 didn't help either. I think the two 45MB L3 caches on two sockets are not getting sync'ed.

We can keep the issue open. That update will just prevent a case from being set up with such thread counts for now.

[2019-09-15 04:49] dqwu opened #3183 "cam.buildlib failed on Summit with default IBM XL compiler"
On Summit, after merging pending PR #3153 locally to fix build issue #3105, there is a new build error from cam (reproducible with F case):
`ERROR: BUILD FAIL: cam.buildlib failed`

The error message in atm.bldlog shows:
[code]
Line 63 of mpif-config.h is:
`parameter (MPI_MAX_PROCESSOR_NAME=256-1)`

With above information we can find out that the failure is caused by PR #3094.
More specifically, b

[2019-09-15 04:54] dqwu commented on #3183
@sarats Could you please try to reproduce this build error on Summit with default XL compiler? You can use a low-res F case (--compset FC5AV1C-H01B --res ne4_ne4). Just test with latest E3SM master branch, and merge jackreeveseyre/cime/sfc_flux_bug_fix to fix a known build issue in shr_flux_mod.F90.

[2019-09-15 22:38] worleyph commented on #2979
Your diagnosis makes sense, except that the earlier fix (using -mkl and linking in the really old MKL)  eliminated all of the NaNs. Still seems like it is something related to the MKL library.

[2019-09-15 22:58] worleyph commented on #2979
Sorry - that was not as clear as I had hoped. Adding +mkl and linking in the old version of MKL eliminated the NaNs (and similar failures) even for cases with threads that cross sockets, e.g., 4 OpenMP threads per process .

[2019-09-16 15:49] bartgol commented on #3183
@dqwu This is interesting. The PR/commit you refer to simply split a function (initmp) into two functions, to allow to easily injecting homme into an app with an already existing arbitrary comm.

The inclusion of `mpif.h` was there before the branch got merged. As was the declaration of `my_name` and `the_names`. The only difference is that before those variables were only declared if `_MPI` was d

[2019-09-16 15:52] bartgol commented on #3183
Also, homme has always relied on `_MPI` being defined/undefined to switch between serial and mpi. And we have run homme before on summit, so I'm puzzled on why this seems to be an issue now but not before...

[2019-09-16 16:16] dqwu commented on #3183
@bartgol
Note that this issue is only reproducible with IBM XL compiler (no failed tests observed on E3SM CDash where the existing builds use GNU or Intel compilers).
Do you have access to Summit? If not, I can test your fix on Summit later.

[2019-09-16 16:31] dqwu commented on #3183
MPI_MAX_PROCESSOR_NAME was used after the inclusion of mpif.h:
[code]
When it is used before the inclusion of mpif.h (as in latest code), GNU compiler is OK with it but XL compiler complains "Name given for constant with PARAMETER attribute was defined elsewhere with conflicting attributes" when mpif.h is included.

[2019-09-16 16:36] bartgol commented on #3183
@dqwu, I have a branch ready, I can issue a PR right away. Just one question: I have a fix that also allows to use Clang to test homme (with c++, it helps detecting some non-standart compliant bugs). It's a quick fix that fixes how the openmp flags were set when C and F compiler differ. Is it ok if I piggy back that fix onto this one or would you like to keep the PR contained to this issue?

[2019-09-16 16:46] dqwu commented on #3183
@bartgol I prefer to have a PR that just fixes this issue. You can issue another PR that allows to use Clang to test homme.

[2019-09-19 21:27] lpassarella opened #3187 "Issue with build.setup on Cori"
I'm having an issue setting up the E3SM on Cori using the current master branch. I get the following error:

`Calling /global/project/projectdirs/acme/lpass/E3SM/components/clm/cime_config/buildnml
ERROR: Command: '/global/project/projectdirs/acme/lpass/E3SM/components/clm/bld/configure    -comp_intf mct -phys clm4_5 -phys clm4_5 -cppdefs -DMODAL_AER -usr_src /global/project/projectdirs/acme/lpass

[2019-09-19 21:29] lpassarella commented on #3187
I am unsure how to solve this. I tried just manually adding the directory but there were multiple missing directories

[2019-09-19 21:37] jonbob commented on #3187
@lpassarella - can you tell me the command you used to create that case? And what you've done after creating it?

[2019-09-19 21:41] lpassarella commented on #3187
sure,

I run this command

and then

[2019-09-19 21:43] jonbob commented on #3187
That's close, but it will need the machine and compiler specified as well. Something more like:
[code]

[2019-09-19 21:48] whannah1 commented on #3187
Did you sync/update your submodules?
    git submodule sync ; git submodule update --init
That usually fixes this type of problem for me.

[2019-09-19 22:02] lpassarella commented on #3187
I tried both of those things and still got the same error. When I tried to update the submodules, it updated most and then I got an error

Please make sure you have the correct access rights
and the repository exists.
fatal: clone of 'git@github.com:E3SM-Project/scorpio.git' into submodule path '/global/project/projectdirs/acme/lpass/E3SM/externals/scorpio_classic' failed
Failed to clone 'external

[2019-09-19 22:08] jonbob commented on #3187
You may have to try again

[2019-09-19 22:08] whannah1 commented on #3187
You should be ok anyway, since you probably aren't using those submodules.

[2019-09-19 22:20] brhillman commented on #3187
@whannah1 I think all builds use scorpio now (new name for PIO)

[2019-09-19 23:09] lpassarella commented on #3187
I figured out the issue. It would not find the public key to download the submodule repos from my server, so I just changed them all in the .gitmodule file to the public url.

After syncing and updating again I was able to successfully run the model.

Thanks everyone for your help!

[2019-09-19 23:09] #3187 closed

[2019-09-20 16:55] jgfouca commented on #2931
Fixed on maint.

[2019-09-20 16:55] #2931 closed

[2019-09-20 17:01] jgfouca commented on #2993
@dqwu , sorry for the slow response. I'm not responsible for summit configuration, so I'm going to reassign to someone else.

[2019-09-20 18:50] #3105 closed

[2019-09-20 18:58] #3122 closed

[2019-09-20 19:17] sarats commented on #2993
Just FYI, you may need to look at old Titan configuration etc. to see what extra libraries if any are needed for linker when changing this. Ideally, this testing would be better off with a configuration that uses C++ (sub-)components.

[2019-09-23 14:33] #3183 closed

[2019-09-23 15:04] jonbob opened #3190 "MPAS-O fails in debug mode on compy with intel19"
A SMS_D.T62_oQU240.CMPASO-NYF.compy_intel test fails on compy with the default intel compiler. The traceback points to an unassociated pointer:
[code]
The layerThickness array is passed but not used by the called routine so this should not affect results but needs to be fixed.

[2019-09-23 15:30] jonbob opened #3191 "CMPASO-IAF compset is broken"
The definition of the CMPASO-IAF compset needs to be updated to fit the new DICE options.

[2019-09-24 16:37] bishtgautam opened #3196 "ELM fails to build on Compy with PGI"
[code]

[2019-09-24 17:49] jonbob opened #3200 "MPAS-O problem causing SMS_P12x2.ne4_oQU240.A_WCYCL1850.sandiatoss3_intel.allactive-mach_mods failures"
PR #3057 introduced code that has caused threading tests, especially SMS_P12x2.ne4_oQU240.A_WCYCL1850.sandiatoss3_intel.allactive-mach_mods, to fail

[2019-09-24 17:57] jonbob commented on #3200
Testing a fix, which intel inspector says fixed this specific race condition. It passed a comparison of results from SMS_P12x2.T62_oQU240.CMPASO-NYF.compy_intel ten times, but I'll test next with SMS_P12x2.ne4_oQU240.A_WCYCL1850.compy_intel.allactive-mach_mods

[2019-09-24 19:20] jonbob commented on #3200
Also got the same result ten times for SMS_P12x2.ne4_oQU240.A_WCYCL1850.compy_intel.allactive-mach_mods

[2019-09-25 14:19] #3191 closed

[2019-09-25 16:43] jgfouca opened #3203 "Update kokkos submodule"
We want to update to the latest develop branch in order to pick up support for nvcc option fmad.

[2019-09-25 21:51] #3166 closed

[2019-09-26 19:11] #3203 closed

[2019-09-26 23:57] rljacob commented on #3150
@hydrotian please fix this issue.

[2019-09-27 14:43] dqwu opened #3211 "Some e3sm_developer tests failed during SETUP (missing valid mapping file)"
See https://my.cdash.org/viewTest.php?onlyfailed&buildid=1707407

For tests failed with 0s in Time column, they all have the following error:
`ERROR: Need to provide valid mapping file between atm and rof in xml variable atm2rof_fmapname`

Besides melvin, this is also reproducible on anlworkstation.

Is this caused by recent CIME update?

[2019-09-27 15:11] ndkeen opened #3212 "Error (integer overflow?) using Scorpio with ne512 problem"
Using master from Sept 14th, which has both Scorpio and ne512 compsets, I tried a case with Scorpio classic and Scorpio. The Scorpio classic case completed, while using Scorpio failed with error below. The large negative number printed out makes me think it is integer overflow, but that's just a guess.

[code]

[2019-09-27 17:16] jgfouca commented on #3211
@dqwu , I don't think so. I tested the CIME update on melvin before I issued the PR. I will investigate.

[2019-09-27 17:20] jgfouca commented on #3211
@bishtgautam , this PR

[code]

Appears to be the cause of this error.

[2019-09-27 19:46] bishtgautam commented on #3211
I have reverted PR #3133 from next as it cause multiple runtime failures. I will leave this issue open because it needs to be fixed before PR #3133 is re-merged to next.

[2019-09-27 19:54] jgfouca commented on #3211
Since this PR is not on master, and is going through routine integration debugging, we can close this issue.

[2019-09-27 19:54] #3211 closed

[2019-09-27 20:21] bishtgautam opened #3213 "ELM crashes on cori-knl with gcc/8.2.0"
Current master is crashes in the land model for gnu with following error:
[code]
The failure can be reproduced by

 `./create_test ERS.f09_g16.I1850CLM45CN.cori-knl_gnu --walltime 00:30:00 -q debug`

[2019-09-28 08:11] joxzaren opened #3215 "case.setup fails with "/opt/modules/default/bin/modulecmd: No such file or directory""
Running on a MacBook Pro. When invoking case.setup the following error message is displayed:

% ./case.setup
ERROR: module command /opt/modules/default/bin/modulecmd python rm craype craype-mic-knl craype-haswell PrgEnv-intel PrgEnv-cray PrgEnv-gnu intel cce gcc cray-parallel-netcdf cray-hdf5-parallel pmi cray-mpich2 cray-mpich cray-netcdf cray-hdf5 cray-netcdf-hdf5parallel cray-libsci papi cmake

[2019-09-29 22:13] herrwang0 opened #3216 "Wrong $REFDIR in mosart’s buildnml"
When startup type is “branch” or  “hybrid”, the code will look for files in $din_loc_root/$run_refdir/$run_refcase/$run_refdate, in other words, it only accepts run_refdir as a relative pathname. Moreover, if the files cannot be found in this buildnml’s refdir and get_refcase is True, it will kill the run.

Also, if I understand this correctly, when buildnml is called, rpointers and corresponding

[2019-09-30 14:34] jonbob commented on #3215
Hi @joxzaren - can you please tell me the command you used to create the case you're trying to set-up? Thanks

[2019-10-01 14:48] rljacob commented on #3150
@liho745 please fix this issue.

[2019-10-01 14:48] #3196 closed

[2019-10-01 14:49] #634 closed

[2019-10-01 17:34] rljacob commented on #3211
fI a test suite is failing on next, its probably related to an in-process PR and you should either wait for it to be fixed or find the responsible PR and make a comment on it.

Issues should only be opened for problems on the master or maint branches.

[2019-10-02 16:36] wkliao commented on #3212
@ndkeen
PnetCDF 1.9.0 fixed a [bug](https://lists.mcs.anl.gov/pipermail/parallel-netcdf/2017-December/001991.html) related to MPI_Type_create_hindexed.
I wonder whether you are using an earlier version of PnetCDF.

[2019-10-02 16:45] jayeshkrishna commented on #3212
@wkliao : This is not a PnetCDF issue, it was a bug in scorpio and is now fixed on master. I will be updating the E3SM master soon with the latest master.

[2019-10-02 16:52] PeterCaldwell commented on #3212
Ok, great. Thanks Jayesh! We eagerly await the ability to try SCORPIO for SCREAM again...

[2019-10-02 18:36] xuezhengllnl opened #3220 "STEND_CLUBB"
The model output variable STEND_CLUBB from clubb_intro.F90 is misleading now. It is the tendency of static energy from CLUBB and the unit of this variable should be something like kJ kg-1s-1. However, the long name defined for STEND_CLUBB is 'Temperature tendency' with the unit of 'k/s'. People might misuse it as the temperature tendency from CLUBB and be surprised by the huge value (1000 times la

[2019-10-02 19:24] rljacob commented on #3142
@vlarson can someone be assigned to work on this?

[2019-10-02 19:55] ndkeen opened #3221 "jobid not being captured by case.submit on theta"
For any case, the case.submit step is grabbing "0" or the jobid on theta.

[code]

[2019-10-02 23:49] golaz commented on #3220
@xuezhengllnl, thanks for reporting this. I agree that we should correct this inconsistency. I have a slight preference for **option 2** because other physics parameterizations already output temperature tendencies.

[2019-10-03 00:30] wlin7 commented on #3220
@xuezhengllnl , I didn't notice this. I will correct it. I also favors option 2. Thanks.

[2019-10-03 23:09] oksanaguba opened #3225 "This print statement needs to be removed."
https://github.com/E3SM-Project/E3SM/blob/bd6459708a57bb37a4a14cca43026190cdc7c433/components/homme/src/share/mesh_mod.F90#L827

[2019-10-08 15:30] ndkeen opened #3227 "module versions missing on theta with master and maint-1.0"
After theta downtime yesterday, I see several module versions we were using are missing. There is a "module load archive" command that will allow us access to those older commands.  Adding the following to `config_machines.xml` seems to be working (after `case.setup -c; case.setup`).

[code]

(deleting previous comments here as I no longer see that particular issue)

[2019-10-08 16:27] sarich commented on #3227
@ndkeen It looks like alcf systems has fixed something, can you try again?

[2019-10-08 16:27] rljacob commented on #3200
Add more info for the record:
SMS_P12x2.ne4_oQU240.A_WCYCL1850.sandiatoss3_intel.allactive-mach_mods would have a baseline diff on both next and master.   If we blessed the diff, it would keep diffing because of race conditions producing different answers from run to run.

SMS_Ld2.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.cori-knl_intel.allactive-v1cmip6 would also diff with baselines (on next) even after

[2019-10-08 16:47] ndkeen commented on #3227
I do seem to have moved past what I reported above -- though we still need to add "module load archive" somewhere in theta env.  It may have been the fact that I had the `archive` module loaded in my current env while making these attempts.  I was able to submit a job in existing case (will not know if there are any issues until it runs) as well as submit a new test case (again has not run).

[2019-10-08 18:49] naromero77 commented on #3227
@ndkeen Are you testing through the debug queue? Those large production jobs seem to take 1 - 2 days to get through the production queue.

[2019-10-08 19:02] ndkeen commented on #3227
I cant use the debug Q for the tests I'd like to run.

Also, it does look like the modules avail are different than they were when I ran into this issue.
It looks like now, it's only the version of cray-mpich that is not avail on the machine.
Was that intended?  We had been using 7.6.2

[code]

[2019-10-08 19:28] ndkeen commented on #3227
And also just let me be more clear. Currently, both master (as of today) and maint-1.0 is broken on theta.

This is what it would like for master of today:
[code]

[2019-10-08 20:05] sarich commented on #3227
I had master working for me earlier today (after adding the archive), now it seems to be broken again.

I'm not sure if this will fix it, but it looks like there's a problem with the perftools-base module (loaded in by the PrgEnv-intel module). I'll make an issue of it with alcf.

ssh theta
$ module purge
$ module load archive
$ module load perftools-base
perftools-base/6.4.5(142):ERROR:102: Tcl c

[2019-10-08 20:31] rljacob commented on #2614
Closing this because we moved the test to compy.  Its still failing.

[2019-10-08 20:32] #2614 closed

[2019-10-08 23:02] rljacob opened #3229 "ERP_Ln5.ne30_ne30.FC5AV1C-L.compy_intel is failing"
Error message at end of atm.log in "case2" phase of test is:

[code]

This test is part of the e3sm_extra_coverage suite run with master on compy.

This suite used to run on sandiatoss3 but we moved it to compy so problems could be debugged.  The same test was failing there (but passed at one point).  See #2614

[2019-10-09 04:41] ndkeen commented on #3227
Noting I am able to continue running using "module load archive", which seems to be OK so far.

[2019-10-09 20:13] singhbalwinder commented on #3229
Thanks for the info. I will look into it.

[2019-10-10 21:26] golaz commented on #3220
@wlin7, since nobody voiced any strong opinion, I would suggest to go ahead with implementing **option 2** suggested by @xuezhengllnl. Thanks for volunteering to do this.

[2019-10-10 21:58] singhbalwinder commented on #3229
Probably we already know this but I would like to record here that `ERP_Ln5.ne4_ne4.FC5AV1C-L.compy_intel` works. My ne30 run is waiting in queue.

[2019-10-12 14:53] dqwu commented on #3169
@amametjanov
With latest next branch (mpas-source submodule has been updated), these 2 tests passed.
Therefore, this issue is ready to be closed, thanks.

[2019-10-14 16:17] mrnorman opened #3232 "Add CUDA support in CMake"
I'm adding some cuda files in our ACME-ECP repo, which need to be found and compiled properly. This involves changing the following line in components/CMakeLists.txt from:

[code]

to

[code]

[2019-10-14 16:21] jgfouca commented on #3232
Will need to be applied to https://github.com/E3SM-Project/E3SM/pull/3043 . You're the first to use .cu files, so there may be additional tweaks needed to support that suffix.

[2019-10-14 16:25] mrnorman commented on #3232
Yeah, it could get a bit hairy if someone needs to combine MPI and CUDA in the same file. There's also the question of where CMake looks for "nvcc". I'll try to work some of this out on my ACME-ECP branch.

[2019-10-14 17:04] jonbob commented on #3190
@mark-petersen - can we get a fix in for this one soon? I've tested the simple solution of just removing the layerThickness array and it seems to work fine and solve this problem

[2019-10-14 17:14] jayeshkrishna commented on #3212
I did encounter this error again (MPI_Type_create_hindexed() error message) with the ne1024 case on Cori (we use parallel netcdf 1.8.1 there, but 1.11.1 is available). I will try the latest parallel netcdf and update with the results.

[2019-10-14 18:35] amametjanov commented on #3169
Fixed by E3SM-Project/E3SM#3230

[2019-10-14 18:35] #3169 closed

[2019-10-14 21:38] crjones-amath opened #3233 "cprnc executable cannot be found on summit"
For testing on summit, the executable `/gpfs/alpine/cli115/world-shared/e3sm/tools/cprnc.summit/cprnc` does not appear to exist.

I attempted to follow the instructions in `$CIMEROOT/tools/cprnc/README`, which failed as follows:

[code]

[2019-10-15 03:55] oksanaguba commented on #3225
Addressed in #3117 .

[2019-10-15 04:21] minxu74 commented on #3233
Sorry. It was purged. I recompiled it with IBM XL compiler and put it /gpfs/alpine/cli115/world-shared/e3sm_olcf/tools/cprnc.summit/. Please let me know if you have any problem on it.

[2019-10-15 04:45] crjones-amath commented on #3233
Thanks @minxu74

I just tested it again, and the file is there now, but I received the following error:
[code]

[2019-10-15 04:51] rljacob commented on #3233
@minxu74 instead of an executable binary, make cprnc an executable shell script that loads the right modules and then calls the cprnc binary.

[2019-10-15 14:07] minxu74 commented on #3233
@rljacob Thanks. Cool idea. I just made cprnc as a shell script that loads the corresponding modules.
@crjones-amath so sorry for that. On Summit the cprnc cannot be compiled in a static way, so it depends on some dynamic libs of netcdf, libm, and libc. As suggested by @rljacob I made it as a script. Could you please try it again? Thanks.

[2019-10-15 16:08] crjones-amath commented on #3233
Thanks for your quick work on this @minxu74! Just tested it and everything seems to be in order.

[2019-10-15 16:08] #3233 closed

[2019-10-15 18:38] singhbalwinder commented on #3229
I think I now know what is going on with this test. The NaNs are coming from `radheat_tend` subroutine in `radheat.F90` as `fsns, fsnt, flns` and  `flnt` are all NaNs in the restart run of ERP. In this ERP test, we run the model for 3 time steps and then restart it to run from 4th to 5th time step. This restarted run output is then compared with the non-restart 5 time step run.

From my reading of

[2019-10-15 20:27] singhbalwinder commented on #3229
I am not sure how this test passes for ne4. I will try to look into this more carefully.

[2019-10-15 20:43] crjones-amath opened #3236 "ERP_Ld11.ne4_oQU240.A_WCYCL2000.summit_pgi fails to build"
This test is part of the ACME-ECP test suite, and fails to build with the current E3SM/master on summit.

Build errors follow:
[code]

[2019-10-15 20:45] #3150 closed

[2019-10-15 21:10] singhbalwinder commented on #3229
It looks like radiation is called every time step when we use ne4 as the time step for ne4 is 2 hours (7200 sec). ne30 simulations has a time step of 1800s.

As we call radiation every time step, variables `fsns, fsnt, flns` and `flnt` get new values every time step.

[2019-10-15 21:41] rljacob commented on #3229
Nice detective work!  So 5 steps is a bad value for this test at that resolution.   Please find one that works and update the test.

[2019-10-15 22:18] singhbalwinder commented on #3229
Thanks @rljacob ! If we run for 7 time steps, it works (`ERP_Ln7.ne30_ne30.FC5AV1C-L`). I can make that change but I think we should fix it as we might run into it again. In theory, restarts should not depend on after how many time steps we restart the model.

Are there any other known cases where we do not expect restart to work? Few years back, we had an issue where model was not able to restart

[2019-10-15 22:40] rljacob commented on #3229
If restarts should work for any run length then yes fix that.  I don't know of other cases.  Yes update the test in the meantime.

[2019-10-15 22:47] oksanaguba commented on #2919
More on this test is in #3229 .

[2019-10-16 16:42] golaz commented on #3229
@singhbalwinder : interesting discovery. I'm surprised this wasn't uncovered before.

If we want to really support having restart capability at any time-step, then we should fix it. But I would be fine if we decided to be more restrictive and only supported restarts during radiation time-steps. In that case, the model should stop with an error when it's restarting on a non-radiation time step.

[2019-10-16 17:29] PeterCaldwell commented on #3229
Good find! I'd rather not add *more* variables to our restart files since they are already 3 TB at ne1024 and writing them is already bringing us to our knees. I agree with Chris G that issuing an error when we try to restart on non-rad timesteps is a good idea.

As an aside (which doesn't need to be addressed) - I'm surprised fsns, fsnt, flns, and flnt are used in radheat_tend. I would have expec

[2019-10-16 18:32] singhbalwinder commented on #3229
Thanks @golaz and @PeterCaldwell . Following @PeterCaldwell suggestion, I looked through the codes and found out that [this](https://github.com/E3SM-Project/E3SM/commit/38626706681a00d80178b6f090e5cef2bee81143#diff-f862e0dfeb1061e7bff16074cfb68801) commit changed the code to remove these fluxes (flnt, fsnt etc.) from `pbuf`. Variables in `pbuf` with `global` attribute are stored in the restart fil

[2019-10-16 20:19] jonbob commented on #3190
passed SMS_D.T62_oQU240.CMPASO-NYF.compy_intel

[2019-10-17 14:49] #3190 closed

[2019-10-17 18:52] ambrad opened #3241 "High-order physgrid does not handle the case of MPI ranks having 0 elements."
See https://github.com/E3SM-Project/E3SM/pull/3141#pullrequestreview-303454580. Reported by @amametjanov; thanks!

[2019-10-21 22:19] herrwang0 opened #3247 "Restart file name prefix in mpas-seaice buildnml not compatible with e3sm_init"
The name change in c947c07f9627f26a10adeb859b274f198595c1cd (from ``mpascice`` to ``mpassi``) prohibits buildnml to recognize the restart files with the prefix ``mpascice`` in e3sm_init

[2019-10-22 16:45] #2866 closed

[2019-10-22 19:56] jonbob commented on #3247
@herrwang0 - you can work around this by copying the name of the mpascice.rst.XXXX.nc file to mpassi.rst.XXXX.nc. The names changed but not the file contents.

[2019-10-23 16:31] herrwang0 commented on #3247
@jonbob OK, thanks!

[2019-10-23 18:15] xyk-ornl opened #3250 "ELM fails with C14 on"
ELM simulation failed when C14 is turned on

[2019-10-23 21:20] qzhu-lbl commented on #3250
Hi Xiaojuan,

The 14C bug rised due to the v2 data structure change. I found the same
issue two weeks ago, and is working on the fix. Do you have a fix already,
or I you just found the 14C model fail?

Qing

On Wed, Oct 23, 2019 at 11:15 AM xyk-ornl <notifications@github.com> wrote:

--
Research Scientist
Climate Sciences Department
Lawrence Berkeley National Laboratory
1 Cyclotron Rd, Berkeley, C

[2019-10-24 16:06] herrwang0 opened #3253 "EAM clubb output field issue"
There seems to be a bug when clubb is outputting history fields. Diffusivity fields show some very irregular patterns. For example (figure made by @whannah1 in native grid )
![image](https://user-images.githubusercontent.com/35150900/67503864-fed81700-f64d-11e9-95a9-55fc56a3f04f.png)

This shows up in zt, zm and sfc fields

The checkerboard pattern suggests this might be an index issue. This is te

[2019-10-24 16:07] njeffery opened #3254 "Error in saturation equation for sea ice bgc"
Saturation of adsorbates to sea ice crystals follows Johnson et al 1995.  The current version  has an error in the functional form and diatom radius.  This bug only impacts the CBGC configuration.

[2019-10-24 17:47] ndkeen opened #3255 "Warning about timer polluting e3sm.log files"
In `cime/src/drivers/mct/shr/seq_timemgr_mod.F90`, this warning is being triggered quite often and can really be annoying with many MPI ranks:

[code]

I've been temporarily commenting the write and have not looked for the cause.

This happens with every repo I've used on cori/theta and with F compsets for sure.

[2019-10-24 17:54] rljacob commented on #3255
That warning should only be printed by the root node.   Can you open this issue in CIME?

[2019-10-24 18:18] xyk-ornl commented on #3250
@qzhu-lbl I've already had a fix but for an older tag. I am now working with the current master trying to bring those fixes in. I will issue a PR soon for this. Thanks,

[2019-10-24 20:37] jinyuntang opened #3256 "ELM Carbon mass balance error when use_pheno_flux_limiter=.true."
When use_pheno_flux_limiter=.true., land model fails with carbon mass balance error. A fix is under testing.

[2019-10-28 00:50] mt5555 opened #3258 "write(iulog,*) should go to atm.log or e3sm.log?"
This code in atm_comp_mct.F90:

     if (masterproc) then
          inquire(file='atm_modelio.nml'//trim(inst_suffix), exist=exists)
          if (exists) then
             iulog = shr_file_getUnit()
             call shr_file_setIO('atm_modelio.nml'//trim(inst_suffix), iulog)
          endif
          write(iulog,*) "CAM atmosphere model initialization"
       endif

means that iulog is set to th

[2019-10-28 02:08] tangq commented on #3258
This is interesting. When I did some MPI tests in CESM/WACCM a while ago, all output went into atm.log. I haven't done anything related to MPI more recent though.

[2019-10-28 19:51] jedwards4b commented on #3258
@mt5555 yes this is by design - although it should be clear that masterproc is the MPI_TASK=0 of the given component and may not be the global MPI_TASK=0.    We should try to minimize output from components that is not restricted to masterproc.

[2019-10-29 15:56] mt5555 commented on #3258
very good - thanks.

[2019-10-29 15:56] #3258 closed

[2019-10-30 19:06] singhbalwinder commented on #3253
Hi @herrwang0 : I talked with @vlarson and he told me that the CLUBB variable output doesn't work correctly if we use threads in PE layout. Would you please try a short simulation with a PE layout which doesn't use threads? Please let me know if you need help with it.

We should probably at least add code so that the simulation crashes if somebody tries using threads with CLUBB history turned on.

[2019-10-30 20:01] #3225 closed

[2019-10-30 20:51] ndkeen opened #3270 "Many tests with LND fail with GNU on cori-knl and cori-haswell"
After the Cori upgrade, I had trouble with GNU. In fact, all GNU tests failed immediately with a runtime error that was eventually attributed to the hugepages module. NERSC added this module by default, and we now remove it.  After the PR to remove hugepages, I ran e3sm_developer with GNU and some tests passed, but most failed. I think most or all fail with
` Program received signal SIGILL: Illega

[2019-10-31 18:36] jinyuntang opened #3272 "Test SMS.ne30_oECv3.BGCEXP_BCRC_CNPRDCTC_1850 fail on cori"
Test SMS.ne30_oECv3.BGCEXP_BCRC_CNPRDCTC_1850 fail with ERROR:  ERROR mpas-o buildnml: ocn bgc cannot be run with more than 1 thread.
When run step by step using --no-setup, after the thread thing is fixed, the simulation fail with error in reading restart file.

[2019-10-31 18:38] jinyuntang commented on #3272
I don't know how to fix it. Someone knows RD BGC should be assigned to work on this.

[2019-10-31 23:53] golaz opened #3276 "Land in-line initial condition interpolation fails with tri-grid (ne30_r05_oECv3)"
I'm trying out the new tri-grid functionality (48e617270e311a53a6f6bb26e05e9011893aeaac) with compset **F20TRC5-CMIP6** and resolution  **ne30_r05_oECv3**.

The model runs with land cold start; but when I try to use in-line interpolation for land initial conditions (finidat_interp), the model fails during land initialization:

[code]

The last line in the land log file is:

` Interpolating: FSD24_

[2019-11-01 02:48] ndkeen commented on #3270
Adjusting the DEBUG flags, I get this error:

[code]

[code]

[2019-11-01 14:27] bishtgautam commented on #3276
i will look into this today

[2019-11-01 15:39] bishtgautam commented on #3276
The fix for inline interpolation (#3214) was added to added to master after tri-grid functionality was added to master. Could you test the latest master?

[2019-11-01 22:21] golaz commented on #3276
@bishtgautam : I was using daa9299f12, which includes the fix for in-line interpolation.

[2019-11-02 02:54] tangq opened #3282 "Land use file issue with F20TRC5-CMIP6.ne30_r0125_ne30"
I tried to reprocess a successful tri-grid case with F20TRC5-CMIP6.ne30_r0125_ne30 for implementing RRM on tri-grid. But it failed with
`read_variable_2d ERROR: sum of PCT_NAT_PFT not 1.0 at nl= 1`
when RUN_STARTDATE=2010-01-01. When changing to RUN_STARTDATE=1979-01-01, it failed with `set_info_from_year ERROR: model year not found in pftdyn timeseries`.

@wlin7 checked the land use time series f

[2019-11-02 19:23] tangq commented on #3282
This issue is caused by incompletely downloaded land use file. Replacing it with the complete file, the simulation ran 1 day successfully. Close the issue now.

[2019-11-02 19:23] #3282 closed

[2019-11-02 22:49] ndkeen opened #3284 "SMS_D.f09_g16.I1850CLM45CN.cori-knl_intel fails"
This is the test (of many others) that is failing on GNU. I assumed it worked with intel, but looks like it does not.

[code]

[code]

[2019-11-02 22:49] ndkeen commented on #3270
Noting that this test also fails with Intel DEBUG as in https://github.com/E3SM-Project/E3SM/issues/3284

[2019-11-02 23:07] ndkeen opened #3285 "SMS_PT_Ld1.ne120_oRRS18v3_ICG.A_WCYCL1950S_CMIP6_HR.cori-knl_intel.cam-cosplite fails with "NetCDF: Invalid dimension ID or name""
Not sure if this compset is "supposed" to be working, but I just tried with master and it does not.

[code]

[2019-11-03 04:06] bishtgautam commented on #3276
I successfully ran a `F20TRC5-CMIP6.ne30_r05_oECv3` with [interpolation settings](https://github.com/E3SM-Project/E3SM/issues/3276#issue-515824834) provided by @golaz using the fix issued in PR-#3286.

[2019-11-04 20:43] #3241 closed

[2019-11-05 16:04] maltrud opened #3289 "incorrect ocn_co2_type setting for bcrd case"
in the file components/mpas-ocean/bld/build-namelist, there is an incorrect setting in the bcrd section:

} elsif ($ocn_co2_type eq 'bcrd' ) {
       add_default($nl, 'config_ecosys_atm_co2_option', 'val'=>"constant");
       add_default($nl, 'config_ecosys_atm_alt_co2_option', 'val'=>"constant");
       add_default($nl, 'config_ecosys_atm_alt_co2_use_eco', 'val'=>".false.");
       add_default($n

[2019-11-05 16:09] golaz commented on #3276
Verified that it is fixed in https://github.com/E3SM-Project/E3SM/pull/3286#pullrequestreview-311271620

[2019-11-06 04:58] rljacob opened #3290 "BGCEXP_BDRD_CNPRDCTC_20TR compset fails on master and maint-1.1"
The following case will fail on both master and and the head of the maint-1.1 branch.

--compset BGCEXP_BDRD_CNPRDCTC_20TR --res ne30_oECv3

The error messages are:
ERROR: SCATTER_FIELD_TO_CHUNK error: hdim1d < hdim1_d

stack trace:
 396: e3sm.exe           000000000317A84A  Unknown               Unknown  Unknown
 396: e3sm.exe           0000000002DB07B0  shr_abort_mod_mp_         114  shr_abort_m

[2019-11-06 05:00] rljacob commented on #3290
Not sure why I chose that compset but I was trying to make a baseline on maint-1.1 to test https://github.com/E3SM-Project/E3SM/pull/3268

[2019-11-06 05:05] singhbalwinder commented on #3290
Sometimes we see this error if we are not interpolating an input file (on FV grid) which is being read when the model is running on an SE grid.

[2019-11-06 05:08] singhbalwinder commented on #3290
Looking closely, it looks like, I fixed this error by adding a code which is turned on only with a CPP directive added to CAM_CONFIG_OPTS. That code invoked the needed interpolation. We are revisiting that code now and will likely push a fix after we complete our testing.

[2019-11-06 06:02] rljacob commented on #3290
I remember why I chose that compset.  I wanted to run BGCEXP_BCRC_CNPRDCTC_1850 which is in e3sm_integration and works on compy but that compset isn't in maint-1.1.   So I chose one that looked close and was in maint-1.1:  BGCEXP_BDRD_CNPRDCTC_20TR.  Several days later....

Is there a BGCEXP case I can run out-of-the-box on maint-1.1?  I may have to modify the PIO_TYPENAME and set finidat to empty

[2019-11-06 06:09] singhbalwinder commented on #3290
I am not very familiar with the BGC compsets. @susburrows @maltrud @beharrop might know which compset would be the best to use for this purpose.

[2019-11-06 15:28] maltrud commented on #3290
@rljacob and @singhbalwinder :  the CBGC cases don't run out of the box--there are a lot of tweaks and setup stuff done in the run_e3sm script.  Balwinder was right that one thing (among many others) that gets set in the script is for correct interpolation of the co2 flux file:
$xmlchange_exe --id CAM_CONFIG_OPTS --append --val='-cppdefs -DCO2_BILIN_REGRID'
we could probably set up a sample run_e3

[2019-11-06 17:07] rljacob commented on #3290
Someone should work to make CBGC cases run out-of-the-box.   I found --res ne30_oECv3 --compset BGCEXP_CNTL_CNPRDCTC_1850 works so will use that.

[2019-11-06 17:58] susburrows commented on #3290
@rljacob the BGCEXP_CNTL_CNPRDCTC_1850 is a good one to use for testing purposes for now. The PR Balwinder is working on should resolve the specific error identified in your initial issue report, once it is completed.  Is there a timeline for when we need the BGC compsets to be working out-of-the-box, from the overall development schedule or other considerations?

[2019-11-06 18:31] oksanaguba opened #3292 "Memory footprint variability"
Running master, the same case a few times in a row, leads to big variability in memory diagnostics. First output is clone status, second is 3 different runs with memory output. Anvil centos7.

[code]

[code]

[2019-11-06 23:29] rljacob commented on #3292
First thing to figure out is if this is anvil-specific or happens on other machines.

[2019-11-07 00:42] amametjanov commented on #3284
This is fixed by E3SM-Project/E3SM#3260, specifically commit https://github.com/E3SM-Project/E3SM/pull/3260/commits/164ab78ef8348e204c230009b5677a7fad137dbb. This does not happen anymore. Closing, please re-open otherwise.

[2019-11-07 00:42] #3284 closed

[2019-11-07 00:48] amametjanov commented on #3270
In tests on Theta, `SIGILL: Illegal instruction` with GNU 8.3.0 is fixed by adding `-O0` to debug flags. Existing flag `-Og` must be adding "debugger-friendly" instructions that do not play well with KNL's. Appending `-O0` overrides `-Og`. I did not change `-Og` to `-O0` to avoid affecting GNU builds on other machines.

[2019-11-07 00:51] amametjanov commented on #3213
Please try adding `-O0` to debug flags in Macros.cmake (and Macros.make to be sure) in the case-dir, `rm -rf bld && mkdir bld && ./case.build && ./case.submit`, to see if this works with GNU 8.2.0.

[2019-11-07 03:06] rljacob commented on #3142
@vlarson Who should work on this?

[2019-11-07 06:03] rljacob commented on #3290
At the latest, they should be working out-of-the-box before any papers using them are published.  Ideally, they should have been working when we made the v1.1.0 (or v1.1.1) tags.

[2019-11-07 16:11] jonbob commented on #3289
closed by [PR #3294](https://github.com/E3SM-Project/E3SM/pull/3294)

[2019-11-07 16:11] #3289 closed

[2019-11-07 16:41] ndkeen commented on #3284
Yes, this is now working.

[2019-11-07 16:45] ndkeen commented on #3270
I tested using `-O0` on two of my repos -- one with gcc8.20 and one with gcc8.3.0. They both failed, but may not be failing with same error. Now that we have the fix in #3260, I will test there.

[2019-11-07 18:24] jinyuntang opened #3296 "floating invalid error when running eca-bgc with debug=true"
When running with eca bgc, setting debug=true cause floating invalid crash in  AllocationMod.F90. The issue was identified as a initialization error in type column_phosphorus_flux in ColumnDataType.F90  introduced through the new elm data structure . A fix is under way.

[2019-11-07 19:00] rgknox opened #3297 "Shared Nutrient Aquisition Parameters in FATES-ELM"
I started a discussion on the FATES issues board to describe the proposed system of defining nutrient parameters that span two models:

https://github.com/NGEET/fates/issues/592

[2019-11-07 21:02] oksanaguba opened #3299 "output of omega in cam"
https://github.com/E3SM-Project/E3SM/blob/c59c811106329786577ce1a5e05349ec4271f2d0/components/cam/src/dynamics/se/stepon.F90#L469

here omega is is multiplied by pressure, but in theta dycore it does not need to, because %derived%omega_p is just omega. should this be fixed?

[2019-11-07 21:04] whannah1 commented on #3299
@oksanaguba , good point. So in the theta dycor the "omega_p" variable is still used, but the data put into it is not "omega/p" but rather just "omega"?

[2019-11-07 21:07] oksanaguba commented on #3299
yes. that is why in dp_coupling it is not multiplied either:
[code]

[2019-11-07 21:12] whannah1 commented on #3299
ok, I can throw an ifdef into that part of stepon.F90 and make a PR.

[2019-11-07 21:13] oksanaguba commented on #3299
no rush, you can stick it into some other pr (i assume omega is not in output so all would be bfb?)

[2019-11-07 21:16] whannah1 commented on #3299
yea, it's not standard output so it shouldn't make any tests fail. I'm not planning any PRs for E3SM right now so I might as well do a tiny PR.

[2019-11-07 22:19] rgknox opened #3301 "redundant and un-used calculation of "nlimit" in land BGC Allocation"
There is a local flag specifying if nitrogen availability is limiting uptake: "nlimit" in [Allocation2_ResolveNPLimit](https://github.com/E3SM-Project/E3SM/blob/master/components/clm/src/biogeochem/AllocationMod.F90#L1067):

When nitrification/denitrification is turned on, this flag is calculated twice, using two different methods:

First in this block, which immediately follows the calculation of

[2019-11-07 23:25] ndkeen commented on #3270
Using repo Nov 6th, I tried `SMS_D.f09_g16.I1850CLM45CN.cori-knl_gnu` with `-O0` instead of `-Og`. It still fails with illegal instruction, but it may be a different error. The e3sm.log files are messy for this failure so it's not easy to see.

I also tried `SMS_D_PMx1.f09_g16.I1850CLM45CN.cori-knl_gnu` with similar result.

The case dirs are here:
`/global/cscratch1/sd/ndk/acme_scratch/cori-knl/m

[2019-11-08 17:45] #3276 closed

[2019-11-08 17:52] xylar opened #3304 "maint-1.0 can't build with python>2.7"
Two python scripts used in MPAS builds:
https://github.com/CVMix/CVMix-src/blob/master/src/shared/makedep.py
https://github.com/E3SM-Project/Ocean-BGC/blob/master/makedep.py
have been updated to python 3 in their respective branches but these changes have not made it to `maint-1.0`, causing tests to fail.

Given that build and testing environments are all moving to python 3, it will presumably be

[2019-11-08 17:53] xylar commented on #3304
See https://github.com/E3SM-Project/E3SM_test_scripts/pull/13#pullrequestreview-314324671

[2019-11-08 17:54] xylar commented on #3304
@mark-petersen and @jonbob, I think you will have the best sense of how this patch can happen without bringing in other (possibly non-bit-for-bit) changes to `maint-1.0`.  How is the MPAS source patched for this branch in general?

[2019-11-08 18:11] mark-petersen commented on #3304
We have corresponding branches in MPAS-Dev. For example, we can merge bug fixes into e3sm/maint-1.0 on MPAS:
[code]
so we can branch off that and make a PR for the python updates, merge in, then update the E3SM maint-1.0 branch to the updated mpas-source commit.

[2019-11-08 19:35] xylar commented on #3304
That's great! The complication is that each of these files gets download automatically during MPAS build. The Ocean BGC fix should just be a question of updating the branch getting pulled down because no other changes have been made. The same is unfortunately not true of CVMix.

[2019-11-08 19:45] amametjanov commented on #3270
Looks like an issue with an uninitialized variable, hitting a NaN. After replacing `-Og` with `-O0`, error in both threaded and MPI-only runs: e.g. `SMS_D_PMx1.f09_g16.I1850CLM45CN.cori-knl_gnu`
[code]

[2019-11-08 20:11] bbye commented on #3270
That looks oddly familiar - see #1832

[2019-11-08 22:20] amametjanov commented on #3270
Thanks for pointing to that issue and the one it points to https://github.com/ESMCI/cime/issues/1974. So current, latest GNU compilers 8.2.0 and 8.3.0 still have that issue of throwing SIGFPE on calls to `isnan` intrinsic.

My vote is to remove `invalid` from `-ffpe-trap` list in DEBUG FFLAGS: from CESM config_compilers.xml
[code]
Doing that allowed `SMS_D_PMx1.f09_g16.I1850CLM45CN.cori-knl_gnu` t

[2019-11-08 23:05] ndkeen commented on #3270
Huh, I had forgotten about 1832. And you're right that it looks similar.

I would be OK with adjusting the compiler flags to stop on fewer conditions, but
do we know there really is no issue?

[2019-11-09 15:26] mark-petersen commented on #3304
@xylar I'm happy to update all the maintenance branches. If you have time to find the relevant PRs and commits from the last 4 months, that would be helpful. If not, I can do it too next week.

[2019-11-09 16:13] xylar commented on #3304
We would need the 2 commits from these two PRs:
https://github.com/MPAS-Dev/MPAS-Model/pull/274
https://github.com/MPAS-Dev/MPAS-Model/pull/304
Commits are:
6b1f556aa677b35dc9d226eca3fc224d3938a206
55a4f9c49b3de31512fa0b0fdf306aaddc54ebb1

The CVMix fix is more complicated.  We would need to start with:
https://github.com/CVMix/CVMix-src/tree/v0.84-beta
and cherry-pick onto that:
https://github.co

[2019-11-09 19:55] rljacob commented on #3304
If you need to tie maint-1.0 to a fork of CVMix, use this one:  https://github.com/E3SM-Project/CVMix-src.

[2019-11-09 21:15] xylar commented on #3304
That's great!  If we have an E3SM fork of CVMix, that's clearly the right place to cherry-pick the commit I listed above and then use the resulting commit in maint-1.0.

[2019-11-10 08:57] xylar commented on #3304
I believe I have the necessary fixes in place.  We would need to first merge:
E3SM-Project/Ocean-BGC#3
E3SM-Project/CVMix-src#1
and then
MPAS-Dev/MPAS-Model#392
and finally update the submodule in E3SM-Project/E3SM/maint-1.0

@mark-petersen, it sounds like you should be able to help with that process and the necessary testing?

[2019-11-11 20:14] #3250 closed

[2019-11-14 22:59] rljacob opened #3315 "python 3 changed dtime to float"
While running our testing under python3 for the first time, the type of "dtime"  in atm_in was changed to a float.
[code]

Note from @jhkennedy , python3 changed how division works.
![image](https://user-images.githubusercontent.com/947068/68901196-13627900-06fb-11ea-830a-b89f150caf76.png)

Solution is to use `//` instead of ` /` in the calculation of dtime in buildnml.

[2019-11-15 15:37] fmyuan opened #3316 "ELM cmake configuration cannot find load files in FindPETSc.cmake, when 'CLM_USE_PETSC' is TRUE"
After ELM build switches from make to cmake, when 'CLM_USE_PETSC' is TRUE, the cmake configuration cannot successfully find PETSc package. The error message is like:
[code]

I think it's because the cmake module files for PETsc package were not ALL copied from Jed Brown's (see: https://github.com/jedbrown/cmake-modules). And some minor edits in cime/src/CMake/FindPETSc.cmake are also needed. So fi

[2019-11-15 16:09] bishtgautam commented on #3316
@jqyin Since I don't have access to ORNL CADES, can this be assigned to you?

[2019-11-15 16:55] dqwu opened #3317 "floating invalid in cospsimulator_intr.F90 reproduced with SCORPIO"
The following debug-mode integration test fails on Cori with SCORPIO:
`SMS_D_Ln5.ne4_ne4.FC5AV1C-L.cori-knl_intel.cam-cosplite_nhtfrq5`

The stack-trace is something like:
[code]

It turns out that line 2503 of cospsimulator_intr.F90 might contain NaN values in rain_cv_interp:
`           if (rain_cv_interp(i,k) .lt. 0._r8) then`

The source of NaN can be traced to line 2382 of cospsimulator_intr.

[2019-11-15 18:18] rljacob commented on #3316
Do you have to be on ORNL CADES to reproduce the problem?  We don't officially support that platform.

[2019-11-15 18:30] fmyuan commented on #3316
@rljacob  No. I think that, for whatever reason to use PETSc libraries available in any platform, it's not going to work with cmake.

[2019-11-15 18:31] rljacob commented on #3316
Please share the create_newcase command and other steps to reproduce the problem.

[2019-11-15 18:43] fmyuan commented on #3316
@rljacob
1. should be no specific options for create_new_case.
2. After create_new_case, ./case.setup may have issue not find 'PETSC_PATH', which upon platform's environmetal variables.
3. After ./case.setup, modify 'env_build.xml' for 'CLM_USE_PETSC' or 'USE_PETSC' to 'TRUE'
4. ./case.build then should stop when building CLM, due to this bug.

[2019-11-15 19:04] rljacob commented on #3316
1. Maybe not but what case are you trying to build?

[2019-11-15 19:22] fmyuan commented on #3316
I'm trying to use PETSc library for coupling PFLOTRAN to ELM. There was no specific create_new_case option for this.
The real issue is that E3SM Makefile will try to include and to link PETSc headers and libs, when 'USE_PETSC' set to TRUE. Those will be provided by cmake configuration via ./component/CMakelist.txt, which actually calls module files in ./cime/src/CMake/. For PETSc package in that f

[2019-11-19 21:38] dqwu opened #3322 "Build e3sm failed on Summit with latest CMake build system"
This issue is reproducible on Summit with latest E3SM master branch after PR #3043 is merged.

Steps to reproduce:
[code]
The error information is:
[code]

[2019-11-20 20:32] dqwu commented on #2993
@minxu74 @jgfouca
Looks like this issue has been partially fixed by PR #3043, the commit (Fix summit cxx linking) is:
https://github.com/E3SM-Project/E3SM/commit/48fc5ebb8c6c0fa16ec6b7e9357eaca2bfd59c5a

PS, pgiacc still uses CXX for CXX_LINKER on Summit, which might be updated as well.

[2019-11-21 01:21] dqwu commented on #3322
This CMake issue is only reproducible with the default IBM XL compiler (GNU or PGI works).

[2019-11-21 01:50] dqwu commented on #2993
I tested latest E3SM master branch with pgi compiler on Summit, no link errors to build e3sm.exe with scorpio.

[2019-11-21 17:01] vlarson commented on #3142
@singhbalwinder, Noel and I talked, and it seems OK to me to initialize qrl to zero in clubb_intr, [as suggested by Noel](https://github.com/E3SM-Project/E3SM/issues/3142#issuecomment-522873800).   What do you think?  How do we make this happen?

[2019-11-21 20:17] ndkeen commented on #3061
I think the fix in PR3324 should work here, but I'm unable to run the same script as I did before (even after making Cori module changes).  If someone could simply add the one line (to init qrl_idx=0) and try again that would be great? Or provide me an updated script that works on Cori and I can try.

[2019-11-22 23:04] #3322 closed

[2019-11-22 23:29] #3316 closed

[2019-11-25 22:57] tangq opened #3328 "floating invalid of F2010C5-CMIP6-LR.ne30_oECv3 on cori-knl with maint-1.0"
I got the following floating invalid errors when trying to rerun one of my low-res cases on cori-knl with current maint-1.0.

I reproduced this error with multiple submissions. Any suggestions? Thanks.

create_newcase options are `--compset F2010C5-CMIP6-LR --res ne30_oECv3 --pecount L --mach cori-knl`
$rundir: /global/cscratch1/sd/tang30/E3SM_simulations/cori-knl.20191124.tst2.F2010C5-CMIP6-LR.ne

[2019-11-26 00:21] singhbalwinder commented on #3328
@tangq: Would you please try @ndkeen 's solution described in #3324 to see if it helps?

[2019-11-26 00:26] tangq commented on #3328
Thanks for the suggestion, @singhbalwinder .

I am testing now..will update later.

[2019-11-26 01:15] ndkeen commented on #3328
Well the change in PR 3324 will likely only affect DEBUG=TRUE runs. Qi's error might be something else. Can you explain any more? Is this maybe an older repo you are trying to use?

[2019-11-26 01:17] #3315 closed

[2019-11-26 01:18] singhbalwinder commented on #3328
@ndkeen : I was also surprised at that but it seems like @tangq seems to be using a few debug flags which can capture this error. I am wondering what impact that might have on the performance of the code. It should definitely slow down the simulation.

If these flags are being used in the default production runs, we should change that in the machine files so that we improve the throughput.

[2019-11-26 01:26] tangq commented on #3328
@ndkeen , @singhbalwinder , I tried the fix in #3324 and the test failed with floating invalid error too, but seems at a different place. Errors are pasted below.

I am not using DEBUG=TRUE, instead my settings are default for production runs. I used the latest maint-1.0 code. Please let me know if you need further information to solve this issue.

`2546: forrtl: error (65): floating invalid
2546:

[2019-11-26 02:13] tangq commented on #3328
@singhbalwinder , if this floating invalid error is harmless and removing the debug flags in the default compile won't change the results, can you provide some instructions on how to remove those debug flags? In this way, I can start this time sensitive simulation now.

We can verify if the results change by comparing with the old results from the same settings. Thanks!

[2019-11-26 02:35] singhbalwinder commented on #3328
That is a good plan. I looked into `/global/cscratch1/sd/tang30/E3SM_simulations/cori-knl.20191124.tst2.F2010C5-CMIP6-LR.ne30_oECv3` but I couldn't find the build log files there in the `build` directory. I would like to look at them to understand how the flags are being selected.

If you can work within the `case_scripts` directory, please follow the following steps:

1. Edit `Macros.make` file t

[2019-11-26 04:23] tangq commented on #3328
@singhbalwinder , you can find the building log here: `/global/cscratch1/sd/tang30/E3SM_simulations/cori-knl.20191124.F2010C5-CMIP6-LR.ARE.nudgeUV.ne30_oECv3/build`. I reused the executable as both tests use the same code but different user_nl settings.

I checked the building log. The `-fpe0` flag was applied.

[2019-11-26 04:27] tangq commented on #3328
I am also testing the default build on cori-haswell to see if this issue is machine specific. However, the haswell queue is too crowded - hopefully the test can start overnight.

[2019-11-26 05:36] singhbalwinder commented on #3328
Thanks @tangq . After your new build with the changed Macros.make file, please look at the build logs again to ensure that `-fpe0` is not used while building the model.

I just checked and found the following in the machine files of maint-1.0:
[code]
This is the only place I found `-fpe0` is being used when `DEBUG=FLASE`. Unless there is a good reason to keep it, we should remove it as it does gen

[2019-11-26 05:41] tangq commented on #3328
I did confirm that `-fpe0` was not used in the atm build log. Thanks! @singhbalwinder

The test is waiting in the queue. Let's see how it goes tomorrow. Good night.

[2019-11-26 06:19] rgknox commented on #3301
I think this issue is fairly obscure and benign.  I don't think this needs anyone tracking this down and confirming with me on this.

[2019-11-26 06:19] #3301 closed

[2019-11-26 17:54] singhbalwinder commented on #3328
@tangq : I ran this case with DEBUG=TRUE on Compy and it ran fine till 66th time step and after that it died due to the time limit. At which time step do you see this floating invalid error? Perhaps only Cori-KNL can reproduce this error, I will try it there.

[2019-11-26 18:20] tangq commented on #3328
@singhbalwinder , my error occurred during initialization. So, your compy test seems doesn't have this error.

@wlin7 did a test on cori-knl with the default non-DEBUG build and did NOT have the issue. I am comparing mine with Wuyin's to see if what are the differences between our two tests.

[2019-11-26 19:45] tangq commented on #3328
I only found one difference between my test and @wlin7 's in drv_in
[code]
Will this difference cause floating invalid?

[2019-11-26 20:08] ndkeen commented on #3328
I agree about the `-fpe0` flag. It was not added by me, but since it was used for some official runs, we didn't want to change it unless needed. Master doesn't use this flag for non-debug runs.

I tried the following 2 tests with maint-1.0 from Oct 23rd (is the date of the repo important?)

[code]

The smaller node count run completed. The Large run failed in the same way as you noted. I also trie

[2019-11-26 21:03] wlin7 commented on #3328
No, it has no impact on my test runs. With do_budgets = TRUE of FALSE, the runs are BFB.

[2019-11-26 22:39] jonbob commented on #3272
@jinyuntang - I'll take a look at this. Is it with the current version of master?

[2019-11-26 22:43] jinyuntang commented on #3272
@jonbob, I think it may still occur with the current master, unless someone fixed it accidentally from other changes.

[2019-11-26 22:51] rljacob commented on #3328
It won't change answers but do_budgets = true will kick off a bunch of floating point calculations that otherwise won't happen.

[2019-11-26 23:57] singhbalwinder commented on #3328
If the failure is node count dependent, it is most likely a memory issue (e.g. uninitialized variable). I will see if I can reproduce it on Compy. My account on Cori has some issues which I am trying to sort out.

[2019-11-27 03:16] tangq commented on #3328
@wlin7 and I tested 1) do_budgets=true 2) the default 41-node layout (the problematic one uses  81 nodes `--pecount L`) 3) do_budgets=true and 41-node layout.

Test 1) failed, while the other two were successful. So, it seems that the failure is node count dependent. @wlin7 noticed that ne30 has 5400 elements and the failing run has 5427 MPI tasks. That is more MPI tasks than # of elements.

I wil

[2019-11-27 03:30] singhbalwinder commented on #3328
Thanks @tangq. These were interesting finds. I am tagging @mt5555 here as we have seen something similar before where the model would break if we use more tasks than the model elements. I may be wrong but I think @mt5555 fixed that so that the model gives a nice error message. May be the fix is applied to the master but not to the maint-1.0 branch. In any case, I feel more comfortable going ahead

[2019-11-27 03:32] singhbalwinder commented on #3328
I think that PR was #3064.

[2019-11-27 03:40] tangq commented on #3328
@singhbalwinder , it's worth mentioning that my previous floating invalid error we talked about is also on cori-knl with the same 81-node layout. The error occurred with certain `pertlim` numbers which are used to add white noise to the initial T field.

[2019-11-27 16:09] jonbob commented on #3272
@jinyuntang - do you remember which restart file it has trouble reading? I was expecting it to be one of the MPAS components but my first test hung up reading the ELM restart...

[2019-11-27 19:13] ndkeen commented on #3255
This has been fixed in CIME. Not sure when it will be merged to E3SM.

[2019-11-27 19:21] ndkeen commented on #3328
I think the code should be able to handle more MPI's than elements (which usually adds a slight benefit, but in this case 5427 was chosen only to fully use the cores on all 81 nodes).  And I just tried changing the PE layout to use 5400 tasks for all components that were using 5427 and I see the same error. This layout does not use threads.

[2019-12-02 19:15] singhbalwinder commented on #3328
I did some short tests with ne4 using more MPI tasks than elements. For example, ne4 has 96 elements:
` total number of elements nelem =           96`
When I run with Debug flags turned on, the simulation always crashes if I use `MPI tasks> nelem` with the following error:
[code]

The simulation runs fine if `MPI tasks<= nelem`.

[2019-12-02 20:42] ndkeen commented on #3328
I also found this a while ago here:  https://github.com/E3SM-Project/E3SM/issues/2899

[2019-12-04 18:57] wlin7 opened #3335 "Duplicated calls in components/mosart/src/cpl/rof_comp_mct.F90"
There are duplicated calls in components/mosart/src/cpl/rof_comp_mct.F90 at lines 264-269

       ! Initialize lnd -> mosart attribute vector
       call mct_aVect_init(x2r_r, rList=seq_flds_x2r_fields, lsize=lsize)
       call mct_aVect_zero(x2r_r)

       ! Initialize lnd -> mosart attribute vector
       call mct_aVect_init(x2r_r, rList=seq_flds_x2r_fields, lsize=lsize)
       call mct_aVect_ze

[2019-12-04 20:45] ndkeen commented on #3138
Closing as that error message appears to not stop the code, nor be a solid indicator there is an issue. I can't recall, but I don't think I've seen the message in a while.

[2019-12-04 20:45] #3138 closed

[2019-12-04 21:02] ndkeen commented on #2432
Running this again with newer repo, but I suspect this is the same as
https://github.com/E3SM-Project/E3SM/issues/3142

[2019-12-04 21:23] ndkeen commented on #3121
Noting this test still fails in the same way with master from Nov 6th.

[2019-12-04 21:42] ndkeen commented on #2207
This is still failing in same way with a master from Nov 6th, which uses `gcc/8.2.0(default)`.

`HOMME_P24.f19_g16_rx1.A.cori-knl_gnu`

[2019-12-04 22:22] ndkeen commented on #2149
Closing as I can no longer repeat the issue using master of Nov 6th.

[2019-12-04 22:22] #2149 closed

[2019-12-04 22:25] #2432 closed

[2019-12-04 22:28] ndkeen commented on #2827
Closing as the above 2 tests complete now with master from Nov 6th.

[2019-12-04 22:28] #2827 closed

[2019-12-04 22:58] ndkeen commented on #3212
I'm going to close this issue as we can now use PIO_VERSION=2 with ne512, which I think happened with https://github.com/E3SM-Project/E3SM/pull/3246.

[2019-12-04 22:58] #3212 closed

[2019-12-04 23:00] ndkeen commented on #2555
Testing again with master from Nov 6th which uses `impi/2019.up3`.

Using `SMS.f09_g16_a.IGCLM45_MLI.cori-knl_intel`, I tested with PIO_VERSION=1 and PIO_VERSION=2.

The tests complete, so will close this issue. However, there are many warnings written that are not related to PIO.

[2019-12-04 23:00] #2555 closed

[2019-12-04 23:11] jgfouca opened #3337 "many e3sm tests do not produce repeatable results with compy+pgi"
The following tests:
[code]

Do not produce the same results from run-to-run, even with the same commit.

[2019-12-04 23:12] jgfouca commented on #3337
@rljacob please assign accordingly

[2019-12-04 23:22] ndkeen commented on #2148
Closing as I can no longer repeat (with master of Nov 6th).

[2019-12-04 23:22] #2148 closed

[2019-12-04 23:26] ndkeen commented on #1975
I'm closing this issue as
a) not sure we can reproduce exactly the runs as above
b) we've run many different coupled runs on cori without any issues

[2019-12-04 23:26] #1975 closed

[2019-12-04 23:35] ndkeen commented on #3088
I tested this again with master of Nov 6th and I see same issue.

[2019-12-04 23:44] ndkeen commented on #2176
Closing as the 2 tests noted in title are passing with master of Nov 6th.

[2019-12-04 23:44] #2176 closed

[2019-12-05 00:36] ndkeen commented on #3123
This test is still failing with master of Nov 6th.

[code]

[2019-12-05 00:46] jinyuntang commented on #3123
Noel
  You may want to take a look at
fix float invalidation error of eca_bgc #3303.
I fixed a similar issue, but the merge was blocked due to the change of
some timing statistics.

On Wed, Dec 4, 2019 at 4:37 PM noel <notifications@github.com> wrote:

--

   Jinyun

Research Scientist
Lawrence Berkeley National Laboratory
1 Cyclotron Rd., MS 74R316C
Berkeley, CA 94720
tel: 510 486-5792, fax: 510

[2019-12-05 00:49] ndkeen commented on #3123
It can likely wait until that PR is merged, but would be great if you could add "Fixes #" to the PR if indeed it allows this test to complete.

[2019-12-05 01:17] ndkeen commented on #2453
Test `SMS_P64_Ly1.ne4_oQU480.A_WCYCL1850.cori-knl_intel` completed with master of Nov 6th, so I'm closing.

[2019-12-05 01:17] #2453 closed

[2019-12-05 01:46] jinyuntang commented on #3123
Nole
  I added it fixes #3296, which describes the symptom likes what you found.
However, the test failed on a machine other than cori, and I don't have
access to that machine.

On Wed, Dec 4, 2019 at 4:49 PM noel <notifications@github.com> wrote:

--

   Jinyun

Research Scientist
Lawrence Berkeley National Laboratory
1 Cyclotron Rd., MS 74R316C
Berkeley, CA 94720
tel: 510 486-5792, fax: 510 486-

[2019-12-05 02:05] worleyph commented on #3337
I'll take a look if you want. Anything special to do to get "PGI 18.10 using IntelMPI 2019u3"? Also, what versions of PGI are we using on other system? (older? newer?)

[2019-12-05 02:40] rljacob commented on #3337
Summit is using 19.4 and 19.7.  So I guess we should just upgrade to those first.

`--compiler pgi` on compy is enough to get that config.

[2019-12-05 16:30] jonbob commented on #3272
@bishtgautam - it looks like it's failing on the ELM finidat file: ```180227_cplhist_BGCspinup_ne30_ne30_ICB1850CNPRDCTCBC.clm2.r.0701-01-01-00000.nc```
When that file is specified, the code dies with the following traceback:
[code]
If I set finidat to ' ' in user_nl_clm, it successfully completes a five-day smoke test

[2019-12-05 16:40] bishtgautam commented on #3272
@jonbob Can you point me the run directory of your test? I want to check the lnd.log file.

[2019-12-05 17:12] jonbob commented on #3272
@bishtgautam -- sure. The debug one is on anvil, at:
```` /lcrc/group/acme/jwolfe/acme_scratch/anvil/SMS_D.ne30_oECv3.BGCEXP_BCRC_CNPRDCTC_1850.anvil_intel.20191204_145253_susqyx````
I resubmitted the non-debug one (also on anvil) at:
[code]

[2019-12-05 17:36] dqwu opened #3339 "HOMME_P24.f19_g16_rx1.A failed on some machines"
See
https://my.cdash.org/testDetails.php?test=52191441&build=1739840
https://my.cdash.org/testDetails.php?test=52192925&build=1739857

Reproducible on anlworkstation as well.

For next branch, the failure is caused by PR #3306 (confirmed on anlworkstation).
PS, this PR has been merged to master.

[2019-12-05 17:44] rljacob commented on #3339
The HOMME test type doesn't quite follow the rest of the test types.  I think it will show "FAIL" when there is just a diff.  Is that right @mt5555 ?

[2019-12-05 18:30] bishtgautam opened #3340 "case ne30_oECv3_ICG.A_WCYCL1850S_CMIP6 with allactive-v1cmip6 mods failing"
The main v1 fully coupled case (part of e3sm-integration) has been failing since the PR #3133 merged on Nov 27 on some macines.
 integration test:   SMS_D_Ld1.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.mach_compiler.allactive-v1cmip6

sandiatoss3-master-int:  fail since Nov28
sandiatoss3-next-int: fail since Nov 27
anvil-next-int:  fail since Nov 27  9b631d03

Runs fine:
theta-next-int:  dc19b1606 passing

[2019-12-05 19:24] jonbob commented on #3340
@bishtgautam - I just checked out master and tried this test on compy with the intel compiler. I got a completely different traceback than we saw on sandiatoss3:
[code]
which ended up just being a format problem. There is a character string that is longer than the format, as well as an integer value. I modified line 237 in accumulMod.F90 to look like:
[code]
and it now fails in the cospsimulator o

[2019-12-05 19:34] bishtgautam commented on #3340
@jonbob  :pray:. I guess it is now in @singhbalwinder's court.

[2019-12-05 19:36] jonbob commented on #3340
Ha! Just weird that it went off the rails somewhere completely different on sandiatoss3. I'll try anvil as well, though it seems overloaded right now...

[2019-12-05 19:39] singhbalwinder commented on #3340
Luckily @dqwu has a fix for this issue in #3317. @jonbob would you please try this fix to see if it helps. Thanks!

[2019-12-05 19:41] jonbob commented on #3340
@singhbalwinder - that was quick! Let me give that a try... and see who it points to next 😱

[2019-12-05 20:00] jonbob commented on #3340
@singhbalwinder - after merging that branch, it points into prep_rof_mod, very much like on sandiatoss3:
[code]

[2019-12-05 20:00] jonbob commented on #3340
And pretty much the same thing on anvil:
[code]

[2019-12-05 20:03] jonbob commented on #3340
It appears to have something to do with the "allactive-v1cmip6" changes -- SMS_D_Ld1.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.compy_intel ran fine

[2019-12-05 20:08] singhbalwinder commented on #3340
Here are the files which are used for allactive-v1cmip6: https://github.com/E3SM-Project/E3SM/tree/master/cime/config/e3sm/testmods_dirs/allactive/v1cmip6

From a quick scan, it looks like it is turning on cosp and some high frequency output.

[2019-12-05 20:10] jonbob commented on #3340
I agree, @singhbalwinder -- I don't see anything suspicious...

[2019-12-05 20:24] qzhu-lbl commented on #3088
Hi Noel,

I think Jinyun's right, his PR
https://github.com/E3SM-Project/E3SM/pull/3303/files fixed the nan issue
for col_plant_pdemand_vr, should also fix the floating invalid issue you
got in line 2415 AllocationMod.F90.

                  dsolutionp_dt(c,j) = gross_pmin_vr(c,j)
-potential_immob_p_vr(c,j)
- &

                       col_plant_pdemand_vr(c,j) + biochem_pmin_vr_col(c,j)
+ &

[2019-12-05 20:59] qzhu-lbl commented on #3088
Hi Noel,

Could you please try

qzhu-lbl/lnd/plant_pdemand_init_fixnan

see if the error is still there?

[2019-12-05 21:02] rljacob commented on #3339
Yes that's right.  These "FAILs" are expected and will be blessed.

[2019-12-05 21:02] #3339 closed

[2019-12-05 21:21] sarich opened #3342 "rounding problem on theta"
PR #3309 broke the builds on theta. They were broken the weeks before for various other reasons, those may be fixed now.
cime/scripts/lib/CIME/XML/env_batch.py:
[code]
round() returns an integer for python3, but returns a float for python2. Now submit is trying to use 128.0 procs.

[code]

[2019-12-05 21:42] rljacob commented on #3342
@jgfouca what to do here?  Does this mean we have to make the test user have python3 in their path before starting to run?

[2019-12-05 21:50] rljacob opened #3343 "Hi res case broken by new atm2rof mapping"
This case needs an atm2rof map made for it.
--res ne120_oRRS18v3_ICG --compset A_WCYCL2000_H01AS

SMS.ne120_oRRS18v3_ICG.A_WCYCL2000_H01AS.cori-knl_intel.cam-cosplite from the high-res suite will fail without it.

[2019-12-05 21:56] jgfouca commented on #3342
@sarich , @rljacob , boy is that irritating. I hope we can move CIME to python3-only soon so we can stop hitting these issues.

Please change the code to this:

[code]

Which should make it an int in all cases.

[2019-12-05 22:49] ndkeen commented on #3342
I was hitting this same issue this morning. Nice work finding the problem. The change proposed did allow a test job to submit.

Would be nice if the job names were used (currently the job name is blank).

[2019-12-06 15:41] bishtgautam commented on #3272
@jonbob On Compy, I had to set `PIO_TYPENAME_<ATM/CPL/LND>=netcdf` along with the code mod in 50001af3bcfccd5b77ea1e864ecf61893f6a83b3 to get the test to run successfully.

[2019-12-06 18:31] worleyph commented on #3337
I verified the nondeterminancy (two consecutive identical runs generating different results) using

     --res ne4_ne4 --compset FC5AV1C-L

and the default 96 MPI processes (no OpenMP) on three nodes, 40 processes per node. Differences showed up quickly (before completion of nstep 1).  I also see that there is no Depends file for PGI for Compy. as distinct from Intel on Compy (lots going on) and f

[2019-12-06 18:32] oksanaguba commented on #3337
What are Depends files for?

[2019-12-06 18:33] worleyph commented on #3337
file-specific compiler flags, often downgrading optimization level for problem files, but also increasing optimzation for performance sensitive files that can handle the higher levels of optimizations.

[2019-12-06 19:42] #3317 closed

[2019-12-06 23:30] wlin7 opened #3347 "SST_ICE file for F20TRC5-CMIP6 is netcdf-4"
The sst-ice file below for updated F20TRC5-CMIP6 (#3275) is in netcdf-4 classic format, not supported on some machines (e.g., compy)

ocn/docn7/SSTDATA/sst_ice_CMIP6_DECK_E3SM_1x1_c20180213.nc

Converted version (to nc3) is put in place on compy, with filename retained. To be copied to inputdata server after blues is back online.

The issue is created here for record.

[2019-12-08 15:03] worleyph commented on #3337
Determined that the above mentioned F case was (through 5 days, looking at the atm.log)

     a) deterministic and reproducible (with respect to process count) for 2, 4, and 5 MPI processes

     b) deterministic but NOT reproducible for 8, 10, and 20 MPI processes

     c) nondeterministic for 40 MPI processes

using the current compiler flag settings.

[2019-12-08 16:54] worleyph commented on #3337
Replacing "-O2" with "-O1 -M novect" (first thing I thought to try) eliminated the nondeterminism and the nonreproducibility in this one F case (tested with 4, 40, and 96 MPI processes, without threading). So, a Depends file approach (and/or change of compiler version) will allow us to address this issue on Compy. I'll continue poking to see whether the -O1 or the -M novect are sufficient by thems

[2019-12-08 18:04] worleyph commented on #3337
-Mnovect was sufficient to restore determinism and reproducility (in this one example), that is, adding -Mnovect to -O2 .

[2019-12-09 18:09] jgfouca commented on #2993
It looks like this issue can be closed.

[2019-12-09 18:09] #2993 closed

[2019-12-09 19:05] singhbalwinder commented on #3337
Thanks Pat for working on it. pgi/19.7  and pgi/19.10 with complete software stack are available on Compy if you would like to try. Let me know if you would like me to change the machine files for these compilers.

[2019-12-10 00:44] worleyph commented on #3337
Thanks @singhbalwinder . I would like to try them, and I would like your help in doing so. What do I need? Just the modified machine files (which you can provide)?

I don't know who will decide which we will be using going forward, but I'll try to gather some information about these options.

[2019-12-10 07:30] wlin7 commented on #3347
It appears @rljacob has updated the file on the inputdata server. Resolved.

[2019-12-10 07:30] #3347 closed

[2019-12-10 14:19] worleyph opened #3351 "reversed parameters in 2 calls to memset in gptl.c in the timing library"
Two calls to memset in gptl.c in the timing library have their arguments in the wrong order.

line 3672

     memset( timerlist[t], length  * count[t] * sizeof (char), 0 );

should be

     memset( timerlist[t], 0, length  * count[t] * sizeof (char) );

and line 3694

     memset( newtimers, max_count * sizeof (char *), 0 );

should be

     memset( newtimers, 0, max_count * sizeof (char *) );

Th

[2019-12-10 19:19] #3335 closed

[2019-12-11 03:14] dqwu opened #3355 "sl_advection.F90 syntax error with IBM XL compiler on Summit"
The build error is:
[code]
This error is introduced by PR #3306.

The following line (line 1139 of sl_advection.F90) has an extra comma after write():
`if (nerr > 0 .and. par%masterproc) write(iulog,'(a,i3)'), 'sl_unittest FAIL', nerr`

This build error is only reproducible with IBM XL compiler, not reproducible with GNU, Intel or PGI.

For similar issues reported before, see #2976, #2985

[2019-12-11 03:40] dqwu opened #3356 "PnetCDF link errors on Summit related to LDFLAGS"
To reproduce this issue, try to build ne4 F case on Summit with GNU compiler (the default XL compiler has other build errors so far, see issue #3355).

In config_compilers.xml, Summit relies on LDFLAGS to set PnetCDF library for the linker:
[code]

After PR #3334 is merged to master, LDFLAGS will only be used for general link flags, not for adding libraries. Then we will encounter link errors for

[2019-12-11 21:07] mark-petersen commented on #3062
This issue is no longer a problem.

[2019-12-11 21:07] #3062 closed

[2019-12-11 21:07] mark-petersen commented on #2910
This issue is no longer a problem.

[2019-12-11 21:07] #2910 closed

[2019-12-11 21:45] #3356 closed

[2019-12-11 22:59] jonbob commented on #3340
I'm testing a new atm2rof map for this issue and it's passing (most of the time, though compy has its own issues right now). If the next one works as well, I'll try on anvil

[2019-12-12 18:18] singhbalwinder commented on #3337
I tried pgi/19.7 but it seems like it is missing pnetcdf compiled with IntelMPI. I have asked support to build that library.

[2019-12-12 18:29] #3351 closed

[2019-12-13 23:24] ndkeen commented on #1832
Currently, there is an issue with some GNU tests on Cori after a system updated than included a new glibc. However, I can work-around this with slightly modified debug flags (remove -Og) and repeat this test to see it still fails in the same way. It fails with GNU 8.2 and 8.3.  It fails on KNL and haswel. And, I also tested on theta (which still uses older version of glibc) which has the same beha

[2019-12-13 23:32] ndkeen commented on #3270
Update:
The Cori software upgrade just before these tests began failing did update the version of SLES. I'm being told that this included a newer version of glibc (I can get more info). On theta, where these GNU tests still work, the version of SLES is the same as it was before the Cori upgrade.

[code]

I've also found that I can remove the `-Og` flag in our DEBUG set that will allow several of t

[2019-12-18 16:35] naromero77 commented on #3337
My understanding is that determinacy (run the same calculation over and over again and get the bitwise reproducible results) for both MPI and OpenMP are not actually part of the spec AFAIK. They are implementation dependent. I will say that on the BlueGene series of computers, MPI and OpenMP were implemented in deterministic manner according to IBM. There are some universal exceptions, for example

[2019-12-18 17:00] worleyph commented on #3337
Note that this is standard practice for E3SM and its predecessors, and the coding guidelines (and check-in requirements) have allowed us to preserve this for the past 30 years. In this case, it is easily restored with a change to the compiler flags (and is not an MPI or OpenMP issue). We will give it up when there is a significant benefit and when we have reliable methods to determine correctness

[2019-12-18 20:28] jonbob commented on #3340
After testing on compy and anvil, here are a few results to add:
* failures are intermittent and not repeatable
* in non-debug mode, this test seems to pass consistently
* without the testmods, this test seems to pass consistently
* with cosp on but extra output dialed back, this test seems to pass consistently
* failures in debug mode point into pre_rof_mod
* failures in debug mode occur on proce

[2019-12-18 20:29] jonbob commented on #3340
I'm trying with the pgi compiler on compy, just in case a different compiler gives us different failure information...

[2019-12-19 00:14] #3292 closed

[2019-12-19 16:35] #3343 closed

[2019-12-19 20:54] bbye commented on #1832
Yes, in this case, the variable btran2 is a nan. I don't know anything about the FireMod, but from what I can see, the if statement is designed to only calculate over natural vegetation, not crops. For this model configuration, there is no natural vegetation, only crops. Therefore, btran2 would be initialized to nan and the if statement should skip over the calculation.

[2019-12-20 03:46] ndkeen commented on #3270
I've been running a few more experiments and I've found that
a) Almost all GNU DEBUG tests I've tried pass when I change "-Og -ffpe-trap=invalid,zero,overflow" to "-ffpe-trap=zero,overflow "
b) All GNU non-DEBUG tests I've tried pass when I change "-O" to "-O2"

I would want to make this change and allow GNU tests to work now. Then later try to work allowing the invalid trap to work again. My gues

[2019-12-20 20:38] jonbob commented on #3340
The PGI run did help -- I got a core file I can use totalview on and it's pointing out some issues with the way mosart-heat was integrated into the cpl. @rljacob - I'm sure I'll need your help to figure out the right way to fix this. As far as I can tell, the problem is in prep_rof_init:
[code]

The assumption that all fluxes in seq_flds_x2r_fluxes are lnd2rof is no longer true, due to the additio

[2019-12-20 20:43] jonbob commented on #3340
@rljacob - I'm testing an uneducated fix...

[2019-12-21 01:31] rljacob commented on #3340
You're right there's a problem there.  In the mapping call in prep_rof_calc_l2r_rx
[code]
The fldlist has more attributes then what l2racc was initialized with.

Attention @hydrotian and @liho745 .  See above discussion.

[2019-12-23 16:23] jonbob commented on #3340
@rljacob - Thanks for looking at this. I'm testing a more thought-out fix and should know soon if it works.

[2019-12-29 16:28] mt5555 opened #3369 "setting cubed_sphere_map dycore parameter based on mapping files"
New compsets that use TR mapping files need to set "cubed_sphere_map=2" in atm_in, while compsets using ESMF mapping files need "cubed_sphere_map=0".

This is so the internal area matches the mapping file area (needed for conservation).

We currently dont have a way to do this automatically.  We could consider update CIME to do this in the configure system, or it could be done at runtime by the co

[2019-12-31 01:25] mt5555 commented on #3369
workaround that might be sufficient:

in PR#3368, we set cubed_sphere_map=0 for np4 grids and 2 for pg2 grids.  this will work with all the old np4 grids (using ESMF mapping files) and any new pg2 grids (using TR mapping files).   New np4 grids using TR mapping files will still have to set cubed_sphere_map=2 in user_nl_cam.

[2020-01-02 17:57] jonbob commented on #3340
@rljacob - I have a fix and it now passes this test, at least with intel. On compy, pgi complains about some array syntax in cosp -- but passes if I replace the offending lines with do-loops. I looked at the cpl history file with ncview and the x2r fields look ok coming from both lnd and atm. But I'm not sure my solution is the right way -- it's not a part of the cpl I've done much with. I'll make